<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ headerText }}s</b></q-toolbar-title>
      </q-toolbar>
    </div>
    <template v-if="unused">
      <unused-table
        :credits="unused"
        :students="students"
      ></unused-table>
    </template>
    <template v-if="used">
      <used-table
        :credits="used"
        :students="students"
      ></used-table>
    </template>

  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    await this.$store.dispatch("students/loadAllStudents");
    await this.$store.dispatch("credits/loadAllCredits");
  },
  data() {
    return {
      headerText: "Credit",
    };
  },
  components: {
    UsedTable: () => import("./UsedTable.vue"),
    UnusedTable: () => import("./UnusedTable.vue"),
  },
  computed: {
    ...mapState({
      used: (state) => state.credits.used,
      unused: (state) => state.credits.unused,
      students: (state) => state.students.allByKey,
    }),
  },
};
</script>


