<template>
  <div class="q-mt-md">
    <q-dialog v-model="dialog">
      <q-card>
        <q-card-section>
          <h5 class="text-center">Update Amount</h5>
          <FormGenerator
            :formConfig="formConfig"
            :onComplete="handleSubmit"
            :data="selectedCredit"
          />
        </q-card-section>

      </q-card>
    </q-dialog>
    <q-dialog v-model="newDialog">
      <q-card>
        <q-card-section>
          <h5 class="text-center">Add New Credit</h5>
          <FormGenerator
            :formConfig="newFormConfig"
            :onComplete="addCredit"
            :customLists="customLists"
          />
        </q-card-section>

      </q-card>
    </q-dialog>

    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="receipt"
            color="red"
            text-color="white"
          />
          Unused
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">

        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <q-btn
          color="primary"
          icon="add"
          size="sm"
          @click.prevent="newDialog = !newDialog"
        />
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredCredits"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="create"
              @click.prevent="openDialog(props.row)"
            >
              <q-tooltip>
                Edit Credit Details
              </q-tooltip>
            </q-btn>
            <q-btn
              flat
              color="black"
              icon="delete"
              @click.prevent="deleteCredit(props.row.key)"
            >
              <q-tooltip>
                Delete Credit
              </q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <div class="row items-center">
              <div class="col-12 col-md-2">
                <q-icon
                  name="pending_actions"
                  style="font-size: 2em;"
                />
                <span class="text-subtitle2">Credit Details</span>
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { formConfig } from "../../forms/credit";
import { formConfig as newFormConfig } from "../../forms/newcredit";
import { mapState } from "vuex";
import filter from "lodash/filter";
export default {
  props: ["credits", "students"],

  data() {
    return {
      type: null,
      formConfig,
      newFormConfig,
      selectedCredit: null,
      expanded: [],
      searchText: "",
      tableExpand: true,
      dialog: false,
      newDialog: false,
      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "childName",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.studentKey,
          format: (val) => `${this.students[val].childName}`,
          sortable: true,
        },

        {
          name: "amount",
          label: "Amount",
          field: "amount",
          sortable: true,
          field: (row) => row.amount,
          format: (val) => `\$${val}`,
        },

        {
          name: "date",
          label: "Date Issued",
          field: (row) => row.dateIssued,
          format: (val) => `${this.$moment(val).format("DD MMM YYYY")}`,
          sortable: false,
        },
      ],
    };
  },
  components: {
    FormGenerator: () => import("../../components/FormGenerator"),
  },

  computed: {
    customLists() {
      let customLists = {};
      customLists["students"] = Object.keys(this.students).map(
        (key) => this.students[key]
      );
      return customLists;
    },
    filteredCredits() {
      let credits = this.credits;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        credits = filter(
          credits,
          (v) =>
            this.students[v.studentKey] &&
            this.students[v.studentKey].childName &&
            this.students[v.studentKey].childName
              .toLowerCase()
              .indexOf(needle) > -1
        );
      }
      return credits;
    },
  },
  methods: {
    openDialog(credit) {
      this.selectedCredit = credit;
      this.dialog = true;
    },
    deleteCredit(key) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you delete this credit?",
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          await this.$store.dispatch("credits/deleteCredit", key);
          this.$q.notify({
            type: "positive",
            message: `Credit Deleted!`,
          });
        });
    },
    async handleSubmit(data) {
      await this.$store.dispatch("credits/updateCredit", {
        key: this.selectedCredit.key,
        data,
      });
      this.dialog = false;
      this.$q.notify({
        type: "positive",
        message: `Amount Updated!`,
      });
    },
    async addCredit(data) {
      const newcredit = {
        ...data,
        dateIssued: this.$moment().format(),
        used: false,
      };
      await this.$store.dispatch("credits/addCredit", newcredit);
      this.newDialog = false;
      this.$q.notify({
        type: "positive",
        message: `Credit Added!`,
      });
    },
  },
};
</script>

<style></style>
