<template>
  <div class="q-mt-md">

    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="account_balance_wallet"
            color="green"
            text-color="white"
          />
          Used
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">

        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredCredits"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>

        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <div class="row items-center">
              <div class="col-12 col-md-2">
                <q-icon
                  name="pending_actions"
                  style="font-size: 2em;"
                />
                <span class="text-subtitle2">Credit Details</span>
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
export default {
  props: ["credits", "students"],

  data() {
    return {
      type: null,
      expanded: [],
      searchText: "",
      tableExpand: true,
      selectedOrder: null,
      oDialog: false,

      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "childName",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.studentKey,
          format: (val) => `${this.students[val].childName}`,
          sortable: true,
        },

        {
          name: "amount",
          label: "Amount",
          field: "amount",
          sortable: true,
          field: (row) => row.amount,
          format: (val) => `\$${val}`,
        },

        {
          name: "date",
          label: "Date Issued",
          field: (row) => row.dateIssued,
          format: (val) => `${this.$moment(val).format("DD MMM YYYY")}`,
          sortable: false,
        },
      ],
    };
  },

  computed: {
    filteredCredits() {
      let credits = this.credits;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        credits = filter(
          credits,
          (v) =>
            this.students[v.studentKey].childName &&
            this.students[v.studentKey].childName
              .toLowerCase()
              .indexOf(needle) > -1
        );
      }
      return credits;
    },
  },
  methods: {
    deleteCredit(key) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you delete this payment?",
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          await this.$store.dispatch("payments/deletePayment", key);
          this.$q.notify({
            type: "positive",
            message: `Payment Advice Deleted!`,
          });
        });
    },
  },
};
</script>

<style></style>
