<template>
  <q-card
    flat
    bordered
    style="min-height: 80vh"
  >
    <q-list separator>
      <q-item class="bg-orange-5 text-white">
        <q-item-section>
          <q-item-label
            style="font-weight: 600; font-size: 15px"
            class="karla"
          >{{ type === "add" ? "Add Faqs" : faqsDetails.title }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    <transition
      appear
      enter-active-class="animated slideInRight"
    >
      <div>
        <!-- Display Skeleton if no blog is selected -->
        <q-card-section v-if="type === null">
          <skeleton />
        </q-card-section>
        <!-- Edit Blog -->
        <template v-else>
          <q-list>
            <q-item>
              <q-card class="full-width">
                <q-toolbar class="bg-grey-9 text-white">
                  <q-toolbar-title style="font-size: 14px;">{{
                    faqsDetails.title
                  }}</q-toolbar-title>
                  <q-btn
                    flat
                    round
                    dense
                    icon="close"
                    @click="closeEdit"
                  />
                </q-toolbar>
                <q-form
                  @submit="handleSubmit"
                  class="q-gutter-md q-pa-md"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="off"
                  spellcheck="false"
                >
                  <q-input
                    outlined
                    v-model="faqsDetails.title"
                    label="Title"
                  />

                  <quill-editor
                    v-model="faqsDetails.html"
                    ref="myQuillEditor"
                    :options="editorOption"
                  ></quill-editor>
                  <div class="q-mt-xl">
                    <q-btn
                      class="bg-amber-2"
                      outline
                      color="amber-9"
                      rounded
                      label="Submit"
                      type="submit"
                    />
                  </div>
                </q-form>
              </q-card>
            </q-item>
          </q-list>
        </template>
      </div>
    </transition>
  </q-card>
</template>

<script>
export default {
  props: ["type", "faqs", "updateSelected", "faqsKey"],
  watch: {
    faqs(newValue) {
      this.faqsDetails = {
        ...this.emptyDetails,
        ...newValue,
      };
    },
  },
  data() {
    return {
      faqsDetails: {
        title: "",
        active: true,
        html: "",
      },
      emptyDetails: {
        title: "",
        active: true,
        html: "",
      },
      editorOption: {
        // some quill options
      },
    };
  },

  components: {
    Skeleton: () => import("../../../components/Skeleton"),
  },
  methods: {
    async handleSubmit() {
      this.$q.loading.show();
      if (this.type === "add") {
        await this.$store.dispatch("cms/addFaqs", {
          ...this.faqsDetails,
          date: this.$moment().format(),
        });
        this.$q.loading.hide();
      } else if (this.type === "edit") {
        await this.$store.dispatch("cms/updateFaqs", {
          key: this.faqsKey,
          data: {
            ...this.faqsDetails,
            date: this.$moment().format(),
          },
        });

        this.$q.loading.hide();
      }
    },
    closeEdit() {
      this.faqsDetails = {
        title: "",
        active: true,
        html: "",
      };
      this.updateSelected(null, null);
    },
  },
};
</script>
