<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-4">
      <faqs-list :updateSelected="updateSelected"></faqs-list>
    </div>

    <div class="col-xs-12 col-sm-8">
      <faqs-form
        :type="type"
        :faqs="faqs"
        :updateSelected="updateSelected"
        :faqsKey="faqsKey"
      ></faqs-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      type: null,
      faqs: null,
      faqsKey: null,
    };
  },
  components: {
    FaqsList: () => import("./FAQsList"),
    FaqsForm: () => import("./FAQsForm"),
  },
  methods: {
    updateSelected(type, faqs, key) {
      this.type = type;
      this.faqs = faqs;
      this.faqsKey = key;
    },
  },
};
</script>
