<template>
  <div class="q-mt-md">

    <!-- Payments Dialog -->

    <q-dialog v-model="showPaymentDialog">
      <q-layout
        view="Lhh lpR fff"
        container
        class="bg-white"
      >
        <q-header class="bg-primary">
          <q-toolbar>
            <q-toolbar-title>Generate Payment Advice</q-toolbar-title>
            <q-btn
              flat
              v-close-popup
              round
              dense
              icon="close"
            />
          </q-toolbar>
        </q-header>
        <q-page-container v-if="showPaymentDialog">
          <q-page padding>
            <q-form ref="form">
              <div class="flex">
                <year-picker
                  v-model="selectedYear"
                  class="q-ml-xs"
                ></year-picker>
                <month-picker
                  v-model="selectedMonth"
                  class="q-ml-xs"
                ></month-picker>
              </div>
            </q-form>
            <h6 class="q-my-md">Class : {{ cla ?cla.name: cla }}</h6>

            <h6 class="q-mt-md q-mb-none">Selected Students :</h6>
            <template v-for="student in selectedStudents">
              <div
                :key="student.key"
                v-if="checkStatus(student.key, selectedMonth) === '-'"
              >{{ student.childName }}</div>
            </template>
            <h6 class="q-mt-md q-mb-none">Term Dates :</h6>
            <template v-for="date in selectedDates">
              <div
                :key="date.date"
                class="row items-center"
              >
                <div class="col-1">
                  <q-checkbox v-model="date.checked" />

                </div>
                <div class="col">
                  {{ date.date }}
                </div>
              </div>
            </template>
            <h6 class="q-mt-md q-mb-none">
              {{ termDates.length }} sessions Total : ${{ total }}
            </h6>
            <q-btn
              color="primary"
              @click.prevent="generateAdvice"
            >Generate</q-btn>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>

    <!-- Credits Dialog -->
    <q-dialog v-model="showCreditDialog">
      <q-layout
        view="Lhh lpR fff"
        container
        class="bg-white"
      >
        <q-header class="bg-primary">
          <q-toolbar>
            <q-toolbar-title>Issue Credits</q-toolbar-title>
            <q-btn
              flat
              v-close-popup
              round
              dense
              icon="close"
            />
          </q-toolbar>
        </q-header>
        <q-page-container>
          <q-page padding>
            <h6 class="q-my-md">Class : {{ cla.name }}</h6>

            <h6 class="q-mt-md q-mb-none">Selected Students :</h6>
            <template v-for="(student,index) in creditStudents">
              <div
                :key="student.key"
                class="row items-center q-my-md"
              >
                <div class="col-6">
                  {{ student.childName }}
                </div>
                <div class="col-6">
                  <q-input
                    outlined
                    v-model="student.creditAmount"
                    dense
                    style="width: 150px"
                  >
                    <template v-slot:before>
                      <q-btn
                        round
                        dense
                        flat
                        icon="remove"
                        @click.prevent="minusCredit(index)"
                      />
                    </template>

                    <template v-slot:after>
                      <q-btn
                        round
                        dense
                        flat
                        icon="add"
                        @click.prevent="addCredit(index)"
                      />
                    </template>
                  </q-input>
                </div>
              </div>
            </template>

            <q-btn
              class="q-mt-md"
              color="primary"
              @click.prevent="issueCredits"
            >Issue</q-btn>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="pending_actions"
            color="green"
            text-color="white"
          />
          {{ cla.name ? cla.name : cla }}
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <year-picker
          v-model="selectedYear"
          class="q-ml-xs"
        ></year-picker>
        <month-picker
          v-model="selectedMonth"
          class="q-ml-xs"
        ></month-picker>
        <q-btn
          icon="paid"
          class="q-ml-xs"
          color="primary"
          @click.prevent="openPaymentDialog"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Generate Payment Advice
          </q-tooltip>
        </q-btn>
        <q-btn
          icon="mail"
          class="q-ml-xs"
          color="primary"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Send Reminder Email
          </q-tooltip>
        </q-btn>
        <q-btn
          icon="account_balance_wallet"
          class="q-ml-xs"
          color="primary"
          @click="openCreditDialog"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Issue Credits
          </q-tooltip>
        </q-btn>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredStudents"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      selection="multiple"
      :selected.sync="selectedStudents"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width>
            <q-checkbox v-model="props.selected" />
          </q-th>

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <template v-for="month in tableMonths">
            <q-th
              auto-width
              :key="month"
            ><b>{{ month }}</b></q-th>
          </template>
          <q-th auto-width><b>Credits</b></q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-checkbox v-model="props.selected" />
          </q-td>

          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <template v-for="month in tableMonths">

            <q-td :key="month">
              <template v-if="props.row.paymentStatusByMonth[month].status === 'Not Paid'">
                <span style="color: red; font-weight: 600">
                  {{ props.row.paymentStatusByMonth[month].value }}
                </span>
              </template>
              <template v-else>
                {{ props.row.paymentStatusByMonth[month].value }}
              </template>
            </q-td>
          </template>
          <q-td>{{ props.row.credits }}</q-td>

          <q-td auto-width>
            <q-btn
              size="sm"
              color="accent"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import find from "lodash/find";
import { mapState } from "vuex";

export default {
  props: ["students", "cla", "location", "collapse", "sYear", "sMonth"],
  components: {
    MonthPicker: () => import("src/components/MonthPicker.vue"),
    YearPicker: () => import("src/components/YearPicker.vue"),
  },
  data() {
    return {
      type: null,
      selectedMonth: this.$moment().format("MMM"),
      selectedYear: this.$moment().format("YYYY"),
      expanded: [],
      searchText: "",
      tableExpand: true,
      selectedStudents: [],
      selectedDates: [],
      creditStudents: [],
      showPaymentDialog: false,
      showCreditDialog: false,
      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },
      ],
    };
  },
  watch: {
    selectedMonth(newValue) {
      this.initialiseData();
    },
    selectedYear(newValue) {
      this.initialiseData();
    },
    collapse(newValue) {
      this.tableExpand = !newValue;
    },
    sYear(newValue) {
      this.selectedYear = newValue;
    },
    sMonth(newValue) {
      this.selectedMonth = newValue;
    },
  },
  computed: {
    ...mapState({
      payments: (state) => state.payments.list,
      fees: (state) => state.fees.listByKey,
      calendars: (state) => state.calendars.calendars,
      credits: (state) => state.credits.list,
    }),
    filteredStudents() {
      let students = this.students;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        students = filter(
          students,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      let studentsData = [];
      students.forEach((student) => {
        const { key } = student;
        let credits = this.checkCredits(key);
        let paymentStatusByMonth = {};
        this.tableMonths.forEach((month) => {
          paymentStatusByMonth[month] = this.checkStatus(key, month);
        });
        studentsData.push({
          ...student,
          credits,
          paymentStatusByMonth,
        });
      });
      return studentsData;
    },
    checkedDates() {
      return this.selectedDates.filter((d) => d.checked);
    },
    termDates() {
      let dates = [];
      const calendar = this.calendars[this.cla.calendarKey];
      if (calendar) {
        const terms = calendar.terms[this.selectedYear];
        if (terms) {
          let termDates = [];

          Object.keys(terms).map((key) => {
            const term = terms[key];
            term.map((date) =>
              termDates.push(this.$moment(date).format("DD-MM-YYYY"))
            );
          });
          dates = filter(
            termDates,
            (d) =>
              this.$moment(d, "DD-MM-YYYY").format("MMM") === this.selectedMonth
          );
        }
      }
      return dates;
    },
    total() {
      let total = 0;
      const selectedDates = this.selectedDates.filter((d) => d.checked);
      if (selectedDates.length > 0) {
        let fee = this.fees[this.cla.feesKey];
        if (fee.type === "Sessions") {
          total = parseFloat(fee.perSessionRate) * selectedDates.length;
        }
      }
      return total.toFixed(2);
    },
    tableMonths() {
      return [
        this.$moment(`${this.selectedMonth} ${this.selectedYear}`, "MMM YYYY")
          .subtract(1, "month")
          .format("MMM YYYY"),
        this.$moment(
          `${this.selectedMonth} ${this.selectedYear}`,
          "MMM YYYY"
        ).format("MMM YYYY"),
        this.$moment(`${this.selectedMonth} ${this.selectedYear}`, "MMM YYYY")
          .add(1, "month")
          .format("MMM YYYY"),
      ];
    },
  },
  methods: {
    async initialiseData() {
      let months = [
        this.$moment(`${this.selectedMonth} ${this.selectedYear}`, "MMM YYYY")
          .subtract(1, "month")
          .format("MMM YYYY"),
        this.$moment(
          `${this.selectedMonth} ${this.selectedYear}`,
          "MMM YYYY"
        ).format("MMM YYYY"),
        this.$moment(`${this.selectedMonth} ${this.selectedYear}`, "MMM YYYY")
          .add(1, "month")
          .format("MMM YYYY"),
      ];
      let yearList = {};
      months.forEach((month) => {
        let mth = month.split(" ")[0];
        let year = month.split(" ")[1];
        if (yearList[year]) {
          yearList[year].push(mth);
        } else {
          yearList[year] = [mth];
        }
      });
      await this.$store.dispatch("payments/loadPayments", yearList);
      this.selectedDates = [
        ...this.termDates.map((d) => {
          return { date: d, checked: true };
        }),
      ];
    },
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.locationOptions = this.locations.filter(
          (v) => v.name.toLowerCase().indexOf(needle) > -1 && v.active
        );
      });
    },
    addCredit(index) {
      let student = this.creditStudents[index];
      let newCredit = student.creditAmount + 35;
      this.$set(this.creditStudents[index], "creditAmount", newCredit);
    },
    minusCredit(index) {
      let student = this.creditStudents[index];
      let newCredit = student.creditAmount - 35;
      if (newCredit < 0) {
        newCredit = 0;
      }
      this.$set(this.creditStudents[index], "creditAmount", newCredit);
    },
    checkStatus(studentKey, mth) {
      let month = mth.split(" ")[0];
      let year = mth.split(" ")[1];
      let status = { status: null, value: "-" };
      if (this.payments) {
        let found = find(
          this.payments,
          (p) =>
            p.studentKey === studentKey && p.month === month && p.year === year
        );
        if (found) {
          status = {
            status: found.paymentStatus,
            value: `$${parseFloat(found.amount).toFixed(2)}`,
          };
        }
      }
      return status;
    },
    checkCredits(studentKey) {
      let status = "-";
      if (this.credits) {
        let found = filter(this.credits, (p) => p.studentKey === studentKey);
        if (found.length > 0) {
          let total = 0;
          found.forEach((credit) => {
            total += parseFloat(credit.amount);
          });
          return `$${total.toFixed(2)}`;
        }
      }
      return status;
    },
    openPaymentDialog() {
      if (this.selectedStudents.length === 0) {
        this.$q.notify({
          position: "center",
          message: "No student selected",
          color: "red",
        });
      } else {
        this.selectedDates = [
          ...this.termDates.map((d) => {
            return { date: d, checked: true };
          }),
        ];
        this.showPaymentDialog = true;
      }
    },
    openCreditDialog() {
      if (this.selectedStudents.length === 0) {
        this.$q.notify({
          position: "center",
          message: "No student selected",
          color: "red",
        });
      } else {
        this.creditStudents = this.selectedStudents.map((s) => {
          return {
            ...s,
            creditAmount: 35,
          };
        });
        this.showCreditDialog = true;
      }
    },

    async generateAdvice() {
      this.$q.loading.show();
      let termDates = this.checkedDates.map((date) => date.date);
      let data = {
        date: this.$moment().format(),
        amount: this.total,
        className: this.cla.name,
        classKey: this.cla.key,
        month: this.selectedMonth,
        year: this.selectedYear,
        paymentStatus: "Not Paid",
        datesPaid: termDates,
        type: "Term Fees",
      };

      let selectedStudents = this.selectedStudents.filter(
        (s) => this.checkStatus(s.key, this.selectedMonth).value === "-"
      );

      await this.$store.dispatch("payments/addBulkPayments", {
        data,
        students: selectedStudents,
      });

      this.selectedStudents = [];
      this.showPaymentDialog = false;
      this.$q.notify({
        message: "Payment Advice Generated",
      });
      this.$q.loading.hide();
    },
    async issueCredits() {
      this.$q.loading.show();
      await this.$store.dispatch("credits/addBulkCredits", this.creditStudents);
      this.selectedStudents = [];
      this.creditStudents = [];
      this.showCreditDialog = false;
      this.$q.notify({
        message: "Credits Generated",
      });
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
