<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ location.name }} {{ headerText }}s</b></q-toolbar-title>
        <year-picker
          v-model="selectedYear"
          class="q-ml-xs"
        ></year-picker>
        <month-picker
          v-model="selectedMonth"
          class="q-ml-xs"
        ></month-picker>
        <q-select
          v-model="selectedAgeGroup"
          :options="ageGroups"
          outlined
          dense
          class="q-mr-xs"
        />
        <q-btn @click.prevent="collapseAll = !collapseAll">{{ collapseAll ? "Expand" : "Collapse" }} All</q-btn>
      </q-toolbar>
    </div>
    <!-- Stats Card -->
    <div class="row items-center">
      <div
        class="col-12 col-md-6 q-pr-md q-pb-xs"
        v-if="loaded"
      >
        <past-months
          :studentsByClass="studentsByClass"
          :selectedYear="selectedYear"
          :selectedMonth="selectedMonth"
        ></past-months>
      </div>
      <!-- <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <unassigned :students="$store.state.students.all"></unassigned>
      </div>

      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <q-card style="height: 150px">
          <q-card-section>
            <div class="text-caption text-blue-grey-9 q-mb-sm">
              Assigned Students
            </div>
            <h3 class="q-mt-lg ">
              {{ assignedStudents.length }}
            </h3>
          </q-card-section>
        </q-card>
      </div> -->
    </div>
    <!-- End of Stats Card -->

    <template v-for="(students, key) in studentsByClass">
      <template v-if="classes[key]">
        <class-payment-table
          :key="key"
          :students="students"
          :cla="classes[key]"
          :location="location"
          :collapse="collapseAll"
          :sYear="selectedYear"
          :sMonth="selectedMonth"
        ></class-payment-table>
      </template>

    </template>

  </div>
</template>

<script>
import { mapState } from "vuex";
import groupBy from "lodash/groupBy";
export default {
  async created() {
    await this.$store.dispatch("fees/loadFees");
    await this.$store.dispatch("payments/loadAllPayNow");
    await this.initialiseData();
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  data() {
    return {
      headerText: "Payment",
      collapseAll: false,
      selectedAgeGroup: "All",
      selectedMonth: this.$moment().format("MMM"),
      selectedYear: this.$moment().format("YYYY"),
      loaded: false,
    };
  },
  computed: {
    ...mapState({
      location: (state) => state.locations.selectedLocation,
      students: (state) => state.students.list,
      classes: (state) => state.classes.listByKey,
    }),
    studentsByClass() {
      let classes = {};
      if (this.students && this.classes) {
        let students = [...this.students];
        if (this.selectedAgeGroup !== "All") {
          students = students.filter((s) =>
            s.assignedClass.includes(this.selectedAgeGroup)
          );
        }
        if (this.students) {
          classes = groupBy(students, "assignedClassKey");
          classes = Object.keys(classes)
            .sort((a, b) => {
              if (this.classes[a] === null || this.classes[b] === null) {
              }
              if (this.classes[a] && this.classes[b]) {
                let timeA = parseInt(
                  this.$moment(this.classes[a].startTime, "h:mma").format("H")
                );
                let timeB = parseInt(
                  this.$moment(this.classes[b].startTime, "h:mma").format("H")
                );
                return parseInt(this.classes[a].ageGroup.split("U")[1]) <=
                  parseInt(this.classes[b].ageGroup.split("U")[1]) &&
                  timeA <= timeB
                  ? -1
                  : 1;
              }
              return 0;
            })
            .reduce((obj, key) => {
              obj[key] = classes[key];
              return obj;
            }, {});
        }
      }

      return classes;
    },
    ageGroups() {
      let ageGroups = [];
      if (this.classes)
        ageGroups = Object.keys(groupBy(this.classes, "ageGroup")).sort(
          (a, b) =>
            parseInt(a.split("U")[1]) <= parseInt(b.split("U")[1]) ? -1 : 1
        );
      return ["All", ...ageGroups];
    },
  },
  watch: {
    selectedYear(newValue) {
      this.initialiseData();
    },
    selectedMonth(newValue) {
      this.initialiseData();
    },
  },

  components: {
    ClassPaymentTable: () => import("./ClassPaymentTable.vue"),
    PastMonths: () => import("./PastMonths.vue"),
    MonthPicker: () => import("src/components/MonthPicker.vue"),
    YearPicker: () => import("src/components/YearPicker.vue"),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      const month = this.$moment(
        `${this.selectedMonth} ${this.selectedYear}`,
        "MMM YYYY"
      );
      const selectedLocation = this.$store.state.locations.selectedLocation;
      let months = [
        this.$moment(month, "MMM YYYY").subtract(3, "month").format("MMM YYYY"),
        this.$moment(month, "MMM YYYY").subtract(2, "month").format("MMM YYYY"),
        this.$moment(month, "MMM YYYY").subtract(1, "month").format("MMM YYYY"),
        this.$moment(month, "MMM YYYY").format("MMM YYYY"),
        this.$moment(month, "MMM YYYY").add(1, "month").format("MMM YYYY"),
      ];
      let yearList = {};

      months.forEach((month) => {
        let mth = month.split(" ")[0];
        let year = month.split(" ")[1];
        if (yearList[year]) {
          yearList[year].push(mth);
        } else {
          yearList[year] = [mth];
        }
      });
      this.loading = true;
      await Promise.all([
        this.$store.dispatch("students/loadStudents", selectedLocation.name),
        this.$store.dispatch("calendars/loadCalendar", selectedLocation),
        this.$store.dispatch("classes/loadClasses", selectedLocation.name),
        this.$store.dispatch("credits/loadUsedCredits"),
        this.$store.dispatch("credits/loadCredits"),
        this.$store.dispatch("payments/loadPastPayments", yearList),
        this.$store.dispatch("payments/loadPayments", yearList),
      ]);
      this.loaded = true;
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
