<template>
  <q-card>
    <q-card-section>
      <div class="text-caption text-blue-grey-9 q-mb-sm">
        Past Months
      </div>
      <template v-for="(month, index) in pastMonths">
        <div
          :key="index"
          class="row items-center"
        >
          <div
            class="col-7"
            v-if="excelData[month]"
          >
            <span style="font-size: 1.3em; font-weight: 900">
              ${{
                excelData[month].total
              }} ({{ excelData[month].credits}}) /
            </span>
            <span style="font-size: 1.3em; font-weight: 900; color: red">
              ${{
                 excelData[month].unpaid
              }}
            </span>

          </div>

          <div
            class="col-2"
            style="font-size: 10px"
          >
            {{ pastYearMonths[index] }}
          </div>
          <div
            class="col-3 text-right"
            style="font-size: 12px"
            v-if="excelData[month]"
          >
            <DownloadExcel
              :data="excelData[month].list"
              :fields="reportFields"
              name="report.xls"
            >
              <q-btn
                icon="download"
                round
                size="xs"
                color="primary"
              ></q-btn>
            </DownloadExcel>

          </div>
        </div>
      </template>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
import orderBy from "lodash/orderBy";
export default {
  props: ["studentsByClass", "selectedYear", "selectedMonth"],

  data() {
    return {
      reportFields: {
        "Child Name": "childName",
        Email: "email",
        Amount: "amount",
        Credit: "credits",
        Total: "total",
        Status: "paymentStatus",
        Mode: "paymentMode",
      },
    };
  },
  computed: {
    ...mapState({
      payments: (state) => state.payments.pastlist,
      payNows: (state) => state.payments.payNowByKey,
      credits: (state) => state.credits.usedByKey,
      classes: (state) => state.classes.listByKey,
    }),
    excelData() {
      let data = {};

      this.pastYearMonths.forEach((mth) => {
        let month = mth.split(" ")[0];
        let year = mth.split(" ")[1];
        data[month] = {
          list: [],
          total: 0,
          unpaid: 0,
          credits: 0,
        };
        let paymentInClasses = filter(this.payments, (p) =>
          Object.keys(this.classes).includes(p.classKey)
        );
        let paymentsInMonth = filter(paymentInClasses, { month, year });
        paymentsInMonth.forEach((payment, index) => {
          const { paymentStatus, amount, paymentKey, studentKey } = payment;
          let paymentData = {
            ...payment,
            total: paymentStatus === "Paid" ? parseFloat(amount) : 0,
          };
          if (paymentStatus === "Paid") {
            if (this.payNows) {
              const payNow = this.payNows[paymentKey];
              let monthCreditsUsed = {};
              let paymentCreditsUsed = payNow ? payNow.creditsUsed : null;
              if (this.credits && paymentCreditsUsed) {
                let creditsKey = payNow.creditsKey;
                let creditsUsed = 0;
                creditsKey.forEach((key) => {
                  let cred = this.credits[key];
                  if (cred === undefined) {
                  } else if (cred.studentKey === studentKey) {
                    creditsUsed += parseFloat(cred.amount);
                  }
                });
                let paymentAdvices = payNow.paymentAdvices.map((key) => {
                  return {
                    ...this.payments[key],
                  };
                });
                if (paymentAdvices.length === 1) {
                  monthCreditsUsed[month] = creditsUsed;
                } else {
                  let orderedPaymentAdvices = orderBy(paymentAdvices, (p) =>
                    this.$moment().month(p.month)
                  );

                  orderedPaymentAdvices.forEach((pa) => {
                    monthCreditsUsed[pa.month] = monthCreditsUsed[pa.month]
                      ? monthCreditsUsed[pa.month]
                      : 0;
                    if (creditsUsed >= parseFloat(pa.amount)) {
                      monthCreditsUsed[pa.month] = pa.amount;
                      creditsUsed -= pa.amount;
                    } else if (creditsUsed > 0) {
                      monthCreditsUsed[pa.month] = creditsUsed;
                      creditsUsed = 0;
                    }
                  });
                }
                paymentData = {
                  ...paymentData,
                  credits: parseFloat(monthCreditsUsed[month]),
                };
                data[month]["credits"] += paymentData.credits;
              }
              paymentData = {
                ...paymentData,
                paymentMode: payNow ? payNow.paymentDetails.txnType : null,
              };
            }
          } else if (paymentStatus === "Not Paid") {
            data[month]["unpaid"] += parseFloat(amount);
          }
          data[month]["total"] += paymentData.total;

          data[month]["list"].push(paymentData);
        });
      });
      return data;
    },
    pastYearMonths() {
      let months = [];
      const month = this.$moment(
        `${this.selectedMonth} ${this.selectedYear}`,
        "MMM YYYY"
      );
      Array.from(Array(4).keys()).forEach((index) =>
        months.push(
          this.$moment(month, "MMM YYYY")
            .subtract(index, "month")
            .format("MMM YYYY")
        )
      );
      return months;
    },
    pastMonths() {
      let months = [];
      Array.from(Array(4).keys()).forEach((index) =>
        months.push(
          this.$moment(this.selectedMonth, "MMM")
            .subtract(index, "month")
            .format("MMM")
        )
      );
      return months;
    },
  },
};
</script>

<style></style>
