<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-4">
      <page-list :updateSelected="updateSelected"></page-list>
    </div>

    <div class="col-xs-12 col-sm-8">
      <page-form
        :type="type"
        :page="page"
        :updateSelected="updateSelected"
      ></page-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      type: null,
      page: null
    };
  },
  components: {
    PageList: () => import("./PageList"),
    PageForm: () => import("./PageForm")
  },
  methods: {
    updateSelected(type, page) {
      this.type = type;
      this.page = page;
    }
  }
};
</script>

<style></style>
