<template>
  <q-list bordered separator style="min-height: 80vh">
    <q-item class="bg-orange-5 text-white">
      <q-item-section>
        <q-item-label style="font-weight: 600; font-size: 15px" class="karla"
          >Page List</q-item-label
        >
      </q-item-section>
      <q-item-section side>
        <q-icon name="add_circle" color="white" @click="openAdd" />
      </q-item-section>
    </q-item>

    <template v-for="(page, key) in pages">
      <q-item v-ripple :key="key">
        <q-item-section>{{ page.title }}</q-item-section>
        <q-item-section side>
          <q-btn flat round icon="edit" @click="editPage(key)" />
        </q-item-section>
      </q-item>
    </template>
  </q-list>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["updateSelected"],
  async mounted() {
    this.$q.loading.show();
    await this.$store.dispatch("cms/loadPages");
    this.$q.loading.hide();
  },
  computed: {
    ...mapState({
      pages: state => state.cms.pages
    })
  },
  methods: {
    openAdd() {
      this.updateSelected("add");
    },
    editPage(key) {
      this.updateSelected("edit", this.pages[key]);
    }
  }
};
</script>
