<template>
  <div class="row full-width">
    <div class="col-5">
      <q-select
        outlined
        v-model="year"
        :options="yearOptions"
        label="Year"
      />
    </div>
    <div class="col-7">
      <q-select
        outlined
        v-model="month"
        :options="monthOptions"
        label="Month"
        @input="handleMonthChange"
      />
    </div>
    <div class="col-12">
      <q-card
        bordered
        id="printMe"
      >
        <q-card-section class="text-center">
          <div class="row no-wrap">
            <div class="col">
              <div class="text-h6">{{ selectedLocation.name }} {{ month }} {{ year }}</div>
            </div>
            <div class="col-auto">
              <q-btn-group
                outline
                :disabled="coachMonthAttendance === null"
              >
                <q-btn
                  outline
                  icon="remove"
                  size="sm"
                  @click="collapseAll"
                />
                <q-btn
                  outline
                  icon="add"
                  size="sm"
                  @click="expandAll"
                />
                <q-btn
                  outline
                  icon="print"
                  @click="printReport"
                  size="sm"
                />
              </q-btn-group>
            </div>
          </div>
        </q-card-section>
        <template v-if="coachMonthAttendance === null">
          <q-card flat>
            <q-card-section>
              <div class="text-center">
                <q-icon
                  name="sentiment_satisfied"
                  size="100px"
                  color="blue"
                />
                <h4>No report for this month</h4>
              </div>
            </q-card-section>
          </q-card>
        </template>
        <div v-else>
          <template v-for="(coach, key) in coachMonthAttendance">
            <q-expansion-item
              :key="key + 'name'"
              expand-separator
              v-model="expanded[key]"
            >
              <template v-slot:header>
                <q-item-section avatar>
                  <q-avatar icon="perm_identity" />
                </q-item-section>

                <q-item-section>
                  <q-item-label>{{ coachesByKey[key].name }}</q-item-label>
                  <!-- <q-item-label caption>DBS 000-0000-000</q-item-label> -->
                </q-item-section>

                <q-item-section side>
                  <div class="row items-center">
                    <q-chip
                      square
                      color="orange"
                    >
                      {{
                      getTotalSessions(coach)
                      }}
                    </q-chip>
                    <q-chip square>
                      {{
                      getTotal(coach, coachesByKey[key].paymentRate)
                      }}
                    </q-chip>
                  </div>
                </q-item-section>
              </template>
              <q-card class="q-mb-xl">
                <q-card-section>
                  <template v-for="(dates, k) in coach">
                    <div :key="k">
                      <q-chip square>
                        {{
                        $moment(k, 'DD-MM-YYYY').format("DD MMM YYYY")
                        }}
                      </q-chip>
                      <template v-for="att in dates">
                        <q-item :key="att.key">
                          <q-item-section>
                            <q-item-label>{{ classes[att.classKey] ? classes[att.classKey].name : att.classKey }}</q-item-label>
                          </q-item-section>
                          <q-item-section side>
                            {{
                            coachesByKey[key].paymentRate === "OJT"
                            ? "OJT"
                            : `$${coachesByKey[key].paymentRate}`
                            }}
                          </q-item-section>
                        </q-item>
                      </template>
                    </div>
                  </template>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </template>
        </div>
      </q-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    this.$q.loading.show();
    const { termDates } = await this.$store.dispatch(
      "calendars/loadCalendar",
      this.selectedLocation
    );
    const monthDates = this.filterTermDates(
      Object.keys(termDates),
      `${this.year}-${this.$moment().month(this.month).format("MM")}`
    );
    console.log(monthDates);
    await this.$store.dispatch("coaches/loadCoaches");
    await this.$store.dispatch(
      "classes/loadClasses",
      this.selectedLocation.name
    );

    if (monthDates.length > 0) {
      await this.$store.dispatch("attendances/loadCoachAttendanceByDates", {
        dates: monthDates,
        location: this.selectedLocation.name,
      });
    }

    this.$store.subscribe(async (mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        const { termDates } = await this.$store.dispatch(
          "calendars/loadCalendar",
          this.selectedLocation
        );
        const monthDates = this.filterTermDates(
          Object.keys(termDates),
          `${this.year}-${this.$moment().month(this.month).format("MM")}`
        );
        await this.$store.dispatch(
          "classes/loadClasses",
          this.selectedLocation.name
        );
        await this.$store.dispatch("attendances/loadCoachAttendanceByDates", {
          dates: monthDates,
          location: this.selectedLocation.name,
        });
      }
    });
    this.$q.loading.hide();
  },
  computed: {
    ...mapState({
      selectedLocation: (state) => state.locations.selectedLocation,
      termDates: (state) => state.calendars.termDates,
      coachesByKey: (state) => state.coaches.listByKey,
      coachMonthAttendance: (state) => state.attendances.coachMonthAttendance,
      classes: (state) => state.classes.listByKey,
    }),
  },
  data() {
    return {
      expanded: {},
      year: this.$moment().format("YYYY"),
      yearOptions: [
        this.$moment().subtract(1, "years").format("YYYY"),
        this.$moment().format("YYYY"),
      ],
      monthOptions: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ],
      month: this.$moment().format("MMMM"),
    };
  },
  methods: {
    async handleMonthChange(month) {
      const monthDates = this.filterTermDates(
        this.termDates,
        `${this.year}-${this.$moment().month(month).format("MM")}`
      );
      await this.$store.dispatch("attendances/loadCoachAttendanceByDates", {
        dates: monthDates,
        location: this.selectedLocation.name,
      });
    },
    filterTermDates(termDates, monthYear) {
      return termDates.filter((d) =>
        this.$moment(d, "DD-MM-YYYY").format("YYYY-MM-DD").includes(monthYear)
      );
    },
    getTotal(coach, paymentRate) {
      if (paymentRate === "OJT") {
        return "OJT";
      } else {
        let total = 0;
        Object.keys(coach).forEach((key) => {
          total += coach[key].length * paymentRate;
        });

        return "$" + total;
      }
    },
    getTotalSessions(coach) {
      let sessions = 0;
      Object.keys(coach).forEach((key) => {
        sessions += coach[key].length;
      });

      return sessions;
    },
    printReport() {
      // Pass the element id here
      this.$htmlToPaper("printMe");
    },
    expandAll() {
      Object.keys(this.coachMonthAttendance).forEach((key) => {
        this.$set(this.expanded, key, true);
      });
    },
    collapseAll() {
      Object.keys(this.coachMonthAttendance).forEach((key) => {
        this.$set(this.expanded, key, false);
      });
    },
  },
};
</script>

