<template>
  <div class="row full-width">
    <div class="col-5">
      <q-select
        outlined
        v-model="year"
        :options="yearOptions"
        label="Year"
      />
    </div>
    <div class="col-7">
      <q-select
        outlined
        v-model="month"
        :options="monthOptions"
        label="Month"
        @input="handleMonthChange"
      />
    </div>
    <div class="col-12">
      <q-card
        bordered
        id="printMe"
      >
        <q-card-section class="text-center">
          <div class="row no-wrap">
            <div class="col">
              <div class="text-h6">Leads Conversion for {{ month }} {{ year }}</div>
            </div>
            <div class="col-auto">
              <q-btn-group outline>
                <q-btn
                  outline
                  icon="print"
                  @click="printReport"
                  size="sm"
                />
              </q-btn-group>
            </div>
          </div>
        </q-card-section>
        <div>
          <div
            style="border-bottom: 1px solid gray"
            class="row no-wrap"
            :key="key"
          >
            <div class="col-3">
              <div
                style="font-size: 18px"
                class="q-pa-md"
              > Location</div>
            </div>
            <template v-for="(col, index) in columns">
              <div
                class="col"
                :key="index"
              >
                <div
                  style="font-size: 18px"
                  class="q-pa-md"
                >
                  {{col}}</div>
              </div>
            </template>

          </div>
          <template v-for="(loc, key) in locationData">
            <div
              class="row no-wrap"
              style="border-bottom: 1px solid #ebebeb"
              :key="key"
            >
              <div class="col-3">
                <div
                  style="font-size: 18px"
                  class="q-pa-md"
                >{{key}}</div>
              </div>
              <template v-if="loc[year] && loc[year].monthTotal[month]">
                <div class="col">
                  <div
                    style="font-size: 18px"
                    class="q-pa-md"
                  >{{loc[year].monthTotal[month].leads}}</div>
                </div>
                <div class="col">
                  <div
                    style="font-size: 18px"
                    class="q-pa-md"
                  >{{loc[year].monthTotal[month].attended}}</div>
                </div>
                <div class="col">
                  <div
                    style="font-size: 18px"
                    class="q-pa-md"
                  >{{loc[year].monthTotal[month].registered}}</div>
                </div>
                <div class="col">
                  <div
                    style="font-size: 18px; color: red"
                    class="q-pa-md"
                  >{{calcAttended(loc[year].monthTotal[month].leads, loc[year].monthTotal[month].attended) }}%</div>
                </div>
                <div class="col">
                  <div
                    style="font-size: 18px; color: green; font-weight: bold"
                    class="q-pa-md"
                  >{{calcConversion(loc[year].monthTotal[month].registered, loc[year].monthTotal[month].attended) }}%</div>
                </div>
              </template>
            </div>
          </template>
        </div>

      </q-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import groupBy from "lodash/groupBy";
export default {
  async created() {
    this.$q.loading.show();
    await this.$store.dispatch("leads/loadAllLeads");

    this.$q.loading.hide();
  },
  data() {
    return {
      year: this.$moment().format("YYYY"),
      yearOptions: [
        this.$moment().subtract(1, "years").format("YYYY"),
        this.$moment().format("YYYY"),
      ],
      monthOptions: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ],
      columns: [
        "Leads",
        "Attended",
        "Registered",
        "Leads to Follow Up (%)",
        "Conversion (%)",
      ],
      month: this.$moment().format("MMM"),
    };
  },
  computed: {
    ...mapState({
      leads: (state) => state.leads.list,
      locations: (state) =>
        state.locations.list.filter((l) => l.active).map((l) => l.name),
    }),

    locationData() {
      let data = {};
      if (this.leads) {
        let locations = groupBy(this.leads, (l) => l.location.trim());
        Object.keys(locations).forEach((loc) => {
          if (this.locations.includes(loc)) {
            let locationLeads = locations[loc];
            data[loc] = this.getData(locationLeads);
          }
        });
      }
      return data;
    },
  },
  methods: {
    calcAttended(leads, attended) {
      let result = 0;

      result = (((leads - attended) / leads) * 100).toFixed(0);

      return result;
    },
    calcConversion(registered, attended) {
      let result = 0;
      if (registered) {
        result = ((registered / attended) * 100).toFixed(0);
      }
      return result;
    },

    handleMonthChange(month) {
      console.log(month);
    },
    printReport() {},
    getData(locationLeads) {
      let yearTotal = {};
      locationLeads.forEach((lead) => {
        const { dateAdded, dateAttended, studentKey } = lead;
        const month = this.$moment(dateAdded).format("MMM");
        const year = this.$moment(dateAdded).format("YYYY");
        if (yearTotal[year]) {
          if (yearTotal[year].monthTotal[month]) {
            yearTotal[year].monthTotal[month].leads += 1;
            if (dateAttended) {
              yearTotal[year].monthTotal[month].attended += 1;
            }
            if (studentKey) {
              yearTotal[year].monthTotal[month].registered += 1;
            }
          } else {
            yearTotal[year].monthTotal[month] = {
              registered: 0,
              leads: 0,
              attended: 0,
            };
          }
        } else {
          yearTotal[year] = {
            monthTotal: {},
          };
          if (yearTotal[year].monthTotal[month]) {
            yearTotal[year].monthTotal[month].leads += 1;
            if (dateAttended) {
              yearTotal[year].monthTotal[month].attended += 1;
            }
            if (studentKey) {
              yearTotal[year].monthTotal[month].registered += 1;
            }
          } else {
            yearTotal[year].monthTotal[month] = {
              registered: 0,
              leads: 0,
              attended: 0,
            };
          }
        }
      });
      return yearTotal;
    },
  },
};
</script>