<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-4">
      <news-list :updateSelected="updateSelected"></news-list>
    </div>

    <div class="col-xs-12 col-sm-8">
      <news-form
        :type="type"
        :news="news"
        :updateSelected="updateSelected"
        :newsKey="newsKey"
      ></news-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      type: null,
      news: null,
      newsKey: null
    };
  },
  components: {
    NewsList: () => import("./NewsList"),
    NewsForm: () => import("./NewsForm")
  },
  methods: {
    updateSelected(type, news, key) {
      this.type = type;
      this.news = news;
      this.newsKey = key;
    }
  }
};
</script>
