<template>
  <q-card flat bordered style="min-height: 80vh">
    <q-list separator>
      <q-item class="bg-orange-5 text-white">
        <q-item-section>
          <q-item-label
            style="font-weight: 600; font-size: 15px"
            class="karla"
            >{{ type === "add" ? "Add News" : newsDetails.title }}</q-item-label
          >
        </q-item-section></q-item
      ></q-list
    >
    <transition appear enter-active-class="animated slideInRight">
      <div>
        <!-- Display Skeleton if no blog is selected -->
        <q-card-section v-if="type === null">
          <skeleton />
        </q-card-section>
        <!-- Edit Blog -->
        <template v-else>
          <q-list>
            <q-item>
              <q-card class="full-width">
                <q-toolbar class="bg-grey-9 text-white">
                  <q-toolbar-title style="font-size: 14px;">{{
                    newsDetails.title
                  }}</q-toolbar-title>
                  <q-btn flat round dense icon="close" @click="closeEdit" />
                </q-toolbar>
                <q-form
                  @submit="handleSubmit"
                  class="q-gutter-md q-pa-md"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="off"
                  spellcheck="false"
                >
                  <q-input outlined v-model="newsDetails.title" label="Title" />
                  <q-input outlined v-model="newsDetails.URL" label="URL" />
                  <template v-if="newsDetails && newsDetails.featuredImage">
                    <div class="row">
                      <div class="col">
                        <q-img
                          :src="newsDetails.featuredImage"
                          style="max-width: 200px"
                        ></q-img>
                      </div>
                      <div class="col">
                        <q-btn
                          icon="delete"
                          flat
                          @click.prevent="newsDetails.featuredImage = ''"
                        ></q-btn>
                      </div>
                    </div>
                  </template>
                  <q-file v-model="file" label="Featured Image" outlined v-else>
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>
                  <quill-editor
                    v-model="newsDetails.html"
                    ref="myQuillEditor"
                    :options="editorOption"
                  ></quill-editor>
                  <div class="q-mt-xl">
                    <q-btn
                      class="bg-amber-2"
                      outline
                      color="amber-9"
                      rounded
                      label="Submit"
                      type="submit"
                    />
                  </div>
                </q-form>
              </q-card>
            </q-item>
          </q-list>
        </template>
      </div>
    </transition>
  </q-card>
</template>

<script>
export default {
  props: ["type", "news", "updateSelected", "newsKey"],
  watch: {
    news(newValue) {
      this.newsDetails = {
        ...this.emptyDetails,
        ...newValue
      };
    }
  },
  data() {
    return {
      newsDetails: {
        title: "",
        active: true,
        URL: "",
        featuredImage: "",
        html: ""
      },
      emptyDetails: {
        title: "",
        active: true,
        URL: "",
        featuredImage: "",
        html: ""
      },
      file: null,
      editorOption: {
        // some quill options
      }
    };
  },

  components: {
    Skeleton: () => import("../../../components/Skeleton")
  },
  methods: {
    async handleSubmit() {
      this.$q.loading.show();
      if (this.file) {
        const config = {
          headers: { "X-Requested-With": "XMLHttpRequest" }
        };
        const url = "https://api.cloudinary.com/v1_1/firstkick/image/upload";
        var fd = new FormData();
        fd.append("upload_preset", "nml96cqx");
        fd.append("file", this.file);

        await this.$axios
          .post(url, fd, config)
          .then(res => {
            this.newsDetails.featuredImage = res.data.secure_url;
          })
          .catch(err => {
            console.log(err);
          });
      }
      if (this.type === "add") {
        await this.$store.dispatch("cms/addNews", {
          ...this.newsDetails,
          date: this.$moment().format()
        });
        this.$q.loading.hide();
      } else if (this.type === "edit") {
        await this.$store.dispatch("cms/updateNews", {
          key: this.newsKey,
          data: {
            ...this.newsDetails,
            date: this.$moment().format()
          }
        });

        this.$q.loading.hide();
      }
    },
    closeEdit() {
      this.newsDetails = {
        title: "",
        active: true,
        URL: "",
        featuredImage: "",
        html: ""
      };
      this.updateSelected(null, null);
    }
  }
};
</script>
