<template>
  <q-list
    bordered
    separator
    style="min-height: 80vh"
  >
    <q-item class="bg-orange-5 text-white">
      <q-item-section>
        <q-item-label
          style="font-weight: 600; font-size: 15px"
          class="karla"
        >News List</q-item-label>
      </q-item-section>
      <q-item-section side>
        <q-icon
          name="content_copy"
          color="white"
          @click="copy"
        />
        <q-icon
          name="add_circle"
          color="white"
          @click="openAdd"
        />
      </q-item-section>
    </q-item>

    <template v-for="(n, key) in news">
      <q-item
        v-ripple
        :key="key"
      >
        <q-item-section>{{ n.title }}</q-item-section>
        <q-item-section side>
          <div class="flex">
            <q-btn
              flat
              round
              icon="edit"
              @click="editNews(key)"
            />
            <q-btn
              flat
              round
              icon="delete"
              @click="deleteNews(key)"
            />
          </div>
        </q-item-section>
      </q-item>
    </template>
  </q-list>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["updateSelected"],
  async mounted() {
    this.$q.loading.show();
    await this.$store.dispatch("cms/loadNews");
    this.$q.loading.hide();
  },
  computed: {
    ...mapState({
      news: (state) => state.cms.news,
    }),
  },
  methods: {
    openAdd() {
      this.updateSelected("add");
    },
    editNews(key) {
      this.updateSelected("edit", this.news[key], key);
    },
    copy() {
      this.$store.dispatch("cms/bulkCopyNews", this.news);
    },
    deleteNews(key) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you like to delete this news?",
          cancel: true,
          persistent: true,
        })
        .onOk(() => {
          this.$store.dispatch("cms/deleteNews", key);
        });
    },
  },
};
</script>
