<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ headerText }}s</b></q-toolbar-title>
      </q-toolbar>
    </div>
    <!-- Stats Card -->
    <div class="row items-center">
      <!-- <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <past-months :leads="leads"></past-months>
      </div> -->
      <!-- <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <unassigned :students="$store.state.students.all"></unassigned>
      </div> -->
    </div>
    <!-- End of Stats Card -->

    <!-- New Accounts Table -->
    <new-accounts-table
      :accounts="accounts"
      :students="students"
      :users="users"
    ></new-accounts-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      headerText: "Account",
    };
  },
  computed: {
    ...mapState({
      students: (state) => state.students.allByKey,
      accounts: (state) => state.accounts.list,
      users: (state) => state.accounts.users,
    }),
  },

  components: {
    NewAccountsTable: () => import("./NewAccountsTable.vue"),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      Promise.all([
        this.$store.dispatch("students/loadAllStudents"),
        this.$store.dispatch("accounts/loadAccounts"),
        this.$store.dispatch("accounts/loadAllUsers"),
      ]);
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
