<template>
  <div class="q-mt-md">
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="pending_actions"
            color="red"
            text-color="white"
          />
          New Accounts
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="accounts"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      :filter="searchText"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width>
            <b>Children</b>
          </q-th>
          <q-th auto-width>
            <b>Last Signed In</b>
          </q-th>
          <q-th auto-width>
            <b>Profile</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">

          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <div
              v-for="child in props.row.children"
              :key="child"
            >
              <q-chip>
                <q-avatar
                  icon="person"
                  color="red"
                  text-color="white"
                />
                {{ students ? students[child].childName : '-'}}
              </q-chip>
            </div>
          </q-td>
          <q-td>
            {{accountUsers[props.row.key]}}
          </q-td>
          <q-td>
            <q-circular-progress
              show-value
              class="text-white q-ma-md"
              center-color="grey-9"
              size="40px"
              color="light-blue"
            >{{ checkProfile(props.row) }}%</q-circular-progress>
          </q-td>
          <q-td>
            <q-btn
              class="q-mr-sm"
              size="sm"
              round
              dense
              @click.prevent="sendPasswordResetLink(props.row)"
              icon="lock"
            />
            <q-btn
              size="sm"
              color="accent"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />

          </q-td>
        </q-tr>
        <template
          v-if="props.expand"
          :props="props"
        >
          <q-tr class="bg-yellow-1">
            <q-td colspan="100%">
              <div class="row items-center">
                <div class="col-12 col-md-2">
                  <q-icon
                    name="person"
                    style="font-size: 2em;"
                  />
                  <span class="text-subtitle2">Add Sibling Account</span>
                </div>

                <div class="col-12 col-md-4">
                  <q-select
                    v-model="addStudentAccount[props.row.key]"
                    use-input
                    hide-selected
                    fill-input
                    placeholder="Select Student"
                    option-label="childName"
                    :options="studentOptions"
                    @filter="filterFn"
                    style="width:300px"
                  >
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          No results
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </div>

                <div class="col-12 col-md-2 q-px-md">
                  <q-btn
                    color="primary"
                    label="Submit"
                    icon="send"
                    :disable="
                    !addStudentAccount[props.row.key]
                  "
                    @click.prevent="addSiblingAccount(props.row.key)"
                  />
                </div>
              </div>

            </q-td>
          </q-tr>
          <q-tr class="bg-yellow-1">
            <q-td colspan="100%">
              <div class="row items-center">
                <div class="col-12 col-md-2">
                  <q-icon
                    name="person"
                    style="font-size: 2em;"
                  />
                  <span class="text-subtitle2">Change Account Email</span>
                </div>

                <div class="col-12 col-md-4">
                  <q-input
                    outlined
                    v-model="accountEmail[props.row.key]"
                    label="New Email"
                    :rules="[ val => val && val.length > 0 || `Please enter email`]"
                  />
                </div>

                <div class="col-12 col-md-2 q-px-md">
                  <q-btn
                    color="primary"
                    label="Submit"
                    icon="send"
                    @click.prevent="changeAccountEmail(props.row)"
                  />
                </div>
              </div>

            </q-td>
          </q-tr>

        </template>
      </template>

    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import { nodeServer } from "../../configs/site";
export default {
  props: ["accounts", "students", "users"],
  data() {
    return {
      expanded: [],
      searchText: "",
      tableExpand: true,
      studentOptions: [],
      addStudentAccount: {},
      accountEmail: {},
      pagination: {
        sortBy: "email",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Email",
          align: "left",
          field: "email",
          sortable: true,
        },

        {
          name: "parentName",
          label: "Parent",
          field: (row) => row.parentName,
          format: (val) => {
            return val ? val : "N.A.";
          },
          sortable: true,
        },
      ],
    };
  },
  watch: {
    students(newValue) {
      if (newValue) this.studentOptions = filter(newValue, (o) => o.active);
    },
  },
  computed: {
    accountUsers() {
      let users = {};
      this.users.forEach((item) => {
        users[item.uid] = item.metadata.lastSignInTime
          ? this.$moment(item.metadata.lastSignInTime).format(
              "DD-MM-YYYY @ hh:mma"
            )
          : "Not Signed In";
      });
      return users;
    },
  },

  methods: {
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.studentOptions = filter(this.students, (v) => {
          if (!v.childName) console.log(v.key);
          return v.childName.toLowerCase().indexOf(needle) > -1;
        });
      });
    },

    checkProfile(account) {
      let profile = 0;
      account.parentName ? (profile += 50) : null;
      account.address ? (profile += 50) : null;
      return profile;
    },

    async pushNotification(account) {
      this.$store.dispatch("notifications/addNotifications", {
        tokens: account.tokens,
        data: {
          title: "Testing",
          message: "Please make payment for new Term! Thank you.",
        },
      });
    },

    async sendPasswordResetLink(account) {
      this.$q.loading.show();
      let { email } = account;
      if (email) {
        await this.$axios(`${nodeServer}/accounts/reset-password/${email}`);
        this.$q.notify({
          type: "positive",
          message: `Password reset email sent!`,
        });
        this.$q.loading.hide();
      } else {
        this.$q.notify({
          type: "warning",
          message: `Account doesn't have a valid email`,
        });
        this.$q.loading.hide();
      }
    },
    async addSiblingAccount(accountKey) {
      this.$q.loading.show();
      let childKey = this.addStudentAccount[accountKey].key;
      if (childKey)
        this.$store.dispatch("accounts/updateAccount", {
          key: accountKey,
          data: { child: childKey },
        });
      delete this.addStudentAccount[accountKey];
      this.$q.loading.hide();
    },
    async changeAccountEmail(account) {
      this.$q.loading.show();
      let newEmail = this.accountEmail[account.key];
      if (newEmail) {
        this.$store
          .dispatch("accounts/changeAccountEmail", {
            account,
            email: newEmail,
          })
          .then((resp) => {
            this.$q.notify({
              type: "positive",
              message: `New Email Account created`,
            });
            this.$q.loading.hide();
          })
          .catch((err) => {
            this.$q.notify({
              type: "negative",
              message: err,
            });
            this.$q.loading.hide();
          });
      } else {
        this.$q.notify({
          type: "warning",
          message: `Please enter a valid email`,
        });
        this.$q.loading.hide();
      }
    },
  },
};
</script>

<style></style>
