<template>
  <div class="full-width">
    <div class="row no-wrap  ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title
          ><b>{{ selectedLocation.name }} {{ headerText }}</b></q-toolbar-title
        >

        <q-input
          dense
          outlined
          rounded
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon v-if="searchText === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <download-csv :data="csvArchived">
          <q-btn color="primary" icon="get_app" class="q-ml-md"> </q-btn>
        </download-csv>
      </q-toolbar>
    </div>

    <q-list bordered class="q-mt-lg bg-white">
      <template v-for="student in filteredStudents">
        <q-item :key="student.key">
          <q-item-section avatar>
            <q-icon name="person" />
          </q-item-section>
          <q-item-section>
            <b>{{ student.childName }}</b>
          </q-item-section>
          <q-item-section side>
            <q-btn flat round icon="create" />
          </q-item-section>
        </q-item>
      </template>
    </q-list>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    await this.initialiseData();

    await this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  data() {
    return {
      headerText: "Archived List",
      searchText: ""
    };
  },
  computed: {
    ...mapState({
      archived: state => state.students.archived,
      selectedLocation: state => state.locations.selectedLocation
    }),
    csvArchived() {
      let csvArchived = [];
      if (this.archived) {
        this.archived.forEach(s => {
          csvArchived.push({
            Name: s.childName,
            Email: s.email,
            DOB: this.$moment(s.dateOfBirth).format("DD-MM-YYYY"),
            Centre: this.selectedLocation.name,
            Phone: s.contact,
            Phone2: s.contact2,
            "Age Group": s.ageGroup,
            "Parent Name": s.parentName,
            "Class Day": s.currentClassDay,
            "Class Time": s.currentClassTime,
            Gender: s.gender,
            Status: s.status
          });
        });
      }
      return csvArchived;
    },
    filteredStudents() {
      return this.archived.filter(student => {
        const text = student.childName.toLowerCase();
        const currentClassTime = student.currentClassTime;
        return (
          currentClassTime !== "0" &&
          (this.searchText.length === 0 || text.indexOf(this.searchText) > -1)
        );
      });
    }
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;
      await this.$store.dispatch(
        "students/loadArchivedStudents",
        selectedLocation.id
      );
      this.$q.loading.hide();
    }
  }
};
</script>
