<template>
  <div class="full-width">
    <!-- Dialog box for Delete Confirmation -->
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >You are going to delete
            {{ selectedLead ? selectedLead.name : null }}?</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Delete"
            color="primary"
            @click.prevent="deleteLead"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End of Dialog Box -->

    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title
          ><b> {{ headerText }}s</b></q-toolbar-title
        >

        <q-input
          dense
          outlined
          rounded
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon v-if="searchText === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <download-csv :data="ccleads">
          <q-btn color="primary" icon="get_app" class="q-ml-md"> </q-btn>
        </download-csv>

        <!-- <q-btn
          color="primary"
          icon="add"
          class="q-ml-md"
          @click.prevent="onAdd"
          :label="$q.screen.xs ? '' : `Add ${headerText}`"
        /> -->
      </q-toolbar>
    </div>

    <q-table
      class="q-mt-lg"
      :grid="$q.screen.xs"
      title=""
      :data="filteredLeads"
      :columns="columns"
      :pagination="pagination"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            <b>{{ col.label }}</b>
          </q-th>
          <q-th>
            <b>Actions</b>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              round
              icon="delete"
              @click.prevent="checkConfirm(props.row)"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";

//import { VueCsvImport } from "vue-csv-import";
export default {
  async created() {
    this.$q.loading.show();
    await this.$store.dispatch("ccleads/loadccLeads");
    this.$q.loading.hide();
  },
  data() {
    return {
      searchText: "",
      headerText: "Coaching Course Lead",
      parseCsv: null,
      confirm: false,
      selectedLead: null,
      pagination: {
        sortBy: "dateAdded",
        descending: true,
        rowsPerPage: 25
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name,
          format: val => `${val.toUpperCase()}`,
          sortable: true
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },

        {
          name: "occupation",
          label: "Occupation",
          field: "occupation",
          sortable: true
        },
        {
          name: "dob",
          required: true,
          label: "Age",
          field: row => row.dateOfBirth,
          format: val => {
            return val ? this.getAge(val) + " y.o." : "N.A.";
          },
          sortable: true
        },
        {
          name: "dateAdded",
          required: true,
          label: "Date Added",
          field: row => row.dateAdded,
          format: val => {
            return this.$moment(val).format("DD MMM YYYY");
          },
          sortable: true
        }
      ]
    };
  },
  computed: {
    ...mapState({
      ccleads: state => state.ccleads.ccleads
    }),
    filteredLeads() {
      let leads = this.ccleads;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        leads = filter(leads, v => v.name.toLowerCase().indexOf(needle) > -1);
      }
      return leads;
    }
  },
  methods: {
    submitLeads() {
      if (this.parseCsv) {
        this.parseCsv.forEach(async lead => {
          await this.$store.dispatch("leads/addLead", {
            ...lead,
            dateAdded: this.$moment().format(),
            source: "CSV"
          });
        });
      }
    },
    checkConfirm(lead) {
      this.selectedLead = lead;
      this.confirm = true;
    },
    async deleteLead() {
      this.$q.loading.show();
      await this.$store.dispatch("ccleads/deleteLead", this.selectedLead.key);
      this.confirm = false;
      this.selectedLead = null;
      this.$q.loading.hide();
    },
    getAge(dob) {
      let age = this.$moment().diff(
        this.$moment(dob, "YYYY-MM-DD"),
        "years",
        true
      );

      return age.toFixed(1);
    }
  }
};
</script>
