<template>
  <div style="row full-width">
    <div class="col-12">
      <q-list>
        <q-item>
          <q-btn @click.prevent="copyPayment" label="Copy Payment to Firestore" />
        </q-item>
        <template v-for="(yearPayments, year) in groupedPayments">
          <q-item :key="year">
            <q-item-section>{{year}} - {{yearPayments.length}}</q-item-section>
          </q-item>
        </template>
        FS2020 {{ Object.keys(fsPayments).length}}
        NotAdded {{notAddedPayments.length}}
      </q-list>
      <q-list>
        <template v-for="item in notAddedPayments">
          <q-item>{{item}}</q-item>
        </template>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import groupBy from "lodash/groupBy";
export default {
  created() {
    this.initialiseData();
  },
  computed: {
    ...mapState({
      payments: (state) => state.payments.payments,
      fsPayments: (state) => state.payments.fsPayments,
    }),
    groupedPayments() {
      return groupBy(this.payments, (o) => this.$moment(o.date).format("YYYY"));
    },
    notAddedPayments() {
      let notAdded = [];
      const keys = Object.keys(this.fsPayments).map(
        (key) => `${this.fsPayments[key].childKey}${this.fsPayments[key].date}`
      );
      if (this.groupedPayments)
        this.groupedPayments["2020"].forEach((item) => {
          if (keys.includes(`${item.childKey}${item.date}`) === false) {
            notAdded.push(item);
          }
        });
      return notAdded;
    },
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await this.$store.dispatch("payments/loadPayments");
      await this.$store.dispatch("payments/loadFSPayments");
      this.$q.loading.hide();
    },
    async copyPayment() {
      this.$q.loading.show();
      Object.keys(this.payments).reduce(async (chain, paymentKey) => {
        await chain;
        return new Promise(async (resolve, reject) => {
          let payment = this.payments[paymentKey];
          if (payment.signature) {
            delete payment.signature;
          }
          if (payment.termsPaid) {
            let termsPaid = [],
              perSessionRate = 0,
              datesPaid = [];
            Object.keys(payment.termsPaid).forEach((termKey) => {
              let term = payment.termsPaid[termKey];
              if (term) {
                termsPaid.push(termKey);
                term.map((date) => {
                  datesPaid.push(date.date);
                });
                perSessionRate = term[0].perSession;
              }
            });
            payment = {
              ...payment,
              termsPaid,
              datesPaid,
              perSessionRate,
            };
            console.log(payment);
            if (payment) {
              await this.$store.dispatch("payments/copyPayment", payment);
              resolve();
            } else {
              console.log(payment);
              reject();
            }
          } else {
            console.log("Error", payment);
            resolve();
          }
        });
      }, Promise.resolve());
      this.$q.loading.hide();
    },
  },
};
</script>

<style>
</style>