<template>
  <div style="row full-width">
    <div class="col-12">
      <q-list>
        <q-item>
          <q-btn
            @click.prevent="copyCredits"
            label="Copy Credits to Firestore"
          />
        </q-item>
        <q-item>Credits {{ credits.length }}</q-item>
        <q-item>Used Credits {{ usedCredits.length }}</q-item>
        <q-item>FS Credits {{ fsCredits.length }}</q-item>
        <q-item
          >Class Credits {{ classCredits ? classCredits.length : "0" }}
          <q-btn @click.prevent="deleteCredits" label="Delete Class Credits"
        /></q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import groupBy from "lodash/groupBy";
export default {
  created() {
    this.initialiseData();
  },
  computed: {
    ...mapState({
      credits: state => state.credits.credits,
      fsCredits: state => state.credits.fsCredits
    }),
    usedCredits() {
      return this.credits.filter(o => o.dateUsed !== undefined);
    },
    classCredits() {
      return this.fsCredits.filter(o => o.venueId !== undefined);
    }
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await this.$store.dispatch("credits/loadCredits");
      await this.$store.dispatch("credits/loadFSCredits");
      this.$q.loading.hide();
    },
    async copyCredits() {
      this.$q.loading.show();
      Object.keys(this.credits).reduce(async (chain, creditKey) => {
        await chain;
        return new Promise(async (resolve, reject) => {
          const credit = this.credits[creditKey];
          if (credit.dateUsed !== undefined) {
            await this.$store.dispatch("credits/copyCreditToUsed", credit);
            resolve();
          } else {
            await this.$store.dispatch("credits/copyCredits", credit);
            resolve();
          }
        });
      }, Promise.resolve());
      this.$q.loading.hide();
    },
    async deleteCredits() {
      this.$q.loading.show();
      Object.keys(this.classCredits).reduce(async (chain, creditKey) => {
        await chain;
        return new Promise(async (resolve, reject) => {
          await this.$store.dispatch("credits/deleteCredit", creditKey);
          resolve();
        });
      }, Promise.resolve());
      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
