<template>
  <div style="row full-width">
    <div class="col-12">
      <q-list>
        <q-item>
          <q-btn
            @click.prevent="copyClasses"
            label="Copy Classes to Firestore"
          />
        </q-item>
        <q-item>Classes {{ classes ? classes.length : "0" }}</q-item>
        <q-item>FS Classes {{ fsClasses ? fsClasses.length : "0" }}</q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  created() {
    this.initialiseData();
  },
  computed: {
    ...mapState({
      classes: state => state.classes.list,
      fsClasses: state => state.classes.fsList
    })
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await this.$store.dispatch("classes/loadClasses");
      await this.$store.dispatch("classes/loadFSClasses");
      this.$q.loading.hide();
    },
    async copyClasses() {
      this.$q.loading.show();
      Object.keys(this.classes).reduce(async (chain, classKey) => {
        await chain;
        return new Promise(async (resolve, reject) => {
          const cla = this.classes[classKey];
          await this.$store.dispatch("classes/copyClasses", cla);
          resolve();
        });
      }, Promise.resolve());
      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
