<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-5">
      <q-list
        bordered
        separator
        style="min-height: 80vh"
      >
        <q-item class="bg-accent text-white">
          <q-item-section>
            <q-item-label
              style="font-weight: 600; font-size: 15px"
              class="karla"
            >Fees</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-icon
              name="add_circle"
              color="white"
              @click="onAdd"
            />
          </q-item-section>
        </q-item>
        <template v-for="fee in $store.state.fees.list">
          <q-item :key="fee.key">
            <q-item-section>
              <b>{{ fee.name }}</b>
            </q-item-section>
            <q-item-section>{{['Month', 'Sessions'].includes(fee.type) ? 'By ': ''}}{{ fee.type }}</q-item-section>
            <q-item-section v-if="fee.type === 'One Time'">${{ fee.amount }}</q-item-section>

            <q-item-section v-if="fee.type === 'Month'">${{ fee.monthRate }}</q-item-section>
            <q-item-section v-if="fee.type === 'Sessions'">
              <template v-for="(sf, index) in fee.amount">
                <div
                  class="row"
                  :key="index"
                >
                  <div class="col-12">
                    {{ sf.numberOfSessions }} - ${{ sf.amount }}
                  </div>
                </div>
              </template>
            </q-item-section>
            <q-item-section avatar>
              <q-icon
                name="create"
                @click.prevent="onEdit(fee)"
              ></q-icon>
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </div>
    <div class="col-xs-12 col-sm-7">
      <q-card
        flat
        bordered
        style="min-height: 80vh"
      >
        <transition
          appear
          enter-active-class="animated slideInRight"
        >
          <template v-if="type === 'add'">
            <q-list separator>
              <q-item class="bg-accent text-white">
                <q-item-section>
                  <q-item-label
                    style="font-weight: 600; font-size: 15px"
                    class="karla"
                  >New Fees Details</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <FeesForm :onComplete="handleSubmit" />
                </q-item-section>
              </q-item>
            </q-list>
          </template>
          <template v-else-if="type === 'edit'">
            <q-list separator>
              <q-item class="bg-accent text-white">
                <q-item-section>
                  <q-item-label
                    style="font-weight: 600; font-size: 15px"
                    class="karla"
                  >{{ selectedFee.name }} Details</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <FeesForm
                    :onComplete="handleSubmit"
                    :data="selectedFee"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </template>

          <q-card-section v-if="type === null">
            <div class="q-pa-md">
              <div class="q-gutter-sm">
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton height="150px" />
                <q-skeleton type="rect" />
              </div>
            </div>
          </q-card-section>
        </transition>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  async created() {
    await this.initialiseData();

    await this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  data() {
    return {
      type: null,
      selectedFee: null,
    };
  },
  methods: {
    initialiseData() {
      return new Promise(async (resolve, reject) => {
        await this.$store.dispatch("fees/loadFees");
        resolve();
      });
    },
    onAdd() {
      this.type = "add";
    },
    onEdit(fee) {
      this.selectedFee = fee;
      this.type = "edit";
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      if (this.type === "add") await this.$store.dispatch("fees/addFees", data);
      else if (this.type === "edit")
        await this.$store.dispatch("fees/updateFees", {
          data,
          key: this.selectedFee.key,
        });
      this.$q.loading.hide();
    },
  },
  components: {
    FeesForm: () => import("../components/FeesForm"),
  },
};
</script>

<style></style>
