<template>
  <div class="row full-width bg-white">
    <template v-for="(link, index) in links">
      <template
        v-if="link.roles.includes($store.state.auth.user.assignedRoles)"
      >
        <template v-if="link.type === 'parent'">
          <div class="col-md-6 col-12" :key="index">
            <q-btn
              :icon="link.icon"
              :label="link.title"
              class="full-width text-dark q-py-md"
            >
              <q-menu transition-show="jump-down" transition-hide="jump-up" fit>
                <q-list>
                  <template v-for="child in link.children">
                    <q-item clickable :key="child.title" :to="child.link">
                      <q-item-section>{{ child.title }}</q-item-section>
                    </q-item>
                  </template>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </template>
        <div class="col-md-6 col-12" :key="index" v-else>
          <q-btn
            :icon="link.icon"
            :label="link.title"
            class="full-width text-dark q-py-md"
            :to="link.link"
          />
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import { links } from "../configs/site";
export default {
  name: "PageIndex",
  data() {
    return {
      links
    };
  }
};
</script>
