<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex flex-center">
        <div class="row items-center justify-center">
          <div class="col-12 text-center">
            <img alt="Quasar logo" src="~assets/logo.png" />
          </div>
          <div class="col-12">
            <q-form @submit="login" class="q-gutter-md">
              <q-input
                outlined
                v-model="user.email"
                label="Your Username *"
                lazy-rules
                :rules="[val => (val && val.length > 0) || 'Please type email']"
              />

              <q-input
                outlined
                type="password"
                v-model="user.password"
                label="Your Password *"
                lazy-rules
                :rules="[
                  val =>
                    (val !== null && val !== '') || 'Please type your password'
                ]"
              />

              <div>
                <q-btn label="Login" class="full-width" type="submit" color="primary" />
              </div>
            </q-form>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Loading } from "quasar";
export default {
  data() {
    return {
      loading: false,
      user: {
        email: "",
        password: "",
      },
    };
  },

  methods: {
    login: async function () {
      Loading.show();
      await this.$store
        .dispatch("auth/signIn", this.user)
        .then((user) => {
          this.$router.replace({ name: "home" }).catch(() => {});
        })
        .catch((error) => {
          this.$q.notify({
            title: "Error",
            message:
              "An error has ocurred while login in. Check your user data.",
          });
        });
      Loading.hide();
    },
  },
};
</script>
