<template>
  <div class="row full-width">
    <template v-if="pay">
      <Drawer
        :title="`New Payment`"
        :show="dialog"
        :onClose="
          () => {
            dialog = !dialog;
          }
        "
      >
        <div class="row">
          <div class="col-8">
            <PaymentForm :student="selectedStudent" />
          </div>
          <div class="col-4">
            <PaymentHistory :data="studentPayments" />
          </div>
        </div>
      </Drawer>
    </template>
    <q-dialog v-model="confirm">
      <q-card v-if="confirm">
        <q-card-section class="row items-center">
          <q-avatar icon="how_to_reg" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >You are registering {{ this.selectedStudent.childName }} as a
            student.<br />
            Choose which option to proceed.</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn label="Cancel" color="accent" v-close-popup />
          <q-btn
            label="Register"
            color="accent"
            v-close-popup
            @click.native="register"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <div class="col-xs-12 col-sm-4">
      <!-- Start of - Display List of Classes -->
      <q-list bordered separator style="min-height: 80vh">
        <q-item class="bg-accent text-white">
          <q-item-section>
            <q-item-label
              style="font-weight: 600; font-size: 15px"
              class="karla"
              >Monthly Classes</q-item-label
            >
          </q-item-section>
        </q-item>

        <template v-for="(cla, index) in monthlyClasses">
          <q-item v-ripple :key="cla.key">
            <q-item-section avatar>
              <q-chip
                >{{ cla.students.length }} /
                {{ cla.classSize ? cla.classSize : "Not Set" }}</q-chip
              >
            </q-item-section>
            <q-item-section>{{ cla.name }}</q-item-section>
            <q-item-section side>
              <q-btn
                flat
                round
                icon="edit"
                @click="updateSelected(cla, index)"
              />
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </div>
    <!-- End of - Display List of Classes -->

    <!-- Start of - Display Selected Class -->
    <div class="col-xs-12 col-sm-8">
      <q-card flat bordered style="min-height: 80vh">
        <transition appear enter-active-class="animated slideInRight">
          <div>
            <!-- Display Class Name -->
            <template v-if="selectedClass">
              <q-list separator>
                <q-item class="bg-accent text-white">
                  <q-item-section>
                    <q-item-label
                      style="font-weight: 600; font-size: 15px"
                      class="karla"
                      >{{ selectedClass.name }}</q-item-label
                    >
                  </q-item-section>
                </q-item>
              </q-list>

              <!-- Display Class Term Dates -->
              <template v-if="classTermDates.length > 0">
                <div class="q-ma-md">
                  <q-btn-toggle
                    style="border: 1px solid #d28065 "
                    v-model="selectedDate"
                    toggle-color="accent"
                    :options="classTermDates"
                    color="white"
                    unelevated
                    text-color="accent"
                  />
                </div>
              </template>
              <template v-else>
                <div class="q-ma-md">
                  <h6 class="q-ma-none text-red">No Term Dates</h6>
                </div>
              </template>

              <!-- Display List of Students/Trials/Empty Slots -->
            </template>

            <!-- Display Skeleton if no class is selected -->
            <q-card-section v-if="selectedClass === null">
              <div class="q-pa-md">
                <div class="q-gutter-sm">
                  <q-skeleton type="rect" />
                  <q-skeleton type="rect" />
                  <q-skeleton type="rect" />
                  <q-skeleton height="150px" />
                  <q-skeleton type="rect" />
                </div>
              </div>
            </q-card-section>
          </div>
        </transition>
      </q-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
import orderBy from "lodash/orderBy";
import find from "lodash/find";
import { generateJerseyEmail } from "../helpers/generateJerseyEmail";
export default {
  async mounted() {
    this.$q.loading.show();
    await this.$store.dispatch("fees/loadFees");
    await this.$store.dispatch("accounts/loadAccounts");

    
    this.$q.loading.hide();
  },
  data() {
    return {
      type: null,
      selectedClass: null,
      selectedClassIndex: null,
      studentsInClass: [],
      selectedSlot: null,
      selectedStudent: null,
      selectedStudentIndex: null,
      selectedTrial: null,
      studentsList: [],
      trialsList: [],
      selectedDate: null,
      monthlyClasses: [],
      confirm: false,
      pay: false,
      dialog: false
    };
  },
  watch: {
    selectedDate(newValue) {
      this.updateSelected(this.selectedClass, this.selectedClassIndex);
    },
    async selectedLocation(newValue) {
      this.$q.loading.show();
      this.selectedClass = null;
      await this.initialiseData();
      this.$q.loading.hide();
    }
  },
  components: {
    Drawer: () => import("../components/Drawer"),
    PaymentForm: () => import("../components/PaymentForm"),
    PaymentHistory: () => import("../components/PaymentHistory")
  },
  computed: {
    ...mapState({
      locations: state => state.locations.locations,
      selectedLocation: state => state.locations.selectedLocation,
      students: state => state.students.studentsByKey,
      studentList: state => state.students.students,
      feesByKey: state => state.fees.feesByKey,
      calendar: state => state.calendars.selectedCalendarDetails,
      studentsClass: state => state.classgroup.studentsClass,
      trialsClass: state => state.classgroup.trialsClass,
      leads: state => state.leads.leadsByKey,
      studentPayments: state => state.payments.studentPayments,
      accounts: state => state.accounts.accounts
    }),
    classTermDates() {
      let termDates = [];
      if (this.calendar && this.calendar.termDates) {
        let count = 0;
        this.calendar.termDates.forEach(date => {
          let weekBefore = this.$moment().subtract(2, "weeks");
          if (
            this.$moment(date, "DD-MM-YYYYY").isSameOrAfter(weekBefore) &&
            count < 6
          ) {
            termDates.push({
              label: this.$moment(date, "DD-MM-YYYY").format("DD-MMM"),
              value: date
            });
            count++;
          }
        });
        termDates.sort(
          (a, b) =>
            new this.$moment(a.value, "DD-MM-YYYY").format("YYYYMMDD") -
            new this.$moment(b.value, "DD-MM-YYYY").format("YYYYMMDD")
        );
      }
      return termDates;
    },
    studentOptions() {
      let students = [];
      Object.keys(this.students).forEach(key => {
        const { childName } = this.students[key];
        students.push({
          label: childName,
          value: key
        });
      });
      return students;
    },
    trialOptions() {
      let trials = [];
      Object.keys(this.leads).forEach(key => {
        const { childName } = this.leads[key];
        trials.push({
          label: childName,
          value: key
        });
      });
      return trials;
    }
  },
  methods: {
    initialiseData() {
      return new Promise(async (resolve, reject) => {
        const {
          classes,
          id,
          name
        } = this.$store.state.locations.selectedLocation;
        let monthly = [];
        let promises = [];
        if (classes) {
          Object.keys(classes).forEach(key => {
            const { active, feesKey } = classes[key];
            if (active && feesKey === "-MD31BmFwanplg-qsU41") {
              let a = new Promise(async (resolve, reject) => {
                const students = await this.$store.dispatch(
                  "classgroup/loadStudentsClass",
                  key
                );
                promises.push(students);
                const trials = await this.$store.dispatch(
                  "classgroup/loadTrialsClass",
                  key
                );
                monthly.push({
                  ...classes[key],
                  students: students ? students : [],
                  trials: trials ? trials : [],
                  key
                });
                resolve();
              });

              promises.push(a);
            }
          });
        }
        await Promise.all(promises);
        this.monthlyClasses = orderBy(monthly, ["minAge", "startTime"]);

        await this.$store.dispatch("students/loadStudents", id);
        await this.$store.dispatch("leads/loadLeads", name);

        resolve();
      });
    },
    filterStudent(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.studentOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.studentsList = filter(
          this.studentOptions,
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterTrial(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.trialOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.trialsList = filter(
          this.trialOptions,
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    addNewClass() {
      this.type = "add";
    },

    async updateSelected(cla, index) {
      this.$q.loading.show();
      await this.$store.dispatch("calendars/getCalendar", cla.calendarKey);
      this.studentsInClass = [];
      this.selectedClass = cla;
      this.selectedClassIndex = index;
      const { students, trials } = cla;
      if (this.selectedDate === null) {
        this.selectedDate =
          this.classTermDates.length > 0 ? this.classTermDates[0].value : null;
      }

      if (cla.classSize) {
        let classgroup = [];
        if (students) {
          students.forEach(student => {
            classgroup.push({
              ...student,
              account:
                find(this.accounts, { email: student.email }) !== undefined,
              type: "Student"
            });
          });
        }
        if (trials) {
          let filteredTrials = trials.filter(
            trial => trial.dateOfTrial === this.selectedDate
          );
          filteredTrials.forEach(trial => {
            classgroup.push({
              ...trial,
              type: "Trial"
            });
          });
        }
        Array(cla.classSize)
          .fill()
          .map((_, i) => {
            if (classgroup && classgroup[i]) {
              this.studentsInClass.push(classgroup[i]);
            } else {
              this.studentsInClass.push({
                studentKey: "",
                key: ""
              });
            }
          });
      }

      this.$q.loading.hide();
    },

    updateSelectedSlot(index, type) {
      this.selectedStudent = null;
      this.selectedSlot = index;
      this.type = type;
    },
    async submitAddTrial(index) {
      this.$q.loading.show();
      if (this.selectedTrial) {
        const trial = await this.$store.dispatch("classgroup/addTrialToClass", {
          classKey: this.selectedClass.key,
          trialKey: this.selectedTrial,
          dateAdded: this.$moment().format(),
          dateOfTrial: this.selectedDate,
          active: true
        });
        this.selectedSlot = null;
        this.$set(this.studentsInClass, index, { ...trial, type: "Trial" });
        this.$set(
          this.monthlyClasses[this.selectedClassIndex],
          "trials",
          this.trialsClass[this.selectedClass.key]
        );
      }

      this.$q.loading.hide();
    },
    async submitAddStudent(index) {
      this.$q.loading.show();
      if (this.selectedStudent) {
        const student = await this.$store.dispatch(
          "classgroup/addStudentToClass",
          {
            classKey: this.selectedClass.key,
            studentKey: this.selectedStudent,
            dateAdded: this.$moment().format(),
            active: true
          }
        );
        this.selectedSlot = null;
        this.$set(this.studentsInClass, index, { ...student, type: "Student" });
        this.$set(
          this.monthlyClasses[this.selectedClassIndex],
          "students",
          this.studentsClass[this.selectedClass.key]
        );
      }

      this.$q.loading.hide();
    },
    async removeStudent(key, index, studentKey) {
      this.$q.loading.show();
      await this.$store.dispatch("classgroup/removeStudentFromClass", {
        key,
        data: { active: false, dateStopped: this.$moment().format() }
      });
      this.$set(this.studentsInClass, index, {
        studentKey: "",
        key: ""
      });
      let students = this.monthlyClasses[this.selectedClassIndex].students;
      let foundIndex = students.findIndex(
        student => student.studentKey === studentKey
      );
      students.splice(foundIndex, 1);
      this.$set(
        this.monthlyClasses[this.selectedClassIndex],
        "students",
        students
      );
      this.$q.loading.hide();
    },

    async deleteStudent(key, index, studentKey) {
      this.$q.loading.show();
      await this.$store.dispatch("classgroup/deleteStudentFromClass", key);
      this.$set(this.studentsInClass, index, {
        studentKey: "",
        key: ""
      });
      let students = this.monthlyClasses[this.selectedClassIndex].students;
      let foundIndex = students.findIndex(
        student => student.studentKey === studentKey
      );
      students.splice(foundIndex, 1);
      this.$set(
        this.monthlyClasses[this.selectedClassIndex],
        "students",
        students
      );
      this.$q.loading.hide();
    },
    async deleteTrial(key, index, trialKey) {
      this.$q.loading.show();
      await this.$store.dispatch("classgroup/deleteTrialFromClass", key);
      this.$set(this.studentsInClass, index, {
        studentKey: "",
        key: ""
      });
      let trials = this.monthlyClasses[this.selectedClassIndex].trials;
      let foundIndex = trials.findIndex(trial => trial.trialKey === trialKey);
      trials.splice(foundIndex, 1);
      this.$set(this.monthlyClasses[this.selectedClassIndex], "trials", trials);
      this.$q.loading.hide();
    },
    showConfirmDialog(student, index) {
      this.selectedStudent = {
        ...student,
        ...this.leads[student.trialKey]
      };
      this.selectedStudentIndex = index;
      this.confirm = true;
    },

    async register() {
      this.$q.loading.show();
      let data = {
        ...this.leads[this.selectedStudent.trialKey],
        dateAdded: this.$moment().format(),
        status: "Active",
        venueId: this.selectedLocation.id
      };
      delete data.source;
      delete data.preferredTimeOfDay;
      const studentKey = await this.$store.dispatch(
        "students/addStudent",
        data
      );
      let trials = this.monthlyClasses[this.selectedClassIndex].trials;
      let foundIndex = trials.findIndex(
        trial => trial.trialKey === data.trialKey
      );
      trials.splice(foundIndex, 1);
      this.$set(this.monthlyClasses[this.selectedClassIndex], "trials", trials);

      const student = await this.$store.dispatch(
        "classgroup/addStudentToClass",
        {
          classKey: this.selectedClass.key,
          studentKey,
          dateAdded: this.$moment().format(),
          active: true
        }
      );
      this.$set(this.studentsInClass, this.selectedStudentIndex, {
        ...student,
        type: "Student"
      });
      this.$set(
        this.monthlyClasses[this.selectedClassIndex],
        "students",
        this.studentsClass[this.selectedClass.key]
      );

      this.$q.loading.hide();
    },

    async onSelectStudent(student) {
      console.log(student);
      const { classKey, studentKey } = student;
      this.$q.loading.show();
      let siblings = this.studentList.filter(
        s =>
          s.contact === this.students[studentKey].contact &&
          s.status !== "Not Active" &&
          s.key !== studentKey
      );
      const found = this.selectedLocation.classes[classKey]
        ? this.selectedLocation.classes[classKey]
        : null;
      if (found && found.feesKey) {
        this.selectedStudent = {
          ...student,
          ...this.students[studentKey],
          siblings,
          classKey,
          calendarKey: found.calendarKey,
          fee: this.feesByKey[found.feesKey]
        };
        this.pay = true;
        this.dialog = true;
      } else if (found.feesKey === undefined) {
        this.$q.notify({
          type: "warning",
          message: `No fees assigned to Class`
        });
      } else {
        this.$q.notify({
          type: "warning",
          message: `No calendar assigned to Class`
        });
      }
      await this.$store.dispatch("payments/loadStudentPayments", studentKey);

      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
