<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-4">
      <q-list bordered separator style="min-height: 80vh">
        <q-item class="bg-accent text-white">
          <q-item-section>
            <q-item-label style="font-weight: 600; font-size: 15px" class="karla">Online Classes</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-icon name="add_circle" color="white" @click="addNewClass" />
          </q-item-section>
        </q-item>

        <template v-for="cla in $store.state.onlineClasses.onlineClasses">
          <q-item v-ripple :key="cla.key">
            <q-item-section avatar>
              <q-toggle
                v-model="cla.active"
                checked-icon="check"
                color="green"
                unchecked-icon="clear"
              />
            </q-item-section>
            <q-item-section>{{cla.name}}</q-item-section>
            <q-item-section side>
              <q-btn flat round icon="edit" @click="updateSelected(cla)" />
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </div>
    <div class="col-xs-12 col-sm-8">
      <q-card flat bordered style="min-height: 80vh">
        <transition appear enter-active-class="animated slideInRight">
          <template v-if="type=== 'add'">
            <q-list separator>
              <q-item class="bg-accent text-white">
                <q-item-section>
                  <q-item-label
                    style="font-weight: 600; font-size: 15px"
                    class="karla"
                  >New Class Details</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <FormGenerator :formConfig="formConfig" :onComplete="handleSubmit" />
                </q-item-section>
              </q-item>
            </q-list>
          </template>

          <q-card-section v-if="type === null">
            <div class="q-pa-md">
              <div class="q-gutter-sm">
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton height="150px" />
                <q-skeleton type="rect" />
              </div>
            </div>
          </q-card-section>
        </transition>
      </q-card>
    </div>
  </div>
</template>

<script>
import { formConfig } from "../forms/onlineclass";
export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      addNew: false,
      type: null,
      formConfig
    };
  },
  components: {
    FormGenerator: () => import("../components/FormGenerator")
  },

  methods: {
    initialiseData() {
      return new Promise(async (resolve, reject) => {
        await this.$store.dispatch("onlineClasses/loadOnlineClasses");
        resolve();
      });
    },
    addNewClass() {
      this.type = "add";
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      await this.$store.dispatch("onlineClasses/addOnlineClasses", data);
      this.$q.notify({
        type: "positive",
        message: `Online class added!`
      });
      this.type = null;
      this.$q.loading.hide();
    },
    updateSelected(cla) {
      console.log(cla);
    }
  }
};
</script>

<style>
</style>