<template>
  <div class="row full-width">
    <template v-if="edit">
      <Drawer
        :title="`${selectedTrial.childName} Details`"
        :show="dialog"
        :onClose="
          () => {
            dialog = !dialog;
          }
        "
      >
        <FormGenerator
          :formConfig="formConfig"
          :data="selectedTrial"
          :customLists="customLists"
          :onComplete="handleSubmit"
        />
      </Drawer>
    </template>
    <template v-if="confirm">
      <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="person_add" color="primary" text-color="white" />
            <span class="q-ml-sm">{{
              `Do you want to add ${selectedTrial.childName} to ${selectedTrial.className} ?`
            }}</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="No" color="primary" v-close-popup />
            <q-btn
              flat
              label="Yes"
              color="primary"
              @click.native="handleRegister"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </template>
    <div class="col-12">
      <q-input outlined v-model="searchText" placeholder="Student Name">
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </div>
    <div class="col-12">
      <div class="q-ma-sm">
        <q-space />
      </div>
    </div>
    <div class="col-12">
      <q-list bordered>
        <q-item>
          <q-item-section>
            <q-item-label style="font-size: 15px; font-weight: bold"
              >{{ selectedLocation.name }} Trial List</q-item-label
            >
          </q-item-section>
          <q-item-section avatar>
            <download-csv :data="csvTrials">
              <q-btn outline size="sm" icon="get_app"> </q-btn>
            </download-csv>
          </q-item-section>
        </q-item>
        <template v-for="(group, key) in groupedTrials">
          <q-item-label
            header
            :key="key"
            class="bg-accent text-white text-bold"
            >{{ key }}</q-item-label
          >
          <template v-for="trial in group">
            <q-item :key="trial.key">
              <q-item-section avatar>
                <q-toggle
                  color="accent"
                  v-model="trial.attended"
                  @input="updateAttendance($event, trial.key)"
                />
              </q-item-section>
              <q-item-section>
                <b>
                  {{ trial.childName }}
                  <q-chip v-if="trial.registered">Registered</q-chip>
                </b>
              </q-item-section>
              <q-item-section side>
                <div class="text-grey-8 q-gutter-xs" v-if="!trial.registered">
                  <q-btn
                    flat
                    round
                    icon="person_add"
                    @click.native="onAddToClass(trial)"
                  />
                  <q-btn
                    flat
                    round
                    icon="create"
                    @click.native="onSelectTrial(trial)"
                  />
                </div>
              </q-item-section>
            </q-item>
          </template>
        </template>
      </q-list>
    </div>
  </div>
</template>

<script>
import orderBy from "lodash/orderBy";
import groupBy from "lodash/groupBy";
import { formConfig } from "../forms/trial";
import { mapState } from "vuex";
export default {
  data() {
    return {
      searchText: "",
      loading: false,
      dialog: false,
      selectedTrial: null,
      formConfig,
      confirm: false,
      edit: false
    };
  },
  async created() {
    this.$q.loading.show();
    await this.$store.dispatch("trials/loadTrials", this.selectedLocation);
    await this.$store.dispatch("calendars/loadCalendar", this.selectedLocation);
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.$store.dispatch(
          "trials/loadTrials",
          state.locations.selectedLocation
        );
        this.$store.dispatch("calendars/loadCalendar", this.selectedLocation);
      }
    });
    this.$q.loading.hide();
  },
  computed: {
    ...mapState({
      locations: state => state.locations.locations,
      trialList: state => state.trials.trials,
      selectedLocation: state => state.locations.selectedLocation,
      termDates: state => state.calendars.termDates
    }),
    csvTrials() {
      let csvTrials = [];
      if (this.trialList) {
        Object.keys(this.trialList).forEach(key => {
          const s = this.trialList[key];
          if (!s.registered) {
            csvTrials.push({
              Name: s.childName,
              Email: s.email,
              DOB: this.$moment(s.dateOfBirth).format("DD-MM-YYYY"),
              Centre: this.selectedLocation.name,
              Phone: s.contact,
              Age: s.age,
              "Parent Name": s.parentName,

              "Date of Trial": s.dateOfTrial,
              "Time of Trial": s.timeOfTrial,
              Gender: s.gender,
              Attended: s.attended
            });
          }
        });
      }
      return csvTrials;
    },
    groupedTrials() {
      if (this.trialList) {
        let trials = orderBy(this.trialList, "dateOfTrial", "desc");
        trials = trials.filter(trial => {
          var text = trial.childName.toLowerCase();
          return (
            this.searchText.length === 0 || text.indexOf(this.searchText) > -1
          );
        });
        const groupedTrials = groupBy(trials, o =>
          this.$moment(o.dateOfTrial, "YYYY-MM-DD").format("DD MMM YYYY")
        );
        return groupedTrials;
      }
      return null;
    },
    customLists() {
      let customLists = {};
      let classes = this.selectedLocation.classes;
      customLists["locations"] = this.locations;
      customLists["classes"] = Object.keys(classes).map(key => classes[key]);
      customLists["termDates"] = this.termDates;
      return customLists;
    }
  },
  components: {
    Drawer: () => import("../components/Drawer"),
    FormGenerator: () => import("../components/FormGenerator")
  },
  methods: {
    async updateAttendance(e, key) {
      const attendedOn = e ? this.$moment().format() : null;
      await this.$store.dispatch("trials/updateTrialDetails", {
        key,
        data: { attended: e, attendedOn }
      });
    },
    onSelectTrial(trial) {
      let className = trial.className;
      if (className === null) {
        Object.keys(this.selectedLocation.classes).forEach(key => {
          const { minAge, maxAge, name } = this.selectedLocation.classes[key];
          if (trial.age >= parseInt(minAge) && trial.age <= parseInt(maxAge))
            className = name;
        });
      }

      this.selectedTrial = {
        ...trial,
        dateOfTrial: this.$moment(trial.dateOfTrial, "YYYY-MM-DD").format(
          "DD-MM-YYYY"
        ),
        className
      };
      this.edit = true;

      this.dialog = true;
    },
    async onAddToClass(trial) {
      let className = trial.className;
      if (className === null) {
        Object.keys(this.selectedLocation.classes).forEach(key => {
          const { minAge, maxAge, name } = this.selectedLocation.classes[key];
          if (trial.age >= parseInt(minAge) && trial.age <= parseInt(maxAge))
            className = name;
        });
      }

      this.selectedTrial = {
        ...trial,
        dateOfTrial: this.$moment(trial.dateOfTrial, "YYYY-MM-DD").format(
          "DD-MM-YYYY"
        ),
        className
      };
      this.confirm = true;
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      let timeOfTrial;
      Object.keys(this.selectedLocation.classes).forEach(key => {
        const { name, startTime, endTime } = this.selectedLocation.classes[key];
        if (data.className === name) timeOfTrial = `${startTime} - ${endTime}`;
      });
      const newData = {
        ...data,
        dateOfTrial: this.$moment(data.dateOfTrial, "DD-MM-YYYY").format(
          "YYYY-MM-DD"
        ),
        timeOfTrial
      };
      await this.$store.dispatch("trials/updateTrialDetails", {
        key: this.selectedTrial.key,
        data: newData
      });
      this.$q.notify({
        type: "positive",
        message: `Trial Details Updated!`
      });
      this.$q.loading.hide();
    },
    async handleRegister() {
      this.$q.loading.show();
      const newStudentData = {
        ...this.selectedTrial,
        dateAdded: this.$moment().format(),
        trialId: this.selectedTrial.key
      };
      delete newStudentData.key;
      await this.$store.dispatch("students/addStudent", newStudentData);
      const newTrialData = {
        registered: true,
        registeredDate: this.$moment().format(),
        registeredBy: this.$store.state.auth.user.email
      };
      await this.$store.dispatch("trials/updateTrialDetails", {
        key: this.selectedTrial.key,
        data: newTrialData
      });
      this.confirm = false;
      this.$q.loading.hide();
    }
  }
};
</script>

<style>
.trial_date {
  background: #292929;
  padding: 10px 16px;
  font-weight: 600;
  color: white;
}
</style>
