<template>
  <div style="row full-width">
    <div class="col-12">
      <q-list>
        <q-item>
          <q-input
            v-model="jsonText"
            filled
            type="textarea"
          />
          <q-btn
            @click.prevent="uploadStudents"
            label="Upload Students"
          />
        </q-item>
        <q-item>Students {{ students ? students.length : "0" }}</q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import find from "lodash/find";
export default {
  created() {
    this.initialiseData();
  },
  data() {
    return {
      studentsJson: [],
      jsonText: "",
    };
  },
  computed: {
    ...mapState({
      students: (state) => state.students.all,
    }),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await this.$store.dispatch("students/loadAllStudents");
      this.$q.loading.hide();
    },
    async uploadStudents() {
      this.$q.loading.show();
      this.studentsJson = JSON.parse(this.jsonText);
      let newStudents = [];
      this.studentsJson.forEach(async (student) => {
        let found = find(
          this.students,
          (o) => o.childName === student.childName
        );

        if (!found) {
          newStudents.push({
            ...student,
            status: "Active",
            dateRegistered: this.$moment().format(),
          });
        }
      });
      newStudents.forEach(async (student) => {
        await this.$store.dispatch("students/addStudent", student);
      });
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
