<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-5">
      <q-list
        bordered
        separator
        style="min-height: 80vh"
      >
        <q-item class="bg-accent text-white">
          <q-item-section>
            <q-item-label
              style="font-weight: 600; font-size: 15px"
              class="karla"
            >Users</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn
              flat
              round
              icon="add_circle"
              color="white"
              @click="onAdd"
            />
          </q-item-section>
        </q-item>
        <template v-for="user in $store.state.users.users">
          <q-item :key="user.key">
            <q-item-section avatar>
              <q-icon name="face"></q-icon>
            </q-item-section>
            <q-item-section>
              <b>{{ user.name }}</b>
            </q-item-section>

            <q-item-section avatar>
              <div>
                <q-btn
                  flat
                  round
                  icon="create"
                  @click.prevent="onEdit(user)"
                ></q-btn>
                <q-btn
                  flat
                  round
                  icon="delete"
                  @click.prevent="onDelete(user)"
                ></q-btn>
              </div>

            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </div>
    <div class="col-xs-12 col-sm-7">
      <q-card
        flat
        bordered
        style="min-height: 80vh"
      >
        <transition
          appear
          enter-active-class="animated slideInRight"
        >
          <q-list
            separator
            v-if="type !== null"
          >
            <q-item
              class="bg-accent text-white"
              style="min-height: 58px"
            >
              <q-item-section>
                <q-item-label
                  style="font-weight: 600; font-size: 15px"
                  class="karla"
                >New User Details</q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <FormGenerator
                  :onComplete="handleSubmit"
                  :data="selectedUser"
                  :customLists="customLists"
                  :formConfig="formConfig"
                />
              </q-item-section>
            </q-item>
          </q-list>

          <q-card-section v-else>
            <div class="q-pa-md">
              <div class="q-gutter-sm">
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton height="150px" />
                <q-skeleton type="rect" />
              </div>
            </div>
          </q-card-section>
        </transition>
      </q-card>
    </div>
  </div>
</template>

<script>
import { formConfig } from "../forms/user";
import { mapState } from "vuex";

export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      type: null,
      selectedUser: null,
      formConfig,
    };
  },
  computed: {
    ...mapState({
      locations: (state) => state.locations.list,
    }),
    customLists() {
      let customLists = {};
      customLists["locations"] = this.locations.filter((l) => l.active);
      return customLists;
    },
  },
  methods: {
    initialiseData() {
      return new Promise(async (resolve, reject) => {
        await this.$store.dispatch("users/loadUsers");
        resolve();
      });
    },
    onAdd() {
      this.type = "add";
      this.selectedUser = {};
    },
    onEdit(user) {
      this.selectedUser = user;
      this.type = "edit";
    },
    onDelete(user) {
      this.$q
        .dialog({
          title: "Confirm",
          message: `Would you like to delete ${user.name}?`,
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          this.$q.loading.show();

          await this.$store.dispatch("accounts/deleteUserAccount", user.email);
          await this.$store.dispatch("users/deleteUser", user.key);
          this.$q.loading.hide();
        });
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      if (this.type === "add") {
        const resp = await this.$store.dispatch("accounts/createUserAccount", {
          email: data.email.toLowerCase().trim(),
          password: data.password,
        });
        console.log(resp);
        if (resp === "Email exist") {
          this.$q.notify({
            title: "Error",
            message: "Email exist!",
          });
        } else {
          await this.$store.dispatch("users/addUser", {
            ...data,
            accountKey: resp,
          });
          this.$q.notify({
            title: "Success",
            message: "User added successfully!",
          });
        }
      } else if (this.type === "edit")
        await this.$store.dispatch("users/updateUser", {
          data,
          key: this.selectedUser.key,
        });

      this.$q.loading.hide();
    },
  },
  components: {
    FormGenerator: () => import("../components/FormGenerator"),
  },
};
</script>

<style></style>
