<template>
  <div class="q-mt-md">
    <training-plan-dialog
      v-if="showTrainingPlan"
      :trainingPlan="trainingPlan"
    ></training-plan-dialog>
    <div class="row">
      <div class="col-sm-6 col-12">
        <div>
          <q-chip
            square
            size="16px"
          >
            <q-avatar
              icon="pending_actions"
              color="green"
              text-color="white"
              v-show="$q.screen.width > 600"
            />
            {{ cla.name }}
          </q-chip>
          <q-btn
            round
            color="black"
            :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
            size="sm"
            @click.prevent="tableExpand = !tableExpand"
          />
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div
          class="flex items-center justify-end"
          v-show="tableExpand"
        >
          <div class="flex">
            <q-select
              :disable="date === null"
              outlined
              label="Coach Attendance"
              :value="getCoachAttendance(cla.key)"
              use-input
              use-chips
              dense
              multiple
              input-debounce="0"
              :options="coachOptions"
              option-label="name"
              :disabled="lock"
              @filter="filterCoachFn"
              @add="addCoachAttendance($event, cla.key)"
              @remove="removeCoachAttendance($event, cla.key)"
            />
            <!-- <q-input
              dense
              outlined
              v-model="searchText"
              input-class="text-right"
              class="q-ml-md"
            >
              <template v-slot:append>
                <q-icon
                  v-if="searchText === ''"
                  name="search"
                />
                <q-icon
                  v-else
                  name="clear"
                  class="cursor-pointer"
                  @click="searchText = ''"
                />
              </template>
            </q-input> -->
          </div>
        </div>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredStudents"
      :columns="columns"
      :pagination="pagination"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width> </q-th>

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width>
            {{
              trainingPlan
                ? trainingPlan.main + "/" + trainingPlan.exercise
                : "Assessments"
            }}
            <q-icon
              @click="showTrainingPlan = !showTrainingPlan"
              name="info"
              color="green"
              size="sm"
            />
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-toggle
              :disable="date === null || lock"
              :value="attendances && attendances[props.row.key] !== undefined"
              @input="updateAttendance($event, props.row.key)"
            />
          </q-td>

          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <span :style="{ 'color' : checkPaymentStatus(props.row.key) ? 'black' : 'red' , 'font-weight': 'bold'} ">{{ col.value }}</span>
          </q-td>
          <q-td colspan="50%">
            <q-rating
              :disable="date === null"
              :value="
                assessments[props.row.key] ? assessments[props.row.key] : 0
              "
              size="2em"
              :max="5"
              color="grey"
              color-selected="primary"
              @input="updateAssessments($event, props.row.key)"
            />
          </q-td>
        </q-tr>
      </template>
      <template
        v-slot:bottom-row
        v-if="leads && leads.length > 0"
      >
        <q-tr>
          <q-td colspan="100%">
            <q-chip class="q-ma-none bg-primary">Trials</q-chip>
          </q-td>
        </q-tr>

        <template v-for="lead in leads">
          <q-tr :key="lead.key">
            <q-td auto-width>
              <q-toggle
                :disable="date === null"
                :value="lead && lead.status === 'Attended Trial'"
                @input="updateTrialAttendance($event, lead)"
              />
            </q-td>

            <q-td
              v-for="col in columns"
              :key="col.name"
            >
              {{ lead[col.field] }}
            </q-td>
            <q-td colspan="50%">
              &nbsp;
            </q-td>
          </q-tr>
        </template>

      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import { mapState } from "vuex";
import TrainingPlanDialog from "./TrainingPlanDialog.vue";
export default {
  components: {
    TrainingPlanDialog,
  },
  async mounted() {
    this.$q.loading.show();
    this.coachOptions = this.coaches;
    this.students.forEach((student) => {
      if (this.currentAssessments && this.currentAssessments[student.key]) {
        this.$set(
          this.assessments,
          student.key,
          this.currentAssessments[student.key].value
        );
      } else this.$set(this.assessments, student.key, 0);
    });
    this.$q.loading.hide();
  },
  props: [
    "students",
    "cla",
    "location",
    "collapse",
    "date",
    "attendances",
    "trainingPlan",
    "payments",
    "currentAssessments",
    "week",
    "leads",
    "currentUser",
  ],
  data() {
    return {
      type: null,
      selectedMonth: this.$moment().format("MMM"),
      selectedYear: this.$moment().format("YYYY"),
      expanded: [],
      assessments: {},
      searchText: "",
      tableExpand: true,
      showTrainingPlan: false,
      coachOptions: [],

      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: "childName",
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
      ],
    };
  },
  watch: {
    collapse(newValue) {
      this.tableExpand = !newValue;
    },
    currentAssessments(newValue) {
      Object.keys(this.assessments).forEach((studentKey) => {
        if (newValue[studentKey]) {
          this.$set(this.assessments, studentKey, newValue[studentKey].value);
        } else {
          this.$set(this.assessments, studentKey, 0);
        }
      });
    },
    coaches(newValue) {
      if (newValue) this.coachOptions = newValue;
    },
  },

  computed: {
    ...mapState({
      coaches: (state) => state.coaches.list,
      coachAttendance: (state) => state.attendances.coachAttendance,
    }),
    filteredStudents() {
      let students = this.students;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        students = filter(
          students,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      return students;
    },
    lock() {
      return false;
      // if (["ray@fka.sg", "jimmybeh@fka.sg"].includes(this.currentUser.email)) {
      //   return false;
      // }
      // const dayINeed = 2; // for Thursday
      // const today = this.$moment().isoWeekday();
      // let comingTuesday;
      // // if we haven't yet passed the day of the week that I need:
      // if (today <= dayINeed) {
      //   // then just give me this week's instance of that day
      //   comingTuesday = this.$moment().isoWeekday(dayINeed);
      // } else {
      //   // otherwise, give me *next week's* instance of that same day
      //   comingTuesday = this.$moment().add(1, "weeks").isoWeekday(dayINeed);
      // }

      // return this.$moment(this.date, "DD-MM-YYYY").isBefore(
      //   comingTuesday,
      //   "day"
      // );
    },
  },
  methods: {
    filterCoachFn(val, update) {
      update(() => {
        if (val === "") {
          this.filterOptions = this.coaches;
        } else {
          const needle = val.toLowerCase();
          this.coachOptions = this.coaches.filter(
            (v) => v.name.toLowerCase().indexOf(needle) > -1
          );
        }
      });
    },

    checkPaymentStatus(studentKey) {
      let status = false;
      let studentsPaymentAdvices = filter(this.payments, { studentKey });
      studentsPaymentAdvices.forEach((pa) => {
        const { datesPaid, paymentStatus } = pa;
        if (datesPaid.includes(this.date) && paymentStatus) status = true;
      });
      if (!this.date) {
        status = true;
      }
      return status;
    },

    async updateAttendance(value, key) {
      if (value) {
        const month = this.$moment(this.date, "DD-MM-YYYY").format("MMMM");
        const year = this.$moment(this.date, "DD-MM-YYYY").format("YYYY");
        const data = {
          className: this.cla.name,
          location: this.location.name,
          studentKey: key,
          date: this.date,
          year,
          month,
          week: this.week,
        };
        await this.$store.dispatch("attendances/addAttendance", data);
      } else {
        await this.$store.dispatch(
          "attendances/removeAttendance",
          this.attendances[key].key
        );
      }
    },
    async updateTrialAttendance(value, lead) {
      const leadKey = lead.key;
      const date = this.date;
      if (value) {
        await this.$store.dispatch("leads/updateLead", {
          key: leadKey,
          data: {
            dateAttended: date,
            status: "Attended Trial",
          },
        });
        await this.$store.dispatch("leads/addLeadActivity", {
          key: leadKey,
          data: {
            date: this.$moment().format(),
            description: "Attended on " + date,
            purpose: "Mark Attendance",
            type: "operation",
            performedBy: this.currentUser.email,
          },
        });
      } else {
        await this.$store.dispatch("leads/updateLead", {
          key: leadKey,
          data: {
            dateAttended: null,
            status: "Pending Trial",
          },
        });
      }
    },
    getCoachAttendance(key) {
      if (this.coachAttendance && this.coachAttendance[key] && this.coaches) {
        return this.coachAttendance[key].map((a) => {
          let found = this.coaches.find((c) => c.key === a.coachKey);
          return found ? found.name : "";
        });
      }
      return [];
    },
    async addCoachAttendance({ index, value }, classKey) {
      this.$q.loading.show();
      const month = this.$moment(this.date, "DD-MM-YYYY").format("MMMM");
      const year = this.$moment(this.date, "DD-MM-YYYY").format("YYYY");
      let data = {
        date: this.date,
        coachKey: value.key,
        location: this.$store.state.locations.selectedLocation.name,
        classKey: classKey,
        submitted: this.$moment().format(),
        submittedBy: this.$store.state.auth.user.email,
        month,
        year,
      };
      await this.$store.dispatch("attendances/addCoachAttendance", data);
      this.$q.loading.hide();
    },
    async removeCoachAttendance({ index, value }, classKey) {
      this.$q.loading.show();
      await this.$store.dispatch(
        "attendances/removeCoachAttendance",
        this.coachAttendance[classKey][index].key
      );
      this.$q.loading.hide();
    },

    async updateAssessments(value, key) {
      this.$set(this.assessments, key, value);
      if (this.currentAssessments[key]) {
        if (value === 0) {
          await this.$store.dispatch(
            "assessments/removeAssessment",
            this.currentAssessments[key].key
          );
        } else {
          await this.$store.dispatch("assessments/updateAssessment", {
            key: this.currentAssessments[key].key,
            data: { value },
          });
        }
      } else {
        const data = {
          studentKey: key,
          date: this.date,
          location: this.location.name,
          className: this.cla.name,
          value,
          ...this.trainingPlan,
        };
        await this.$store.dispatch("assessments/addAssessment", data);
      }
    },
  },
};
</script>

<style></style>
