<template>
  <div class="full-width">
    <div class="row">
      <div class="col-12 col-sm-3">
        <h6 class="q-my-xs">
          <b>{{ location.name }} {{ headerText }}s</b>
        </h6>
      </div>
      <div class="col-12 col-sm-9">
        <div class="flex justify-end">
          <term-date-selector
            v-model="selectedDate"
            class="q-mr-xs"
          />
          <q-select
            v-model="selectedAgeGroup"
            :options="ageGroups"
            outlined
            dense
            class="q-mr-xs"
          />
          <q-btn
            @click.prevent="collapseAll = !collapseAll"
            v-if="$q.screen.width > 958"
          >{{ collapseAll ? "Expand" : "Collapse" }} All</q-btn>
          <q-btn
            @click.prevent="collapseAll = !collapseAll"
            :icon="collapseAll ? 'unfold_more' : 'unfold_less'"
            v-else
          ></q-btn>
        </div>
      </div>
    </div>

    <template v-for="(students, key) in studentsByClass">
      <class-table
        :key="key"
        :students="students"
        :cla="classes[key]"
        :leads="leadsByClass[key]"
        :location="location"
        :collapse="collapseAll"
        :date="selectedDate"
        :attendances="attendances"
        :payments="payments"
        :currentAssessments="assessments"
        :trainingPlan="getTrainingPlan(classes[key].ageGroup)"
        :week="week"
        :currentUser="currentUser"
      ></class-table>
    </template>
  </div>
</template>

<script>
import { mapState } from "vuex";
import groupBy from "lodash/groupBy";
import find from "lodash/find";
export default {
  async created() {
    await this.$store.dispatch("fees/loadFees");
    await this.initialiseData();
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  data() {
    return {
      headerText: "Classe",
      collapseAll: false,
      selectedAgeGroup: "All",
      selectedDate: null,
      week: null,
      month: null,
    };
  },
  watch: {
    async selectedDate(newValue) {
      this.$q.loading.show();
      if (newValue) {
        const date = this.$moment(newValue, "DD-MM-YYYY");
        this.week = date.weeks() - date.startOf("month").weeks() + 1;
        this.month = date.format("MMMM");
        let month = date.format("MMM");
        let year = date.format("YYYY");
        const data = {
          date: newValue,
          location: this.location.name,
        };
        await Promise.all([
          this.$store.dispatch("attendances/loadCoachAttendance", data),
          this.$store.dispatch("attendances/loadAttendances", data),
          this.$store.dispatch("payments/loadPaymentsByMonthYear", {
            month,
            year,
          }),
          this.$store.dispatch("leads/loadLeadsByDate", data),
          this.$store.dispatch(
            "trainingPlans/loadTrainingPlans",
            date.format("YYYY")
          ),
          this.$store.dispatch("assessments/loadAssessments", data),
        ]);
      }

      this.$q.loading.hide();
    },
  },
  computed: {
    ...mapState({
      location: (state) => state.locations.selectedLocation,
      students: (state) => state.students.list,
      classes: (state) => state.classes.listByKey,
      attendances: (state) => state.attendances.list,
      assessments: (state) => state.assessments.list,
      trainingPlans: (state) => state.trainingPlans.listByMonth,
      leads: (state) => state.leads.listByDate,
      currentUser: (state) => state.auth.user,
      calendars: (state) => state.calendars.calendars,
      payments: (state) => state.payments.list,
    }),

    leadsByClass() {
      let classes = {};
      if (!this.$q.loading.isActive) {
        if (this.leads) {
          classes = groupBy(this.leads, "classKey");
        }
      }
      return classes;
    },
    studentsByClass() {
      let studentsClasses = {};

      if (!this.$q.loading.isActive) {
        let classes = {};
        if (this.students) {
          let students = [...this.students];
          if (this.selectedAgeGroup !== "All") {
            classes = Object.keys(this.classes)
              .filter(
                (key) => this.classes[key].ageGroup === this.selectedAgeGroup
              )
              .reduce((res, key) => ((res[key] = this.classes[key]), res), {});
          } else {
            classes = { ...this.classes };
          }
          if (this.selectedDate) {
            const day = this.$moment(this.selectedDate, "DD-MM-YYYY").format(
              "dddd"
            );
            classes = Object.keys(classes)
              .filter((key) => classes[key].day === day)
              .reduce((res, key) => ((res[key] = classes[key]), res), {});
          }
          classes = Object.keys(classes)
            .sort((a, b) => {
              let timeA = parseInt(
                this.$moment(classes[a].startTime, "h:mm").format("H")
              );
              let timeB = parseInt(
                this.$moment(classes[b].startTime, "h:mm").format("H")
              );
              let setA =
                parseInt(classes[a].ageGroup.split("U")[1]) * 100 + timeA;
              let setB =
                parseInt(classes[b].ageGroup.split("U")[1]) * 100 + timeB;
              return setA < setB ? -1 : 1;
            })
            .reduce((res, key) => ((res[key] = classes[key]), res), {});
          Object.keys(classes).forEach((key) => {
            let studentsInClass = students.filter(
              (s) => s.assignedClassKey === key
            );
            studentsClasses[key] = studentsInClass;
          });
        }
      }

      return studentsClasses;
    },
    ageGroups() {
      let ageGroups = [];
      if (this.classes)
        ageGroups = Object.keys(groupBy(this.classes, "ageGroup")).sort(
          (a, b) =>
            parseInt(a.split("U")[1]) <= parseInt(b.split("U")[1]) ? -1 : 1
        );
      return ["All", ...ageGroups];
    },
  },

  components: {
    ClassTable: () => import("./ClassTable.vue"),
    TermDateSelector: () => import("../../components/TermDateSelector.vue"),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;

      await Promise.all([
        this.$store.dispatch("coaches/loadCoaches"),
        this.$store.dispatch("calendars/loadCalendar", selectedLocation),
        this.$store.dispatch("students/loadStudents", selectedLocation.name),
        this.$store.dispatch("classes/loadClasses", selectedLocation.name),
      ]);
      if (this.selectedDate) {
        let data = {
          date: this.selectedDate,
          location: selectedLocation.name,
        };

        await Promise.all([
          this.$store.dispatch("attendances/loadCoachAttendance", data),
          this.$store.dispatch("attendances/loadAttendances", data),
          this.$store.dispatch("leads/loadLeadsByDate", data),
          this.$store.dispatch("assessments/loadAssessments", data),
          this.$store.dispatch(
            "trainingPlans/loadTrainingPlans",
            this.$moment(this.selectedDate, "DD-MM-YYYY").format("YYYY")
          ),
        ]);
      }

      this.$q.loading.hide();
    },
    getTrainingPlan(ageGroup) {
      let trainingPlan = null;
      if (ageGroup) {
        if (this.trainingPlans && this.month && this.week) {
          let found = find(
            this.trainingPlans[this.month],
            (o) =>
              o.week === this.week.toString() && o.ageGroups.includes(ageGroup)
          );
          trainingPlan = found ? found : null;
        }
      }
      return trainingPlan;
    },
  },
};
</script>

<style></style>
