<template>
  <div class="q-mt-md">

    <div class="row">
      <div class="col-sm-6 col-12">
        <div>
          <q-chip
            square
            size="16px"
          >
            <q-avatar
              icon="pending_actions"
              color="green"
              text-color="white"
              v-show="$q.screen.width > 600"
            />
            {{ cla.name }}
          </q-chip>
          <q-btn
            round
            color="black"
            :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
            size="sm"
            @click.prevent="tableExpand = !tableExpand"
          />
        </div>
      </div>

    </div>
    <q-card
      bordered
      id="printMe"
      v-show="tableExpand"
    >
      <q-card-section>
        <div class="row">
          <div
            class="col-6"
            style="border: 1px solid #ebebeb; padding: 5px 10px"
          >
            Name
          </div>
          <div
            class="col"
            style="border: 1px solid #ebebeb; padding: 5px 10px; text-align: center"
            v-for="(date, index) in termDates"
            :key="index"
          >
            {{$moment(date, 'DD-MM-YYYY').format('DD/MM')}}
          </div>
        </div>
        <template v-for="(student, index) in students">
          <div
            :key="index"
            class="row"
          >
            <div
              class="col-6"
              style="border: 1px solid #ebebeb; padding: 5px 10px; "
            >
              {{student.childName}}
            </div>
            <div
              class="col"
              style="border: 1px solid #ebebeb;  text-align: center; "
              v-for="(date, index) in termDates"
              :key="index"
            >
              <template v-if="$moment().isSameOrAfter($moment(date,'DD-MM-YYYY'), 'day')">

                <div
                  style="padding: 5px 10px;"
                  :style="{'background': checkPaid(student, date) ? 'green' : 'pink'}"
                >
                  <template v-if="checkAttendance(student, date)">
                    <q-icon
                      name="check"
                      color="white"
                    />
                  </template>
                  <template v-else>
                    <q-icon name="close" />

                  </template>
                </div>
              </template>
              <template v-else>
                <div style="background: gray; padding: 5px 10px;">
                  &nbsp;
                </div>
              </template>

            </div>
          </div>
        </template>
      </q-card-section>
      <q-card-section v-if="Object.keys(coachAttendanceByDate).length > 0">
        <div class="row">
          <div
            class="col-6"
            style="border: 1px solid #ebebeb; padding: 5px 10px; background: #ebebeb"
          >
            Coaches Name
          </div>
          <div
            class="col"
            style="border: 1px solid #ebebeb; padding: 5px 10px; text-align: center"
            v-for="(date, index) in termDates"
            :key="index"
          >
            <div
              v-for="(coach, ind) in coachAttendanceByDate[date]"
              :key="date+ind"
              style="border-bottom: 1px dashed black"
            >

              {{coach.coachName}}

            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>

  </div>
</template>

<script>
import filter from "lodash/filter";
import find from "lodash/find";
import groupBy from "lodash/groupBy";
import { mapState } from "vuex";
export default {
  props: ["cla", "students", "selectedYear", "selectedMonth"],
  data() {
    return {
      tableExpand: true,
    };
  },
  computed: {
    ...mapState({
      calendars: (state) => state.calendars.calendars,
      attendances: (state) => state.attendances.list,
      payments: (state) => state.payments.list,
      coaches: (state) => state.coaches.listByKey,
      coachAttendances: (state) => state.attendances.coachAttendance,
    }),
    coachAttendanceByDate() {
      let coachAtts = {};
      if (this.coachAttendances) {
        let classCoachAtt = filter(this.coachAttendances, {
          classKey: this.cla.key,
        });
        classCoachAtt = classCoachAtt.map((a) => {
          return {
            ...a,
            coachName: this.coaches[a.coachKey].name,
          };
        });
        coachAtts = groupBy(classCoachAtt, "date");
      }
      return coachAtts;
    },
    termDates() {
      let dates = [];
      const calendar = this.calendars[this.cla.calendarKey];
      if (calendar) {
        const terms = calendar.terms[this.selectedYear];
        if (terms) {
          let termDates = [];

          Object.keys(terms).map((key) => {
            const term = terms[key];
            term.map((date) =>
              termDates.push(this.$moment(date).format("DD-MM-YYYY"))
            );
          });
          dates = filter(
            termDates,
            (d) =>
              this.$moment(d, "DD-MM-YYYY").format("MMMM") ===
              this.selectedMonth
          );
        }
      }
      return dates;
    },
  },
  methods: {
    checkAttendance(student, date) {
      let attended = false;
      if (this.attendances && this.attendances[student.key]) {
        if (this.attendances[student.key].includes(date)) {
          attended = true;
        }
      }
      return attended;
    },
    checkPaid(student, date) {
      let paid = false;
      let found = find(this.payments, (a) => a.studentKey === student.key);
      if (found && found.paymentStatus === "Paid") {
        if (found.datesPaid.includes(date)) {
          paid = true;
        }
      }

      return paid;
    },
    getCoachNames(date) {
      let names = [];
      if (this.coachAttendanceByDate && this.coachAttendanceByDate[date]) {
        this.coachAttendanceByDate[date].forEach((coach) => {
          names.push(this.coaches[coach.coachKey].name);
        });
      }
      return names;
    },
  },
};
</script>

<style></style>
