<template>
  <div class="row full-width">
    <div class="col-3">
      <q-select
        outlined
        v-model="year"
        :options="yearOptions"
        @input="handleYearChange"
        label="Year"
      />
    </div>
    <div class="col-5">
      <q-select
        outlined
        v-model="month"
        :options="monthOptions"
        label="Month"
        @input="handleMonthChange"
      />
    </div>
    <div class="col-4">
      <q-select
        v-model="selectedAgeGroup"
        :options="ageGroups"
        outlined
        label="Age Group"
        class="q-mr-xs"
      />
    </div>
    <div class="col-12">
      <template v-for="(students, key) in studentsByClass">
        <summary-class-table
          :key="key"
          :students="students"
          :selectedYear="year"
          :selectedMonth="month"
          :cla="classes[key]"
        ></summary-class-table>
      </template>
    </div>
  </div>
</template>

<script>
import groupBy from "lodash/groupBy";
import { mapState } from "vuex";
export default {
  components: {
    SummaryClassTable: () => import("./SummaryClassTable.vue"),
  },
  async created() {
    //await this.updateCoachesAttendance();
    await this.initialiseData();
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  data() {
    return {
      selectedAgeGroup: "All",
      year: this.$moment().format("YYYY"),
      yearOptions: [
        this.$moment().subtract(1, "years").format("YYYY"),
        this.$moment().format("YYYY"),
      ],
      monthOptions: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ],
      month: this.$moment().format("MMMM"),
    };
  },
  computed: {
    ...mapState({
      location: (state) => state.locations.selectedLocation,
      students: (state) => state.students.list,
      classes: (state) => state.classes.listByKey,
      attendances: (state) => state.attendances.list,
      leads: (state) => state.leads.listByDate,
      currentUser: (state) => state.auth.user,
      payments: (state) => state.payments.list,
    }),
    studentsByClass() {
      let studentsClasses = {};

      if (!this.$q.loading.isActive) {
        let classes = {};
        if (this.students) {
          let students = [...this.students];
          if (this.selectedAgeGroup !== "All") {
            classes = Object.keys(this.classes)
              .filter(
                (key) => this.classes[key].ageGroup === this.selectedAgeGroup
              )
              .reduce((res, key) => ((res[key] = this.classes[key]), res), {});
          } else {
            classes = { ...this.classes };
          }

          classes = Object.keys(classes)
            .sort((a, b) => {
              let timeA = parseInt(
                this.$moment(classes[a].startTime, "h:mm").format("H")
              );
              let timeB = parseInt(
                this.$moment(classes[b].startTime, "h:mm").format("H")
              );
              let setA =
                parseInt(classes[a].ageGroup.split("U")[1]) * 100 + timeA;
              let setB =
                parseInt(classes[b].ageGroup.split("U")[1]) * 100 + timeB;
              return setA < setB ? -1 : 1;
            })
            .reduce((res, key) => ((res[key] = classes[key]), res), {});
          Object.keys(classes).forEach((key) => {
            let studentsInClass = students.filter(
              (s) => s.assignedClassKey === key
            );
            studentsClasses[key] = studentsInClass;
          });
        }
      }
      return studentsClasses;
    },
    ageGroups() {
      let ageGroups = [];
      if (this.classes)
        ageGroups = Object.keys(groupBy(this.classes, "ageGroup")).sort(
          (a, b) =>
            parseInt(a.split("U")[1]) <= parseInt(b.split("U")[1]) ? -1 : 1
        );
      return ["All", ...ageGroups];
    },
  },
  methods: {
    // updateCoachesAttendance() {
    //   return this.$store
    //     .dispatch("attendances/loadAllCoachAttendance")
    //     .then((res) => console.log(res));
    // },
    async initialiseData() {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;

      await Promise.all([
        this.$store.dispatch("coaches/loadCoaches"),
        this.$store.dispatch("calendars/loadCalendar", selectedLocation),
        this.$store.dispatch("students/loadStudents", selectedLocation.name),
        this.$store.dispatch("classes/loadClasses", selectedLocation.name),
      ]);
      let data = {
        month: this.month,
        year: this.year,
        location: selectedLocation.name,
      };

      await Promise.all([
        this.$store.dispatch("attendances/loadCoachAttendanceByMonthYear", {
          month: this.month,
          year: this.year,
          location: selectedLocation.name,
        }),
        this.$store.dispatch("attendances/loadAttendancesByMonthYear", {
          month: this.month,
          year: this.year,
          location: selectedLocation.name,
        }),
        this.$store.dispatch("payments/loadPaymentsByMonthYear", {
          month: this.$moment(this.month, "MMMM").format("MMM"),
          year: this.year,
        }),
      ]);

      this.$q.loading.hide();
    },

    async handleMonthChange(month) {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;

      await Promise.all([
        this.$store.dispatch("attendances/loadCoachAttendanceByMonthYear", {
          month: this.month,
          year: this.year,
          location: selectedLocation.name,
        }),
        this.$store.dispatch("attendances/loadAttendancesByMonthYear", {
          month: this.month,
          year: this.year,
          location: selectedLocation.name,
        }),
        this.$store.dispatch("payments/loadPaymentsByMonthYear", {
          month: this.$moment(this.month, "MMMM").format("MMM"),
          year: this.year,
        }),
      ]);
      this.$q.loading.hide();
    },
    async handleYearChange(year) {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;

      await Promise.all([
        this.$store.dispatch("attendances/loadCoachAttendanceByMonthYear", {
          month: this.month,
          year: this.year,
          location: selectedLocation.name,
        }),
        this.$store.dispatch("attendances/loadAttendancesByMonthYear", {
          month: this.month,
          year: this.year,
          location: selectedLocation.name,
        }),
        this.$store.dispatch("payments/loadPaymentsByMonthYear", {
          month: this.$moment(this.month, "MMMM").format("MMM"),
          year: this.year,
        }),
      ]);
      this.$q.loading.hide();
    },
  },
};
</script>