<template>
  <q-dialog v-model="show">
    <q-card
      style="max-width: 400px"
      class="q-pb-md"
    >

      <q-card-section>
        <q-list
          bordered
          separator
        >
          <template v-for="(comment, index) in trainingPlan.comments">
            <q-item :key="index">
              <q-item-section>
                <q-rating
                  :value="index"
                  size="2em"
                  :max="index"
                  color="orange"
                  readonly
                />
              </q-item-section>
              <q-item-section>{{comment}}</q-item-section>

            </q-item>
          </template>
        </q-list>

      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          v-close-popup
          flat
          color="primary"
          label="Close"
        />

      </q-card-actions>
    </q-card>
  </q-dialog>

</template>

<script>
export default {
  props: ["trainingPlan"],
  data() {
    return {
      show: true,
    };
  },
};
</script>

