<template>
  <div class="full-width">
    <!-- Dialog box for Order Form -->
    <template v-if="pDialog">
      <paynow-dialog
        :dialog="pDialog"
        :closeDialog="closeDialog"
      ></paynow-dialog>
    </template>
    <!-- End of Dialog Box -->
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ headerText }}s</b></q-toolbar-title>
        <q-btn
          color="primary"
          icon="add"
          class="q-ml-md"
          @click="pDialog=!pDialog"
        > </q-btn>
      </q-toolbar>
    </div>
    <template v-if="unpaid">
      <unpaid-table :payments="unpaidPayNow"></unpaid-table>
    </template>
    <template v-if="paid">
      <paid-table :payments="paidPayNow"></paid-table>
    </template>

  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    await Promise.all([
      this.$store.dispatch("payments/loadAllPayments"),
      this.$store.dispatch("payments/loadAllPayNow"),
      this.$store.dispatch("accounts/loadAccounts"),
      this.$store.dispatch("students/loadAllStudents"),
      this.$store.dispatch("credits/loadCredits"),
    ]);
  },
  data() {
    return {
      headerText: "PayNow",
      pDialog: false,
    };
  },
  components: {
    UnpaidTable: () => import("./UnpaidTable.vue"),
    PaidTable: () => import("./PaidTable.vue"),
    PaynowDialog: () => import("./PaynowDialog.vue"),
  },
  computed: {
    ...mapState({
      accounts: (state) => state.accounts.listByKey,
      paid: (state) => state.payments.paidPayNow,
      unpaid: (state) => state.payments.unpaidPayNow,
    }),
    unpaidPayNow() {
      let unpaid = [];
      if (this.accounts && this.unpaid) {
        unpaid = this.unpaid.map((pn) => {
          return {
            ...pn,
            email: this.accounts[pn.accountKey]
              ? this.accounts[pn.accountKey].email
              : "-",
          };
        });
      }
      return unpaid;
    },
    paidPayNow() {
      let paid = [];
      if (this.accounts && this.paid) {
        paid = this.paid.map((pn) => {
          return {
            ...pn,
            email: this.accounts[pn.accountKey]
              ? this.accounts[pn.accountKey].email
              : "-",
          };
        });
      }
      return paid;
    },
  },
  methods: {
    closeDialog() {
      this.pDialog = false;
    },
  },
};
</script>


