<template>
  <Drawer
    title="New PayNow"
    :show="dialog"
    :onClose="close"
  >
    <q-select
      :options="studentOptions"
      v-model="selectedEmail"
      use-input
      label="Student Name"
      outlined
      option-label="childName"
      option-value="email"
      clearable
      @filter="filterStudentFn"
    />
    <q-select
      :options="emailOptions"
      v-model="selectedAccount"
      use-input
      label="Account Email"
      outlined
      option-label="email"
      clearable
      @filter="filterFn"
    />
    <template v-if="selectedPaymentAdvices.length > 0">
      <q-list
        bordered
        separator
      >
        <template v-for="(pa, index) in selectedPaymentAdvices">
          <q-item :key="index">
            <q-item-section side>
              <q-checkbox v-model="pa.selected" />
            </q-item-section>
            <template v-if="pa.type === 'Registration Fee'">
              <q-item-section>Registration Fee</q-item-section>
            </template>
            <template v-else>
              <q-item-section>{{pa.month}}/{{pa.year}}</q-item-section>

            </template>
            <q-item-section>{{pa.childName}}</q-item-section>
            <q-item-section side>{{pa.amount}}</q-item-section>
          </q-item>
        </template>

        <q-item v-if="unusedCredits.amount > 0">
          <q-item-section>Subtotal</q-item-section>
          <q-item-section side>{{subtotal.toFixed(2)}}</q-item-section>
        </q-item>
        <q-item v-if="unusedCredits.amount > 0">
          <q-item-section>Credits Used</q-item-section>
          <q-item-section side>- {{parseFloat(unusedCredits.amount).toFixed(2)}}</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            Total Payable</q-item-section>
          <q-item-section side>{{total.toFixed(2)}}</q-item-section>
        </q-item>
      </q-list>
      <q-toggle
        class="q-mt-md"
        v-model="manual"
        label="Manual Payment"
      />

    </template>
    <template v-if="manual">
      <q-form class="q-gutter-md q-mt-xl">
        <q-select
          :options="paymentOptions"
          v-model="paymentMethod"
          label="Payment Method"
          outlined
          clearable
        />

        <q-input
          v-model="paymentDate"
          label="Payment Date"
          outlined
          :rules="[ val => val && val.length > 0 || `Please select payment date`]"
        >
          <template v-slot:append>
            <q-icon
              name="event"
              class="cursor-pointer"
            >
              <q-popup-proxy
                ref="qDateProxy"
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date
                  mask="YYYY-MM-DD"
                  v-model="paymentDate"
                  :options="optionsFn"
                >
                  <div class="row items-center justify-end">
                    <q-btn
                      v-close-popup
                      label="Close"
                      color="primary"
                      flat
                    />
                  </div>
                </q-date>

              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input
          outlined
          v-model="reference"
          label="Reference"
        />
      </q-form>
    </template>
    <q-banner
      class="bg-primary text-white"
      v-if="selectedAccount && selectedPaymentAdvices.length === 0"
    >
      No Payment Advices found
    </q-banner>
    <div class="q-mt-xl">
      <q-btn
        class="bg-amber-2"
        outline
        color="amber-9"
        rounded
        label="Submit"
        @click.prevent="onSubmit"
      />
    </div>
    <template v-if="qrcode">
      <VueQR
        width="300"
        logoSrc="/statics/PayNow.png"
        :text="qrcode"
        colorDark="#7C1A78"
        :logoScale="0.23"
        :logoMargin="1.5"
        :logoCornerRadius="0.1"
      />
    </template>
  </Drawer>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
import find from "lodash/find";
import sumBy from "lodash/sumBy";
import { nodeServer } from "../../configs/site";

export default {
  props: ["dialog", "closeDialog"],
  components: {
    Drawer: () => import("../../components/Drawer"),
    VueQR: () => import("vue-qr"),
  },

  data() {
    return {
      selectedAccount: null,
      emailOptions: [],
      selectedPaymentAdvices: [],
      studentOptions: [],
      selectedEmail: null,
      selectedStudents: [],
      qrcode: null,
      manual: false,
      paymentMethod: "Bank Transfer",
      paymentDate: null,
      reference: "",
      paymentOptions: ["Bank Transfer", "Cash", "NETS", "Cheque"],
    };
  },
  watch: {
    accounts(newValue) {
      if (newValue) {
        this.emailOptions = newValue;
      }
    },
    students(newValue) {
      if (newValue) {
        this.studentOptions = newValue;
      }
    },
    selectedAccount: {
      deep: true,
      handler(newValue) {
        if (newValue) {
          let students = [];
          let accountPayments = filter(this.unpaid, {
            email: newValue.email.toLowerCase().trim(),
          });
          this.selectedPaymentAdvices = accountPayments.map((acc) => {
            students.push(acc.studentKey);
            return {
              ...acc,
              selected: true,
            };
          });
          this.selectedStudents = [...new Set(students)];
        } else {
          this.selectedPaymentAdvices = [];
          this.selectedStudents = [];
        }
      },
    },
    selectedEmail(newValue) {
      if (newValue) {
        let account = find(this.accounts, {
          email: newValue.email.toLowerCase().trim(),
        });
        console.log(account);
        this.selectedAccount = account;
      } else {
        this.selectedAccount = null;
      }
    },
  },
  computed: {
    ...mapState({
      accounts: (state) => state.accounts.list,
      unpaid: (state) => state.payments.unpaid,
      students: (state) => state.students.all,
      credits: (state) => state.credits.list,
    }),
    unusedCredits() {
      let unusedCredits = [];
      let unusedCreditsValue = 0;
      let unusedCreditsKey = [];
      this.selectedStudents.forEach((key) => {
        let filtered = filter(this.credits, { studentKey: key });
        if (filtered.length > 0) {
          unusedCredits.push(
            ...filtered.map((c) => {
              return {
                ...c,
                amount: parseFloat(c.amount),
              };
            })
          );
        }
      });
      if (unusedCredits.length > 0) {
        unusedCreditsValue = sumBy(unusedCredits, "amount");
        unusedCreditsKey = unusedCredits.map((c) => c.key);
      }
      return {
        amount: unusedCreditsValue,
        keys: unusedCreditsKey,
      };
    },
    subtotal() {
      let subtotal = 0;
      this.selectedPaymentAdvices.forEach((pa) => {
        if (pa.selected) {
          subtotal += parseFloat(pa.amount);
        }
      });
      return subtotal;
    },
    total() {
      let total = this.subtotal;
      if (this.unusedCredits.amount > 0 && total > this.unusedCredits.amount) {
        total = this.subtotal - this.unusedCredits.amount;
      }
      return total;
    },
  },
  methods: {
    close() {
      this.closeDialog();
    },
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.emailOptions = this.accounts.filter(
          (v) => v.email.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    optionsFn(date) {
      return date <= this.$moment().format("YYYY/MM/DD");
    },
    filterStudentFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.studentOptions = this.students.filter(
          (v) => v.childName.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    async onSubmit(data) {
      this.$q.loading.show();
      let total = 0;
      let subtotal = 0;
      let paymentAdvices = [];
      this.selectedPaymentAdvices.forEach((pa) => {
        if (pa.selected) {
          paymentAdvices.push(pa.key);
          subtotal += parseFloat(pa.amount);
        }
      });

      const { key } = this.selectedAccount;
      total = subtotal;

      let paymentDetails = {
        accountKey: key,
        paymentAdvices,
        subtotal,
        total,
      };

      if (
        this.unusedCredits.amount > 0 &&
        subtotal >= this.unusedCredits.amount
      ) {
        paymentDetails = {
          ...paymentDetails,
          total: subtotal - this.unusedCredits.amount,
          creditsUsed: this.unusedCredits.amount,
          creditsKey: this.unusedCredits.keys,
        };
      }

      if (this.manual || subtotal === this.unusedCredits.amount) {
        paymentDetails = {
          ...paymentDetails,
          status: "Paid",
          paymentDetails: {
            amtDtls: {
              txnAmt: subtotal - this.unusedCredits.amount,
              txnCcy: "SGD",
            },
            txnDate: this.paymentDate,
            txnType: this.paymentMethod,
          },
          reference: this.reference,
          type: "Manual",
        };
        let paymentRef = await this.$store.dispatch(
          "payments/addPayNow",
          paymentDetails
        );
        let promises = [];
        if (paymentDetails.creditsUsed) {
          this.unusedCredits.keys.forEach((key) => {
            let a = this.$store.dispatch("credits/updateCredit", {
              key,
              data: {
                used: true,
                dateUsed: this.$moment().format(),
                paymentKey: paymentRef,
              },
            });
            promises.push(a);
          });
        }
        this.selectedPaymentAdvices.forEach((pa) => {
          if (pa.selected) {
            let b = this.$store.dispatch("payments/updatePayment", {
              key: pa.key,
              data: {
                paymentStatus: "Paid",
                paymentReceived: this.$moment().format(),
                paymentKey: paymentRef,
              },
            });
            promises.push(b);
            if (pa.type === "Registration Fee") {
              let c = this.$store.dispatch("accounts/updateRegistrationPaid", {
                studentKey: pa.studentKey,
                paymentKey: paymentRef,
                key: this.selectedAccount.key,
              });
              promises.push(c);
            }
          }
        });
        await Promise.all(promises).then((res) => {
          this.$q.loading.hide();
          this.selectedEmail = null;
          this.manual = false;
          this.$q.notify({
            type: "positive",
            message: `Manual Payment Updated!`,
          });
        });
      } else {
        paymentDetails = {
          ...paymentDetails,
          expiry: this.$moment().add(3, "days").format(),
          status: "Pending",
        };
        let paymentRef = await this.$store.dispatch(
          "payments/addPayNow",
          paymentDetails
        );
        const qrData = {
          method: "post",
          url: `${nodeServer}/qrcode/generate`,
          data: {
            uen: "200413149DWEB",
            amount: paymentDetails.total.toFixed(2),
            expiry: this.$moment().add(3, "days").format("YYYYMMDD"),
            refNumber: paymentRef,
            company: "ASIA FOOTBALL GROUP PTE LTD",
          },
        };
        this.$axios(qrData).then(async (resp) => {
          this.qrcode = resp.data;
          await this.$store.dispatch("payments/updatePayNow", {
            key: paymentRef,
            data: { qrcode: this.qrcode },
          });
          this.$q.loading.hide();
        });
      }
    },
  },
};
</script>

<style></style>
