<template>
  <div class="q-mt-md">
    <q-dialog v-model="showQRDialog">
      <q-card>
        <q-card-section>
          <div class="text-h6">PayNow QR</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <VueQR
            width="300"
            logoSrc="/statics/PayNow.png"
            :text="qrcode"
            colorDark="#7C1A78"
            :logoScale="0.23"
            :logoMargin="1.5"
            :logoCornerRadius="0.1"
          />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="OK"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="receipt"
            color="red"
            text-color="white"
          />
          Pending
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredPayments"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td auto-width>
            <q-btn
              size="sm"
              flat
              @click="deletePayment(props.row.key)"
              icon="delete"
            />
            <q-btn
              v-if="props.row.qrcode"
              size="sm"
              flat
              @click="showQRCode(props.row)"
              icon="qr_code"
            />
            <q-btn
              size="sm"
              color="accent"
              round
              class="q-ml-2"
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <div class="row items-center">
              <div class="col-12 col-md-2">
                <q-icon
                  name="receipt"
                  style="font-size: 2em;"
                />
                <span class="text-subtitle2">Payment Details</span>
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
export default {
  props: ["payments"],
  components: {
    VueQR: () => import("vue-qr"),
  },
  data() {
    return {
      type: null,
      expanded: [],
      searchText: "",
      tableExpand: true,
      selectedOrder: null,
      oDialog: false,
      qrcode: null,
      showQRDialog: false,
      pagination: {
        sortBy: "date",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Email",
          align: "left",
          field: "email",
          sortable: true,
        },

        {
          name: "total",
          label: "Amount",
          field: "total",
          sortable: true,
        },
        {
          name: "expiry",
          label: "Expiry",
          field: "expiry",
          format: (val) =>
            val ? this.$moment(val).format("DD MMM YYYY") : "-",
          sortable: true,
        },
        {
          name: "key",
          label: "Key",
          field: "key",
          sortable: true,
        },
      ],
    };
  },

  computed: {
    filteredPayments() {
      let payments = this.payments;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        payments = filter(
          payments,
          (v) => v.email && v.email.toLowerCase().indexOf(needle) > -1
        );
      }
      return payments;
    },
  },
  methods: {
    async deletePayment(key) {
      await this.$store.dispatch("payments/deletePayNow", key);
    },
    showQRCode(payment) {
      this.qrcode = payment.qrcode;
      this.showQRDialog = true;
    },
  },
};
</script>

<style></style>
