<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title
          ><b>{{ headerText }}s</b></q-toolbar-title
        >
      </q-toolbar>
    </div>
    <template v-for="month in months">
      <training-month
        :month="month"
        :key="month"
        :expand="month === currentMonth"
        :year="year"
        :plans="plans && plans[month] ? plans[month] : []"
      />
    </template>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { months } from "../../configs/site";
export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      headerText: "Training Plan",
      months,
      year: this.$moment().format("YYYY"),
      currentMonth: this.$moment().format("MMMM")
    };
  },
  computed: {
    ...mapState({
      plans: state => state.trainingPlans.listByMonth
    })
  },
  components: {
    TrainingMonth: () => import("./TrainingMonth.vue")
  },

  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await this.$store.dispatch("trainingPlans/loadTrainingPlans", this.year);
      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
