<template>
  <div class="q-mt-md">
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="pending_actions"
            color="orange"
            text-color="white"
          />
          {{ month ? month : "" }}
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="plans"
      :columns="columns"
      :pagination="pagination"
      :filter="searchText"
      row-key="key"
      hide-no-data
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>

          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value}}
          </q-td>

          <q-td>
            <q-btn
              flat
              color="black"
              icon="edit"
              @click.prevent="editPlan(props.row)"
            />
            <q-btn
              flat
              color="black"
              icon="delete"
              @click.prevent="deletePlan(props.row.key)"
            />
          </q-td>
        </q-tr>
        <q-tr v-if="Object.keys(selectedPlans).includes(props.row.key)">
          <td colspan="100%">
            <q-form @submit="updatePlan(props.row.key)">
              <div class="row">
                <div class="col-2">
                  <q-input
                    outlined
                    dense
                    type="number"
                    v-model="selectedPlans[props.row.key].week"
                    label="Week"
                    :rules="[val => !!val || 'Week is required']"
                  />
                </div>
                <div class="col-4 q-px-xs">
                  <q-input
                    outlined
                    dense
                    v-model="selectedPlans[props.row.key].main"
                    label="Main Topic"
                    :rules="[val => !!val || 'Main Topic is required']"
                  />
                </div>
                <div class="col-4 q-px-xs">
                  <q-select
                    outlined
                    multiple
                    dense
                    :options="['U6', 'U8', 'U10', 'U12', 'U14']"
                    v-model="selectedPlans[props.row.key].ageGroups"
                    label="Age Groups"
                    :rules="[val => !!val || 'Age group is required']"
                  />
                </div>
                <div class="col-4 q-px-xs">
                  <q-input
                    outlined
                    dense
                    v-model="selectedPlans[props.row.key].exercise"
                    label="Exercise"
                    :rules="[val => !!val || 'Exercise is required']"
                  />
                </div>
              </div>
              <div class="row q-gutter-md">
                <template v-for="(comment, key, ind) in selectedPlans[props.row.key]
                    .comments">
                  <div
                    class="col"
                    :key="ind"
                  >
                    <q-input
                      outlined
                      dense
                      autogrow
                      v-model="selectedPlans[props.row.key].comments[key]"
                      :label="`${key} Star${ind > 0 ? 's' : ''} Comments`"
                    />
                  </div>
                </template>
              </div>
              <div class="text-right q-ma-md">
                <q-btn
                  @click.prevent="stopEditPlan(props.row.key)"
                  class="q-mr-md"
                >Cancel</q-btn>

                <q-btn
                  type="submit"
                  color="primary"
                >Submit</q-btn>
              </div>
            </q-form>
          </td>
        </q-tr>
      </template>
      <template v-slot:bottom-row>
        <q-tr>
          <q-td colspan="100%">
            <div class="text-center">
              <q-btn
                color="primary"
                dense
                @click.prevent="addPlan"
                round
                icon="add"
              ></q-btn>
            </div>
          </q-td>
        </q-tr>
        <q-tr v-if="newPlans.length > 0">
          <q-td colspan="100%">
            <q-form @submit="addPlans">
              <template v-for="(np, index) in newPlans">
                <div
                  :key="index"
                  class="q-ma-md"
                >
                  <div class="row">
                    <div class="col-2">
                      <q-input
                        outlined
                        dense
                        type="number"
                        v-model="np.week"
                        label="Week"
                        :rules="[val => !!val || 'Week is required']"
                      />
                    </div>
                    <div class="col-4 q-px-xs">
                      <q-input
                        outlined
                        dense
                        v-model="np.main"
                        label="Main Topic"
                        :rules="[val => !!val || 'Main Topic is required']"
                      />
                    </div>
                    <div class="col-4 q-px-xs">
                      <q-input
                        outlined
                        dense
                        v-model="np.exercise"
                        label="Exercise"
                        :rules="[val => !!val || 'Exercise is required']"
                      />
                    </div>
                    <div class="col-2 q-px-xs">
                      <q-select
                        outlined
                        multiple
                        dense
                        use-chips
                        clearable
                        :options="['U6', 'U8', 'U10', 'U12', 'U14']"
                        v-model="np.ageGroups"
                        label="Age Groups"
                        :rules="[val => !!val || 'Age group is required']"
                      />
                    </div>
                  </div>
                  <div class="row q-gutter-md">
                    <template v-for="(comment, key, ind) in np.comments">
                      <div
                        class="col"
                        :key="ind"
                      >
                        <q-input
                          outlined
                          dense
                          autogrow
                          v-model="np.comments[key]"
                          :label="`${key} Star${ind > 0 ? 's' : ''} Comments`"
                        />
                      </div>
                    </template>
                  </div>
                  <q-separator class="q-ma-md"></q-separator>
                </div>
              </template>
              <div class="text-right q-ma-md">
                <q-btn
                  @click.prevent="newPlans = []"
                  class="q-mr-md"
                >Cancel</q-btn>

                <q-btn
                  type="submit"
                  color="primary"
                >Submit</q-btn>
              </div>
            </q-form>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  props: ["month", "expand", "year", "plans"],
  data() {
    return {
      expanded: [],
      selectedPlans: {},
      newPlans: [],
      emptyPlan: {
        main: "",
        exercise: "",
        comments: {
          1: "",
          2: "",
          3: "",
          4: "",
          5: "",
        },
      },
      accounts: [],
      searchText: "",
      tableExpand: this.expand,
      pagination: {
        sortBy: "week",
        descending: false,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "week",
          required: true,
          label: "Week",
          field: "week",
          align: "left",

          sortable: true,
        },
        {
          name: "Agegroup",
          label: "Age Group",
          field: "ageGroups",

          sortable: true,
          format: (val) => (val ? val.toString() : "-"),
        },
        {
          name: "main",
          required: true,
          label: "Main Topic",
          field: "main",
          sortable: true,
        },

        {
          name: "Exercise",
          label: "Exercise",
          field: "exercise",
          sortable: true,
        },
      ],
    };
  },

  methods: {
    addPlan() {
      this.newPlans.push({ ...this.emptyPlan });
    },
    async deletePlan(key) {
      this.$q.loading.show();
      await this.$store.dispatch("trainingPlans/deleteTrainingPlan", key);
      this.$q.loading.hide();
    },
    stopEditPlan(key) {
      let selectedPlans = { ...this.selectedPlans };
      delete selectedPlans[key];
      this.selectedPlans = Object.assign({}, selectedPlans);
    },
    editPlan(plan) {
      this.$set(this.selectedPlans, plan.key, { ...plan });
    },
    async addPlans() {
      this.$q.loading.show();
      await this.$store.dispatch("trainingPlans/addTrainingPlans", {
        plans: this.newPlans,
        month: this.month,
        year: this.year,
      });
      this.newPlans = [];
      this.$q.loading.hide();
    },
    async updatePlan(key) {
      this.$q.loading.show();
      await this.$store.dispatch("trainingPlans/updateTrainingPlan", {
        key,
        data: this.selectedPlans[key],
      });
      this.stopEditPlan(key);
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
