<template>
  <q-breadcrumbs class="q-mb-md q-ml-sm">
    <q-breadcrumbs-el label="Home" to="/" class="text-primary" />
    <q-breadcrumbs-el
      :label="path[0].toUpperCase() + path.substring(1)"
      v-if="path"
    />
  </q-breadcrumbs>
</template>

<script>
export default {
  props: ["path"]
};
</script>
