<template>
  <div>
    <q-dialog
      v-model="show"
      persistent
      :maximized="true"
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-layout class="bg-amber-2">
        <q-header
          style="max-width: 1000px; margin: 0 auto"
          class="bg-grey-3 q-pa-lg"
        >
          <q-btn
            flat
            icon="chevron_left"
            label="Back"
            color="grey-7"
            @click.native="closeDialog"
          ></q-btn>
          <q-toolbar class="text-grey-9">
            <q-toolbar-title
              ><b>{{ title }} </b></q-toolbar-title
            >
          </q-toolbar>
          <q-separator />
          <div class="text-grey-9 q-mt-lg q-mx-md">
            <b style="font-size: 20px">Details</b>
          </div>
        </q-header>

        <q-page-container
          style="max-width: 1000px; margin: 0 auto"
          class="q-pa-lg bg-grey-3"
        >
          <q-page padding class="bg-white rounded-borders">
            <slot></slot>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
  </div>
</template>

<script>
export default {
  props: ["title", "show", "onClose"],
  methods: {
    closeDialog() {
      this.onClose();
    }
  }
};
</script>
