<template>
  <div class="q-pa-md">
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
    >
      <q-input
        key="name"
        outlined
        v-model="feesData.name"
        label="Fees Name"
      />
      <q-select
        label="Fees Type"
        key="type"
        :options="['Sessions','Term', 'Month', 'One Time']"
        v-model="feesData.type"
        outlined
      />
      <template v-if="feesData.type === 'One Time'">
        <q-input
          outlined
          v-model="feesData.amount"
          label="Amount"
        />
      </template>
      <template v-if="feesData.type === 'Month'">
        <q-input
          key="monthRate"
          outlined
          v-model="feesData.monthRate"
          label="Per Month Rate"
        />
      </template>
      <template v-if="feesData.type === 'Term'">
        <q-input
          key="numberOfSessions"
          outlined
          v-model="feesData.numberOfSessions"
          label="Number of Sessions"
          type="number"
          @input="handleSessions"
          debounce="500"
        />
        <q-input
          key="termRate"
          outlined
          v-model="feesData.termRate"
          label="Per Term Rate"
        />
      </template>
      <template v-if="feesData.type === 'Sessions'">
        <q-input
          key="numberOfSessions"
          outlined
          v-model="feesData.numberOfSessions"
          label="Number of Sessions"
          type="number"
          @input="handleSessions"
          debounce="500"
        />
        <q-btn-toggle
          v-model="feesData.sessionsType"
          outlined
          @input="handleSessions"
          toggle-color="accent"
          color="white"
          text-color="accent"
          :options="[
          {label: 'Fixed', value: 'Fixed'},
          {label: 'Pro-rated', value: 'Pro-rated'}
        ]"
        />
        <q-input
          v-if="feesData.sessionsType && feesData.sessionsType=== 'Fixed'"
          key="perSessionRate"
          outlined
          v-model="feesData.perSessionRate"
          label="Per Session Rate"
        />
        <q-list v-else>
          <template v-for="(item,index) in feesData.amount">
            <q-item :key="index">
              <q-item-section>{{index+1}} session</q-item-section>
              <q-item-section>
                <q-input
                  outlined
                  v-model="feesData.amount[index].amount"
                  label="Amount"
                />
              </q-item-section>
            </q-item>
          </template>
        </q-list>
      </template>

      <div>
        <q-btn
          label="Submit"
          type="submit"
          color="secondary"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
const termData = {
  numberOfSessions: null,
  termRate: null,
};
const monthData = {
  monthRate: null,
};
const sessionsData = {
  numberOfSessions: null,
  sessionsType: null,
  perSessionRate: null,
  amount: null,
};
const oneTimeData = {
  amount: null,
};
export default {
  props: ["onComplete", "data"],
  data() {
    return {
      feesData: {
        name: null,
      },
    };
  },
  mounted() {
    this.initialiseData(this.data);
  },
  watch: {
    data(newValue) {
      this.initialiseData(newValue);
    },
  },
  methods: {
    initialiseData(data) {
      console.log(data);
      Object.assign(this.feesData, {}, data);
    },
    onSubmit() {
      let typeData;
      switch (this.feesData.type) {
        case "Term":
          typeData = termData;
          break;
        case "Month":
          typeData = monthData;
          break;
        case "Sessions":
          typeData = sessionsData;
          break;
        case "One Time":
          typeData = oneTimeData;
          break;
      }
      let completedData = {
        name: this.feesData.name,
        type: this.feesData.type,
      };
      Object.keys(typeData).map((key) => {
        if (this.feesData[key]) completedData[key] = this.feesData[key];
      });

      this.onComplete(completedData);
    },
    handleSessions() {
      if (this.feesData.sessionsType === "Pro-rated") {
        let amount = [];
        for (var i = 0; i < parseInt(this.feesData.numberOfSessions); i++) {
          amount.push({
            numberOfSessions: i + 1,
            amount: null,
          });
        }
        this.$set(this.feesData, "amount", amount);
        console.log(amount);
      }
    },
  },
};
</script>
