<template>
  <div class="q-pa-md">
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
    >
      <template v-for="item in formConfig">
        <template v-if="item.type === 'Input'">
          <q-input
            :key="item.fieldName"
            outlined
            v-model="dataList[item.fieldName]"
            :label="item.label"
            :rules="[ val => !item.required || val && val.length > 0 || `Please enter ${item.label}`]"
          />
        </template>
        <template v-if="item.type === 'Number'">
          <q-input
            :key="item.fieldName"
            outlined
            v-model.number="dataList[item.fieldName]"
            type="number"
            :label="item.label"
            :rules="[ val => val  || `Please enter ${item.label}`]"
          />
        </template>
        <template v-else-if="item.type === 'TextArea'">
          <q-input
            :key="item.fieldName"
            outlined
            v-model="dataList[item.fieldName]"
            :label="item.label"
            type="textarea"
            :rules="[ val => val && val.length > 0 || `Please enter ${item.label}`]"
          />
        </template>
        <template v-else-if="item.type === 'Toggle'">
          <q-toggle
            :key="item.fieldName"
            color="accent"
            :label="item.label"
            v-model="dataList[item.fieldName]"
            :val="item.label"
          />
        </template>
        <template v-else-if="item.type === 'Select'">
          <template v-if="item.listName === null">
            <q-select
              :key="item.fieldName"
              :options="item.values"
              v-model="dataList[item.fieldName]"
              :label="item.label"
              :multiple="item.multiple"
              outlined
              :rules="[ val => val && val.length > 0 || `Please select ${item.label}`]"
            />
          </template>
          <v-select
            class="select-component q-mb-lg"
            v-else
            :reduce="opt => opt[item.value]"
            :label="item.title"
            :key="item.fieldName"
            v-model="dataList[item.fieldName]"
            :multiple="item.multiple"
            :closeOnSelect="false"
            :options="item.listName === null ? item.values : customLists[item.listName]"
          >
            <template #option="option">
              <q-item
                clickable
                v-ripple
              >
                <q-item-section>{{ option[item.title] }}</q-item-section>
                <q-item-section
                  avatar
                  v-if="dataList[item.fieldName].includes(option[item.value])"
                >
                  <q-icon
                    color="primary"
                    name="check"
                  />
                </q-item-section>
              </q-item>

            </template>
          </v-select>
          <!-- <q-select
            v-else
            :key="item.fieldName"
            :options="
              item.listName === null ? item.values : customLists[item.listName]
            "
            v-model="dataList[item.fieldName]"
            :option-label="item.title"
            outlined
            :label="item.label"
            :option-value="item.value"
            :multiple="item.multiple"
            emit-value
            map-options
            :rules="[ val => val && val.length > 0 || `Please select ${item.label}`]"
          >
          </q-select> -->
        </template>
        <template v-else-if="item.type === 'TimePicker'">
          <q-input
            v-model="dataList[item.fieldName]"
            :label="item.label"
            outlined
            :key="item.fieldName"
            :rules="[ val => val && val.length > 0 || `Please select ${item.label}`]"
          >
            <template v-slot:append>
              <q-icon
                name="access_time"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-time v-model="dataList[item.fieldName]">
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </template>
        <template v-else-if="item.type === 'DatePicker'">
          <q-input
            v-model="dataList[item.fieldName]"
            :label="item.label"
            outlined
            :key="item.fieldName"
            :rules="[ val => val && val.length > 0 || `Please select ${item.label}`]"
          >
            <template v-slot:append>
              <q-icon
                name="event"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    mask="YYYY-MM-DD"
                    v-model="dataList[item.fieldName]"
                  >
                    <div class="row items-center justify-end">
                      <q-btn
                        v-close-popup
                        label="Close"
                        color="primary"
                        flat
                      />
                    </div>
                  </q-date>

                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </template>
      </template>

      <div class="q-mt-xl">
        <q-btn
          class="bg-amber-2"
          outline
          color="amber-9"
          rounded
          label="Submit"
          type="submit"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  props: ["formConfig", "data", "customLists", "onComplete"],
  created() {
    this.initialiseData(this.data);
  },
  watch: {
    data(newValue) {
      this.initialiseData(newValue);
    },
  },
  data() {
    return {
      dataList: {},
    };
  },
  methods: {
    initialiseData(data) {
      this.formConfig.map((item) => {
        let value = "";
        if (data && data[item.fieldName]) {
          if (item.type === "Toggle" && item.options) {
            let found = item.options.findIndex(
              (o) => o === data[item.fieldName]
            );
            value = found < 1 ? false : true;
          } else {
            value = data[item.fieldName];
          }
        } else {
          if (item.type === "Toggle") {
            value = false;
          } else if (item.type === "DatePicker" && item.default === "Today") {
            value = this.$moment().format("YYYY-MM-DD");
          }
        }
        this.$set(this.dataList, item.fieldName, value);
      });
    },
    onSubmit() {
      this.onComplete(this.dataList);
    },
  },
};
</script>

<style>
.vs__dropdown-toggle {
  padding: 5px 8px;
  height: 50px;
}
</style>