<template>
  <q-select
    dense
    outlined
    :value="value"
    :options="options"
    label="Month"
    @input="update"
    style="width: 100px"
  />
</template>

<script>
export default {
  props: ["value"],
  data() {
    return {
      options: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ]
    };
  },
  methods: {
    update(e) {
      this.$emit("input", e);
    }
  }
};
</script>

<style></style>
