<template>
  <div class="q-pa-md">
    <div class="row">
      <div class="col-12">
        <template v-for="(student, key) in paymentDetails">
          <q-card :key="key" class="q-mt-md">
            <q-card-section class="bg-accent text-white">
              <div class="text-title">{{ student.childName }}</div>
            </q-card-section>

            <template v-if="student.paymentItems.length > 0">
              <q-list>
                <template v-for="(item, index) in student.paymentItems">
                  <q-item :key="key + index">
                    <q-item-section>
                      <q-item-label
                        style="font-size: 20px;"
                        class="text-secondary"
                        >ITEM {{ index + 1 }} - {{ item.type }}</q-item-label
                      >
                    </q-item-section>
                    <q-item-section side top>
                      <q-icon name="delete" @click="removeItem(key, index)" />
                    </q-item-section>
                  </q-item>
                  <q-item :key="key + index + 'term'">
                    <q-item-section>
                      <div
                        class="row"
                        v-if="item.type === 'Fee' && item.confirmed"
                      >
                        <q-list class="full-width">
                          <template v-for="(term, key) in item.terms">
                            <q-item :key="key + index + 'TermFeeDescription'">
                              <q-item-section>
                                <q-item-label>Term {{ key }} Fees</q-item-label>
                                <q-item-label caption>
                                  <template v-for="(date, i) in term">
                                    <span :key="i" v-if="date.selected"
                                      >{{ $moment(date.date).format("DD MMM")
                                      }}{{
                                        i === term.length - 1 ? "" : ", "
                                      }}</span
                                    >
                                  </template>
                                </q-item-label>
                              </q-item-section>
                              <q-item-section side>
                                <q-icon
                                  name="create"
                                  @click="item.confirmed = !item.confirmed"
                                  class="cursor-pointer"
                                ></q-icon>
                              </q-item-section>
                            </q-item>
                          </template>
                        </q-list>
                      </div>
                      <div
                        class="row"
                        v-if="item.type === 'Fee' && !item.confirmed"
                      >
                        <div class="col-12">
                          <q-input
                            v-model="item.startDate"
                            outlined
                            label="Start Date"
                          >
                            <template v-slot:append>
                              <q-icon name="event" class="cursor-pointer">
                                <q-popup-proxy
                                  :ref="key + index + 'qDateProxy'"
                                  transition-show="scale"
                                  transition-hide="scale"
                                >
                                  <q-date
                                    :options="optionsFn"
                                    mask="DD-MM-YYYY"
                                    v-model="item.startDate"
                                    @input="
                                      e => handleDateChange(e, key, index)
                                    "
                                  />
                                </q-popup-proxy>
                              </q-icon>
                            </template>
                          </q-input>
                        </div>
                        <div class="col-12">
                          <template v-for="(term, termKey) in item.terms">
                            <q-card class="q-my-xs" :key="termKey" square>
                              <q-card-section class="bg-grey text-white">
                                <b>Term {{ termKey }} Dates</b>
                              </q-card-section>
                              <q-card-section>
                                <div class="row">
                                  <template v-for="(date, i) in term">
                                    <div class="col-3" :key="date + i">
                                      <q-btn
                                        @click="
                                          updateDateStatus(
                                            key,
                                            index,
                                            termKey,
                                            i
                                          )
                                        "
                                        outlined
                                        :label="
                                          $moment(date.date).format('DD MMM')
                                        "
                                        class="full-width"
                                        :class="{
                                          'bg-primary': date.selected,
                                          'bg-grey': !date.selected
                                        }"
                                        style="padding: 5px 5px; border-radius: 0"
                                      />
                                    </div>
                                  </template>
                                </div>
                              </q-card-section>
                            </q-card>
                          </template>
                        </div>
                        <q-btn
                          v-if="Object.keys(item.terms).length"
                          class="q-mt-md"
                          @click="confirmDates(key, index)"
                          >Submit</q-btn
                        >
                      </div>
                    </q-item-section>
                  </q-item>
                  <q-separator spaced inset :key="key + index + 'seperator'" />
                  <q-item
                    :key="key + index + 'subtotal'"
                    v-if="item.confirmed"
                    class="q-px-xl"
                  >
                    <q-item-section>&nbsp;</q-item-section>
                    <q-item-section side>
                      <b>Subtotal: ${{ item.total }}</b>
                    </q-item-section>
                  </q-item>
                </template>
              </q-list>
            </template>
            <q-card-section>
              <q-btn-dropdown color="secondary" label="Add Item">
                <q-list>
                  <template v-for="item in itemOptions">
                    <q-item
                      clickable
                      v-close-popup
                      @click="addItem(item, key)"
                      :key="key + item"
                    >
                      <q-item-section>
                        <q-item-label>{{ item }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </q-list>
              </q-btn-dropdown>
            </q-card-section>
          </q-card>
        </template>
        <div class="col-12">
          <q-card class="q-mt-md">
            <q-card-section class="bg-grey text-black">
              <b>Payment Method</b>
            </q-card-section>
            <q-card-section>
              <div class="row">
                <div class="col-4">
                  Total Payable
                </div>
                <div class="col-8">${{ total }}</div>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row items-center q-col-gutter-xs">
                <div class="col-4">
                  <q-btn-toggle
                    v-model="paymentMethod"
                    toggle-color="primary"
                    :options="[
                      { label: 'Bank Transfer', value: 'Bank Transfer' },
                      { label: 'Cash', value: 'Cash' }
                    ]"
                  />
                </div>
                <div class="col-4">
                  <q-input
                    v-model="methodDetails.dateReceived"
                    outlined
                    label="Date Received"
                  >
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy
                          ref="dateReceivedProxy"
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-date
                            mask="DD-MM-YYYY"
                            v-model="methodDetails.dateReceived"
                            ><div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-4">
                  <q-input
                    v-model="methodDetails.reference"
                    outlined
                    label="Reference No."
                  >
                  </q-input>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["student"],
  async created() {
    this.$q.loading.show();
    await this.$store.dispatch(
      "calendars/getCalendar",
      this.student.calendarKey
    );
    const { childName, classKey, email, contact, venueId, fee } = this.student;
    this.$set(this.paymentDetails, this.student.key, {
      startDate: this.$moment().format("DD-MM-YYYY"),
      paymentItems: [],
      childName,
      classKey,
      email,
      contact,
      centreId: venueId
    });
    this.student.siblings.forEach(s => {
      this.$set(this.paymentDetails, s.key, {
        startDate: this.$moment().format("DD-MM-YYYY"),
        paymentItems: [],
        ...s
      });
    });
    if (this.calendar) {
      Object.keys(this.calendar.terms).forEach(key => {
        const term = this.calendar.terms[key];
        if (term) {
          let termDates = [];
          term.forEach(date => {
            if (
              this.$moment(date).isSameOrAfter(
                this.$moment(this.startDate, "DD-MM-YYYY"),
                "day"
              )
            ) {
              termDates.push({
                selected: true,
                date: this.$moment(date)
              });
            }
          });
          if (termDates.length > 0) this.$set(this.terms, key, termDates);
        }
      });
    }
    this.$q.loading.hide();
  },
  data() {
    return {
      paymentDetails: {},
      methodDetails: {},
      paymentMethod: "Bank Transfer",
      itemOptions: ["Fee", "Product", "Promotion", "Event"]
    };
  },
  computed: {
    ...mapState({
      calendar: state => state.calendars.selectedCalendarDetails
    }),
    total() {
      let total = 0;
      if (this.paymentDetails) {
        Object.keys(this.paymentDetails).forEach(key => {
          const { paymentItems } = this.paymentDetails[key];
          if (paymentItems) {
            paymentItems.forEach(p => {
              if (p.total) total += p.total;
            });
          }
        });
      }

      return total;
    }
  },
  methods: {
    addItem(type, key) {
      switch (type) {
        case "Fee":
          this.paymentDetails[key].paymentItems.push({
            type: "Fee",
            startDate: this.$moment().format("DD-MM-YYYY"),
            terms: {},
            confirmed: false
          });
          break;
        case "Product":
          this.paymentDetails[key].paymentItems.push({
            type: "Product"
          });
          break;
        case "Event":
          console.log("Event");
          break;
      }
    },
    removeItem(key, index) {
      this.paymentDetails[key].paymentItems.splice(index, 1);
    },
    optionsFn(date) {
      return this.calendar.termDates.includes(
        this.$moment(date, "YYYY/MM/DD").format("DD-MM-YYYY")
      );
    },
    updateDateStatus(studentKey, itemIndex, key, index) {
      this.$set(
        this.paymentDetails[studentKey].paymentItems[itemIndex].terms[key][
          index
        ],
        "selected",
        !this.paymentDetails[studentKey].paymentItems[itemIndex].terms[key][
          index
        ].selected
      );
    },
    confirmDates(key, index) {
      let termTotal = 0;
      let paymentItem = { ...this.paymentDetails[key].paymentItems[index] };
      Object.keys(paymentItem.terms).forEach(term => {
        const dates = paymentItem.terms[term];
        if (paymentItem.type === "Fee") {
          if (this.student.fee.type === "Sessions") {
            if (this.student.fee.sessionsType === "Fixed") {
              let count = 0;
              dates.forEach(session => {
                if (session.selected === true) {
                  count++;
                }
              });
              termTotal += count * parseInt(this.student.fee.perSessionRate);
            }
          }
        }
      });
      paymentItem = {
        ...paymentItem,
        confirmed: true,
        total: termTotal
      };
      this.$set(this.paymentDetails[key].paymentItems, index, paymentItem);
    },
    handleDateChange(startDate, studentKey, itemIndex) {
      this.$q.loading.show();
      this.terms = {};
      let termAdded = 0,
        showNextTerm = true;
      this.$set(
        this.paymentDetails[studentKey].paymentItems[itemIndex],
        "terms",
        {}
      );
      Object.keys(this.calendar.terms).forEach(key => {
        const term = this.calendar.terms[key];
        if (term) {
          let termDates = [];
          term.forEach(date => {
            if (
              this.$moment(date).isSameOrAfter(
                this.$moment(startDate, "DD-MM-YYYY"),
                "day"
              )
            ) {
              termDates.push({
                selected: true,
                date: this.$moment(date)
              });
            }
          });

          if (termDates.length > 0 && showNextTerm) {
            this.$set(
              this.paymentDetails[studentKey].paymentItems[itemIndex].terms,
              key,
              termDates
            );
            showNextTerm = false;
          }
        }
      });

      this.$refs[studentKey + itemIndex + "qDateProxy"][0].hide();
      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
