<template>
  <div class="q-pa-md">
    <q-card class="q-mt-md">
      <q-card-section class="bg-accent text-white">
        <div class="text-title">Payment History</div>
      </q-card-section>
      <div class="row q-pa-xs">
        <div class="col-12">
          <template v-for="(item, index) in data">
            <q-expansion-item
              expand-separator
              :key="index"
              :label="$moment(item.date).format('DD MMM YYYY')"
              :caption="getTerms(item.termsPaid)"
            >
              <template v-slot:header>
                <q-item-section>
                  <div class="text-subtitle text-bold">
                    {{ getTerms(item.termsPaid) }} -
                    {{ $moment(item.date).format("YYYY") }}
                  </div>
                  <div class="text-caption"></div>
                </q-item-section>

                <q-item-section side> ${{ item.total }} </q-item-section>
              </template>

              <q-card>
                <q-card-section>
                  <q-card class="q-pa-sm" bordered flat>
                    <div class="text-subtitle2">Payment Details</div>
                    <q-list bordered>
                      <q-item>
                        <q-item-section>Paid</q-item-section>
                        <q-item-section side>
                          ${{ item.total }}
                        </q-item-section>
                      </q-item>
                      <q-item>
                        <q-item-section>Payment Method</q-item-section>
                        <q-item-section side>
                          {{ item.paymentMethod }}
                        </q-item-section>
                      </q-item>
                      <q-item>
                        <q-item-section>Payment Date</q-item-section>
                        <q-item-section side>
                          {{ $moment(item.date).format("DD/MM/YYYY") }}
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-card>
                </q-card-section>
                <q-card-section>
                  <q-card class="q-pa-sm" bordered flat>
                    <div class="text-subtitle2">Dates Paid</div>
                    <q-separator />
                    <div class="q-pa-sm">
                      <template
                        v-for="(date, index) in getDates(item.termsPaid)"
                      >
                        <q-chip outline :key="index">
                          {{ date }}
                        </q-chip>
                      </template>
                    </div>
                  </q-card>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </template>
        </div>
      </div>
    </q-card>
  </div>
</template>

<script>
export default {
  props: ["data"],
  methods: {
    getTerms(terms) {
      if (terms) {
        let termList = [];
        Object.keys(terms).forEach(key => {
          if (terms[key].length) termList.push(key);
        });
        return `Term ${termList.toString()}`;
      }
    },
    getDates(terms) {
      let datesList = [];
      Object.keys(terms).forEach(key => {
        if (terms[key] && terms[key].length) {
          terms[key].forEach(date => {
            datesList.push(this.$moment(date.date).format("DD MMM YYYY"));
          });
        }
      });
      return datesList;
    }
  }
};
</script>

<style></style>
