<template>
  <div class="q-pa-md">
    <div class="q-gutter-sm">
      <q-skeleton type="rect" />
      <q-skeleton type="rect" />
      <q-skeleton type="rect" />
      <q-skeleton height="150px" />
      <q-skeleton type="rect" />
    </div>
  </div>
</template>
