<template>
  <q-input v-model="selectedDate" style="max-width: 300px" outlined dense>
    <template v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy
          ref="qDateProxy"
          transition-show="scale"
          transition-hide="scale"
        >
          <q-date
            color="accent"
            :options="optionsFn"
            mask="DD-MM-YYYY"
            v-model="selectedDate"
            @input="
              $event => {
                $refs.qDateProxy.hide();
                handleChange($event);
              }
            "
          >
            <div class="row items-center justify-end">
              <q-btn v-close-popup label="Close" color="primary" flat />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script>
export default {
  props: ["value"],
  data() {
    return {
      selectedDate: null
    };
  },
  computed: {
    dateOptions() {
      return this.$store.state.calendars.termDates;
    }
  },
  methods: {
    optionsFn(date) {
      return this.dateOptions.includes(
        this.$moment(date, "YYYY/MM/DD").format("DD-MM-YYYY")
      );
    },
    handleChange(event) {
      this.$emit("input", event);
    }
  }
};
</script>

<style></style>
