<template>
  <q-select
    dense
    outlined
    :value="value"
    :options="options"
    label="Year"
    @input="update"
    style="width: 100px"
  />
</template>

<script>
export default {
  props: ["value"],
  computed: {
    options() {
      let previousYear = this.$moment().subtract(1, "year").format("YYYY");
      let startYear = this.$moment().format("YYYY");
      let nextYear = this.$moment().add(1, "year").format("YYYY");
      let years = [previousYear, startYear, nextYear];
      return years;
    },
  },
  methods: {
    update(e) {
      this.$emit("input", e);
    },
  },
};
</script>

<style></style>
