<template>
  <div class="q-mt-md">
    <!-- Dialog box for Lead Form -->
    <template v-if="lDialog">
      <leads-dialog
        :selectedLead="selectedLead"
        :dialog="lDialog"
        :closeDialog="closeEditDialog"
      ></leads-dialog>
    </template>

    <q-dialog v-model="dialog">
      <q-layout
        view="Lhh lpR fff"
        container
        class="bg-white"
        v-if="selectedStudent"
      >
        <q-header class="bg-primary">
          <q-toolbar>
            <q-toolbar-title>Register {{selectedStudent.childName.toUpperCase()}}</q-toolbar-title>
            <q-btn
              flat
              v-close-popup
              round
              dense
              icon="close"
            />
          </q-toolbar>
        </q-header>
        <q-page-container>
          <q-page padding>
            <q-form ref="form">
              <div class="flex q-mb-md">
                <q-select
                  dense
                  v-model="selectedLocation"
                  use-input
                  outlined
                  hide-selected
                  fill-input
                  placeholder="Select Location"
                  option-label="name"
                  :options="locationOptions"
                  @filter="filterLocFn"
                  style="width: 200px"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
                <q-select
                  class="q-ml-xs"
                  v-model="selectedClass"
                  outlined
                  use-chips
                  dense
                  clearable
                  fill-input
                  placeholder="Select Class"
                  :option-label="
                    opt =>
                      Object(opt) === opt
                        ? `${opt.startTime} - ${
                            opt.name.split(' ')[0]
                          } (${opt.day.slice(0, 3)})`
                        : null
                  "
                  :options="classes[selectedLocation.name]"
                  style="width: 200px"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>

              <div class="flex">
                <year-picker v-model="selectedYear"></year-picker>
                <month-picker
                  v-model="selectedMonth"
                  class="q-ml-xs"
                ></month-picker>
              </div>

            </q-form>
            <h6 class="q-mt-md q-mb-none">Term Dates :</h6>
            <template v-for="date in selectedDates">
              <div
                :key="date.date"
                class="row items-center"
              >
                <div class="col-1">
                  <q-checkbox v-model="date.checked" />

                </div>
                <div class="col">
                  {{ date.date }}
                </div>
              </div>
            </template>
            <q-separator />
            <div class="row">
              <div class="col-12">
                <q-checkbox
                  v-model="createTermFee"
                  :label="`Create Payment Advice for ${selectedMonth} (${ checkedDates.length } sessions Total : $${ total })`"
                />
              </div>
              <div class="col-12">
                <q-checkbox
                  v-model="createRegistrationFee"
                  :label="`Create Payment Advice for Registration Fee ($${parseFloat(registrationFee.amount).toFixed(2)})`"
                />
              </div>
              <div class="col-12">
                <q-checkbox
                  v-model="createParentAccount"
                  :label="`${accountExist ? 'Link ' : 'Create '} Account`"
                />
              </div>

            </div>

            <q-btn
              class="q-mt-md"
              color="primary"
              @click.prevent="submitRegistration"
            >Submit</q-btn>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="check"
            color="green"
            text-color="white"
          />
          Attended Trial
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>

      <q-input
        dense
        outlined
        v-model="searchText"
        input-class="text-right"
        class="q-ml-md"
      >
        <template v-slot:append>
          <q-icon
            v-if="searchText === ''"
            name="search"
          />
          <q-icon
            v-else
            name="clear"
            class="cursor-pointer"
            @click="searchText = ''"
          />
        </template>
      </q-input>
    </div>

    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredLeads"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>

        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              v-if="props.row.status === 'Attended Trial'"
              size="sm"
              color="accent"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
            <q-btn
              v-else
              size="sm"
              color="green"
              round
              dense
              @click="props.expand = !props.expand"
              icon="check"
            />
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="edit"
              @click.prevent="openEditDialog(props.row)"
            />

          </q-td>
        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <template v-for="(activity, index) in props.row.activities">
              <div
                :key="index"
                class="row inner-row"
              >
                <div class="col">
                  {{ activity.purpose }}
                </div>
                <div class="col-6">
                  {{ activity.description }}
                </div>
                <div class="col">
                  {{ $moment(activity.date).format("DD MMM YYYY") }}
                </div>
                <div class="col">
                  {{ activity.type }}
                </div>
              </div>
            </template>
            <!-- Action Buttons-->
            <div class="row items-center q-mt-md">
              <!-- Reschedule Button-->
              <q-btn
                v-if="props.row.status !== 'Registered'"
                color="primary"
                label="Register"
                icon="account_box"
                @click.prevent="openRegisterDialog(props.row)"
              />
            </div>

          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import find from "lodash/find";
import { nodeServer } from "../../configs/site";
import { generateRegisterEmail } from "../../helpers/generateRegisterEmail";
import { mapState } from "vuex";
export default {
  props: [
    "leads",
    "classes",
    "currentUser",
    "location",
    "accounts",
    "locations",
  ],
  components: {
    MonthPicker: () => import("src/components/MonthPicker.vue"),
    YearPicker: () => import("src/components/YearPicker.vue"),
    LeadsDialog: () => import("./LeadsDialog"),
  },
  data() {
    return {
      expanded: [],
      showRegister: false,
      tableExpand: true,
      assignedClass: {},
      assignedLocation: {},
      searchText: "",
      parseCsv: null,
      confirm: false,
      selectedLead: null,
      lDialog: false,

      createTermFee: false,
      createRegistrationFee: false,
      createParentAccount: false,
      classOptions: [],
      locationOptions: [],
      assignedClass: {},
      selectedMonth: this.$moment().format("MMM"),
      selectedYear: this.$moment().format("YYYY"),
      selectedStudent: null,
      selectedLocation: this.location,
      selectedClass: null,
      selectedDates: [],
      accountExist: false,
      expanded: [],
      dialog: false,
      pagination: {
        sortBy: "dateAdded",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },
        {
          name: "assignedClass",
          label: "Assigned Class",
          field: "className",
          sortable: true,
        },
        {
          name: "dob",
          required: true,
          label: "Age",
          field: (row) => row.dateOfBirth,
          format: (val) => {
            return val ? this.getAge(val) + " y.o." : "N.A.";
          },
          sortable: true,
        },
        {
          name: "dateAttended",
          required: true,
          label: "Date Attended",
          field: (row) => row.dateAttended,
          format: (val) => {
            return val
              ? this.$moment(val, "DD-MM-YYYY").format("DD MMM YYYY")
              : "-";
          },
          sortable: true,
        },
      ],
    };
  },

  computed: {
    ...mapState({
      calendars: (state) => state.calendars.calendars,
      fees: (state) => state.fees.listByKey,
    }),

    termDates() {
      let dates = [];
      if (
        this.calendars &&
        this.selectedClass &&
        this.calendars[this.selectedClass.calendarKey]
      ) {
        const calendar = this.calendars[this.selectedClass.calendarKey];
        console.log(calendar);
        if (calendar) {
          const terms = calendar.terms[this.selectedYear];
          if (terms) {
            let termDates = [];

            Object.keys(terms).map((key) => {
              const term = terms[key];
              term.map((date) =>
                termDates.push(this.$moment(date).format("DD-MM-YYYY"))
              );
            });
            dates = filter(
              termDates,
              (d) =>
                this.$moment(d, "DD-MM-YYYY").format("MMM") ===
                this.selectedMonth
            );
          }
        }
      }
      return dates;
    },
    checkedDates() {
      return this.selectedDates.filter((d) => d.checked);
    },
    registrationFee() {
      return find(this.fees, { name: "Registration Fee" });
    },
    total() {
      let total = 0;
      const selectedDates = this.selectedDates.filter((d) => d.checked);
      if (selectedDates.length > 0 && this.selectedClass) {
        let fee = this.fees[this.selectedClass.feesKey];
        if (fee.type === "Sessions") {
          total = parseFloat(fee.perSessionRate) * selectedDates.length;
        }
      }
      return total.toFixed(2);
    },
    filteredLeads() {
      let leads = this.leads;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        leads = filter(
          leads,
          (v) =>
            v.childName.toLowerCase().indexOf(needle) > -1 &&
            (v.status === "Attended Trial" || v.status === "Registered")
        );
      } else {
        leads = filter(
          leads,
          (v) => v.status === "Attended Trial" || v.status === "Registered"
        );
      }
      return leads;
    },
  },
  watch: {
    classes(newValue) {
      if (newValue) this.classOptions = newValue;
    },
    termDates(newValue) {
      if (newValue.length > 0) {
        this.selectedDates = [];
        newValue.forEach((date) => {
          this.selectedDates.push({
            date,
            checked: true,
          });
        });
      }
    },
    async selectedClass(newValue) {
      if (newValue)
        await this.$store.dispatch(
          "calendars/getCalendar",
          newValue.calendarKey
        );
    },
  },
  methods: {
    openEditDialog(lead) {
      this.selectedLead = lead;
      this.lDialog = true;
    },
    closeEditDialog() {
      this.selectedLead = null;
      this.searchText = "";
      this.lDialog = false;
    },
    filterLocFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.locationOptions = this.locations.filter(
          (v) => v.name.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    async openRegisterDialog(student) {
      const { classKey } = student;
      const foundCla = find(this.classes[this.selectedLocation.name], {
        key: classKey,
      });
      if (foundCla) {
        this.selectedClass = foundCla;
      }
      this.accountExist = this.checkAccountExist(student.email);

      this.selectedStudent = student;
      this.dialog = true;
    },
    updateExpand(props) {
      if (props.expand) {
        delete this.assignedLocation[props.row.key];
      } else {
        this.assignedLocation[props.row.key] = this.location;
      }

      props.expand = !props.expand;
    },
    checkAccountExist(email) {
      let exist = false;
      if (this.accounts) {
        this.accounts.forEach((account) => {
          if (account.email === email) {
            exist = true;
          }
        });
      }
      return exist;
    },
    checkConfirm(lead) {
      this.selectedLead = lead;
      this.confirm = true;
    },
    async deleteLead() {
      this.$q.loading.show();
      await this.$store.dispatch("leads/deleteLead", this.selectedLead.key);
      this.confirm = false;
      this.selectedLead = null;
      this.$q.loading.hide();
    },
    getAge(dob) {
      let age = this.$moment().diff(
        this.$moment(dob, "YYYY-MM-DD"),
        "years",
        true
      );

      return age.toFixed(1);
    },
    registerStudent() {
      return new Promise(async (resolve, reject) => {
        const { name, key } = this.selectedClass;
        const studentKey = await this.$store.dispatch("students/addStudent", {
          ...this.selectedStudent,
          assignedClass: name,
          assignedClassKey: key,
          assignedLocation: this.selectedLocation.name,
          assignedLocationKey: this.selectedLocation.key,
          status: "Active",
          dateRegistered: this.$moment().format(),
        });
        await this.$store.dispatch("leads/updateLead", {
          key: this.selectedStudent.key,
          data: {
            status: "Registered",
            studentKey,
          },
        });
        await this.$store.dispatch("leads/addLeadActivity", {
          key: this.selectedStudent.key,
          data: {
            date: this.$moment().format(),
            purpose: "Registration",
            description: `Registered to ${name}`,
            type: "operation",
            performedBy: this.currentUser.email,
          },
        });
        resolve(studentKey);
      });
    },

    async createAccount(studentKey) {
      return new Promise(async (resolve, reject) => {
        let lead = this.selectedStudent;
        let email = lead.email.toLowerCase().trim();
        let accountKey;
        if (this.accountExist) {
          let found = find(this.accounts, { email });
          accountKey = found.key;
          await this.$store.dispatch("leads/updateLead", {
            key: lead.key,
            data: {
              account: accountKey,
            },
          });
          await this.$store.dispatch("leads/addLeadActivity", {
            key: lead.key,
            data: {
              date: this.$moment().format(),
              purpose: "Account Linked",
              description: `Account linked for ${email}`,
              type: "operation",
              performedBy: this.currentUser.email,
            },
          });
          await this.$store.dispatch("accounts/updateAccount", {
            key: accountKey,
            data: {
              child: studentKey,
            },
          });
        } else {
          const { account } = await this.$store.dispatch(
            "accounts/createAccount",
            {
              email: email,
              data: {
                email: email,
                contact: lead.contact,
                children: [studentKey],
              },
              studentKey,
            }
          );
          accountKey = account;

          await this.$store.dispatch("leads/addLeadActivity", {
            key: lead.key,
            data: {
              date: this.$moment().format(),
              purpose: "Account Creation",
              description: `Account created for ${email}`,
              type: "operation",
              performedBy: this.currentUser.email,
            },
          });
        }

        const html = generateRegisterEmail(
          lead.childName,
          this.selectedLocation,
          this.selectedClass.name,
          email
        );
        const mailData = {
          method: "post",
          url: `${nodeServer}/email/send`,
          data: {
            to: email,
            subject: `Complete Registration for ${lead.childName.toUpperCase()} at ${
              this.selectedLocation.name
            }`,
            text: `Complete Registration for ${lead.childName.toUpperCase()} at ${
              this.selectedLocation.name
            }`,
            html,
          },
        };

        await this.$axios(mailData);
        await this.$store.dispatch("leads/addLeadActivity", {
          key: lead.key,
          data: {
            date: this.$moment().format(),
            purpose: "Registration Email",
            description: `Registration Email sent to ${email}`,
            type: "email",
            performedBy: this.currentUser.email,
          },
        });
        resolve(accountKey);
      });
    },

    async submitRegistration() {
      this.$q.loading.show();
      let accountKey = null;
      const studentKey = await this.registerStudent();
      if (this.createParentAccount) {
        accountKey = await this.createAccount(studentKey);
        await this.$store.dispatch("students/updateStudent", {
          key: studentKey,
          data: {
            account: accountKey,
          },
        });
      }
      if (this.createTermFee) {
        let termDates = this.checkedDates.map((date) => date.date);
        let data = {
          date: this.$moment().format(),
          amount: this.total,
          className: this.selectedClass.name,
          classKey: this.selectedClass.key,
          month: this.selectedMonth,
          year: this.selectedYear,
          paymentStatus: "Not Paid",
          datesPaid: termDates,
          type: "Term Fees",
          email: this.selectedStudent.email.toLowerCase().trim(),
          studentKey: studentKey,
          childName: this.selectedStudent.childName,
        };
        await this.$store.dispatch("payments/addPayment", data);
      }
      if (this.createRegistrationFee) {
        let data = {
          date: this.$moment().format(),
          amount: parseFloat(this.registrationFee.amount).toFixed(2),
          paymentStatus: "Not Paid",
          type: "Registration Fee",
          email: this.selectedStudent.email.toLowerCase().trim(),
          studentKey: studentKey,
          childName: this.selectedStudent.childName,
        };
        await this.$store.dispatch("payments/addPayment", data);
      }
      this.showRegister = false;
      this.dialog = false;
      this.$q.loading.hide();
    },
  },
};
</script>

<style lang="sass" scoped>
.inner-row > div
  padding: 10px 15px
  background: rgba(86,61,124,.15)
  border: 1px solid rgba(86,61,124,.2)
</style>
