<template>
  <div class="full-width ">
    <!-- Top Toolbar & Search-->
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ selectedLocation.name }} Leads</b></q-toolbar-title>

        <download-csv
          :data="leads"
          v-if="!$q.screen.xs"
        >
          <q-btn
            color="primary"
            icon="get_app"
            class="q-ml-md"
          > </q-btn>
        </download-csv>
        <!-- <q-btn
          color="primary"
          icon="add"
          class="q-ml-md"
          @click.prevent="onAdd"
          :label="$q.screen.xs ? '' : `Add ${headerText}`"
        /> -->
      </q-toolbar>
      <!-- End of Top Toolbar & Search-->
    </div>

    <!-- Stats Card -->
    <div class="row items-center">
      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <past-months :leads="leads"></past-months>
      </div>
      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <unassigned :leads="leads"></unassigned>
      </div>
      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <trials :leads="leads"></trials>
      </div>
      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <registered :leads="leads"></registered>
      </div>
    </div>
    <!-- End of Stats Card -->

    <!-- Unassigned Table -->
    <unassigned-table
      :leads="leads"
      :classes="classes"
      :currentUser="currentUser"
      :location="selectedLocation"
      :locations="locations"
    ></unassigned-table>
    <!-- End of Unassigned Table -->

    <!-- Pending Trial Table -->
    <pending-trial
      :leads="leads"
      :classes="classes"
      :currentUser="currentUser"
      :location="selectedLocation"
      :locations="locations"
    ></pending-trial>
    <!-- End of Pending Trial Table -->

    <!-- Pending Trial Table -->
    <attended-trial
      :leads="leads"
      :classes="classes"
      :currentUser="currentUser"
      :location="selectedLocation"
      :accounts="accounts"
      :locations="locations"
    ></attended-trial>
    <!-- End of Pending Trial Table -->
  </div>
</template>

<script>
import { mapState } from "vuex";
//import { VueCsvImport } from "vue-csv-import";
export default {
  async created() {
    await this.initialiseData();

    this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  components: {
    PastMonths: () => import("./PastMonths"),
    Unassigned: () => import("./Unassigned"),
    Trials: () => import("./Trials"),
    Registered: () => import("./Registered"),
    UnassignedTable: () => import("./UnassignedTable"),
    PendingTrial: () => import("./PendingTrial"),
    AttendedTrial: () => import("./AttendedTrial"),
  },

  computed: {
    ...mapState({
      leads: (state) => state.leads.list,
      locations: (state) => state.locations.list.filter((l) => l.active),
      selectedLocation: (state) => state.locations.selectedLocation,
      classes: (state) => state.classes.all,
      currentUser: (state) => state.auth.user,
      accounts: (state) => state.accounts.list,
    }),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;
      await Promise.all([
        this.$store.dispatch("fees/loadFees"),
        this.$store.dispatch("calendars/loadAllCalendars"),
        this.$store.dispatch("leads/loadLeads", selectedLocation.name),
        this.$store.dispatch("classes/loadClasses", selectedLocation.name),
        this.$store.dispatch("classes/loadAllClasses"),
        this.$store.dispatch("accounts/loadAccounts"),
      ]);
      this.$q.loading.hide();
    },
    submitLeads() {
      if (this.parseCsv) {
        this.parseCsv.forEach(async (lead) => {
          await this.$store.dispatch("leads/addLead", {
            ...lead,
            dateAdded: this.$moment().format(),
            source: "CSV",
          });
        });
      }
    },
  },
};
</script>
