<template>
  <Drawer
    :title="selectedLead.childName"
    :show="dialog"
    :onClose="close"
  >
    <FormGenerator
      :formConfig="formConfig"
      :data="selectedLead"
      :onComplete="handleSubmit"
    />
  </Drawer>
</template>

<script>
import { formConfig } from "../../forms/lead";

export default {
  props: ["selectedLead", "dialog", "closeDialog"],
  components: {
    Drawer: () => import("../../components/Drawer"),
    FormGenerator: () => import("../../components/FormGenerator"),
  },
  data() {
    return {
      formConfig,
    };
  },
  methods: {
    close() {
      this.closeDialog();
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      await this.$store.dispatch("leads/updateLead", {
        key: this.selectedLead.key,
        data,
      });
      this.$q.notify({
        type: "positive",
        message: `Lead Details Updated!`,
      });

      this.$q.loading.hide();
      this.closeDialog();
    },
  },
};
</script>

<style></style>
