<template>
  <q-card style="height: 150px">
    <q-card-section>
      <div class="text-caption text-blue-grey-9 q-mb-sm">
        Past 3 months
      </div>
      <template v-for="(month, index) in past3Months">
        <div :key="index" class="row items-center">
          <div class="col-7">
            <span style="font-size: 1.3em; font-weight: 900">
              {{
                monthlyLeads && monthlyLeads[month]
                  ? monthlyLeads[month].length
                  : "0"
              }}
            </span>
          </div>

          <div class="col-2" style="font-size: 10px">
            {{ month }}
          </div>
          <div
            class="col-3 text-right"
            style="font-size: 12px"
            v-if="index !== 0"
          >
            <span
              style="font-weight: 900"
              :class="{
                'text-red': getDifference(month) < 0,
                'text-green': getDifference(month) >= 0
              }"
            >
              {{ getDifference(month) }}%
              <q-icon
                :name="
                  getDifference(month) < 0 ? 'arrow_downward' : 'arrow_upward'
                "
              />
            </span>
          </div>
        </div>
      </template>
    </q-card-section>
  </q-card>
</template>

<script>
import groupBy from "lodash/groupBy";
export default {
  props: ["leads"],
  computed: {
    monthlyLeads() {
      if (this.leads.length) {
        return groupBy(this.leads, l =>
          this.$moment(l.dateAdded).format("MMM")
        );
      }
      return null;
    },
    past3Months() {
      let months = [];
      Array.from(Array(3).keys()).forEach(index =>
        months.push(
          this.$moment()
            .subtract(index, "month")
            .format("MMM")
        )
      );
      return months;
    }
  },
  methods: {
    getDifference(current) {
      if (this.monthlyLeads) {
        let currentCount = this.monthlyLeads[current]
          ? this.monthlyLeads[current].length
          : 0;
        let pastCount = this.monthlyLeads[
          this.$moment()
            .month(current)
            .subtract(1, "month")
            .format("MMM")
        ]
          ? this.monthlyLeads[
              this.$moment()
                .month(current)
                .subtract(1, "month")
                .format("MMM")
            ].length
          : 0;
        return (((currentCount - pastCount) / pastCount) * 100).toFixed(0);
      }
      return null;
    }
  }
};
</script>

<style></style>
