<template>
  <div class="q-mt-md">
    <!-- Dialog box for Lead Form -->
    <template v-if="lDialog">
      <leads-dialog
        :selectedLead="selectedLead"
        :dialog="lDialog"
        :closeDialog="closeEditDialog"
      ></leads-dialog>
    </template>

    <!-- Dialog box for Delete Confirmation -->
    <q-dialog
      v-model="confirm"
      persistent
    >
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar
            icon="delete"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm">You are going to delete
            {{ selectedLead ? selectedLead.childName : null }}?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="Cancel"
            color="primary"
            v-close-popup
          />
          <q-btn
            flat
            label="Delete"
            color="primary"
            @click.prevent="deleteLead"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End of Dialog Box -->

    <!-- Start of Pending Trial Table-->
    <div class="flex items-center justify-between">
      <div>
        <!-- Table Title-->
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="hourglass_top"
            color="orange"
            text-color="white"
          />
          Pending Trials
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <q-input
        dense
        outlined
        v-model="searchText"
        input-class="text-right"
        class="q-ml-md"
      >
        <template v-slot:append>
          <q-icon
            v-if="searchText === ''"
            name="search"
          />
          <q-icon
            v-else
            name="clear"
            class="cursor-pointer"
            @click="searchText = ''"
          />
        </template>
      </q-input>
    </div>

    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredLeads"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <!-- Table Header Slot-->
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>

        </q-tr>
      </template>

      <!-- Table Body Slot-->
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              size="sm"
              :color="
                props.row.reschedule
                  ? 'red'
                  : props.row.acknowledged
                  ? 'green'
                  : 'accent'
              "
              round
              dense
              @click="updateExpand(props)"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="edit"
              @click.prevent="openEditDialog(props.row)"
            />

          </q-td>
        </q-tr>

        <!-- Table Row Expanded Slot-->
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <!-- Activites Table-->
            <template v-for="(activity, index) in props.row.activities">
              <div
                :key="index"
                class="row inner-row"
              >
                <div class="col-2">
                  {{ activity.purpose }}
                </div>
                <div class="col-6">
                  {{ activity.description }}
                </div>
                <div class="col-2">
                  {{ $moment(activity.date).format("DD MMM YYYY") }}
                </div>
                <div class="col-2">
                  {{ activity.type }}
                </div>
              </div>
            </template>

            <!-- Action Buttons-->
            <div class="row items-center q-mt-md">
              <!-- Reschedule Button-->
              <q-btn
                color="primary"
                label="Reschedule"
                icon="pending_actions"
                @click.prevent="showReschedule = !showReschedule"
              />

              <!-- Mark Attendance Button-->
              <q-btn
                color="primary"
                label="Mark Attendance"
                icon="task"
                @click.prevent="showAttendance = !showAttendance"
              />
              <!-- Unassign Button-->
              <q-btn
                color="primary"
                label="Unassign"
                icon="task"
                @click.prevent="unassignLead(props.row.key)"
              />
            </div>

            <!-- Mark Attendance Form-->
            <div
              class="row items-center justify-center"
              v-show="showAttendance"
            >
              <div class="col-12 col-md-2">
                <div class="flex items-center">
                  <q-icon
                    name="task"
                    style="font-size: 2em;"
                  />
                  <span class="text-subtitle2">Mark Attendance</span>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <term-date-selector v-model="attendedDate[props.row.key]" />
              </div>
              <div class="col-12 col-md-4 q-px-md">
                <q-btn
                  color="primary"
                  label="Submit"
                  icon="send"
                  :disable="!attendedDate[props.row.key]"
                  @click.prevent="updateAttendedDate(props.row)"
                />
              </div>
            </div>

            <!-- Reschedule Form -->
            <div
              class="row items-center justify-center q-mt-md"
              v-show="showReschedule"
            >
              <div class="col-12 col-md-2">
                <q-icon
                  name="pending_actions"
                  style="font-size: 2em;"
                />
                <span class="text-subtitle2">Reschedule</span>
              </div>

              <div class="col-12 col-md-3 q-px-sm">
                <q-select
                  dense
                  v-model="assignedLocation[props.row.key]"
                  use-input
                  outlined
                  hide-selected
                  fill-input
                  placeholder="Select Location"
                  option-label="name"
                  :options="locationOptions"
                  @filter="filterLocFn"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-12 col-md-3 q-px-sm">
                <q-select
                  v-model="assignedClass[props.row.key]"
                  outlined
                  use-chips
                  dense
                  fill-input
                  :disable="!assignedLocation[props.row.key]"
                  placeholder="Select Class"
                  :option-label="
                    opt =>
                      Object(opt) === opt
                        ? `${opt.startTime} - ${
                            opt.name.split(' ')[0]
                          } (${opt.day.slice(0, 3)})`
                        : null
                  "
                  :options="
                    assignedLocation[props.row.key]
                      ? classes[assignedLocation[props.row.key].name]
                      : []
                  "
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-12 col-md-2">
                <term-date-selector v-model="assignedDate[props.row.key]" />
              </div>
              <div class="col-12 col-md-2 q-px-md">
                <q-btn
                  color="primary"
                  label="Submit"
                  icon="send"
                  :disable="
                    !assignedClass[props.row.key] &&
                      !assignedDate[props.row.key]
                  "
                  @click.prevent="updateAssignedClass(props.row)"
                />
                <q-btn
                  flat
                  round
                  icon="delete"
                  @click.prevent="checkConfirm(props.row)"
                />
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import maxBy from "lodash/maxBy";
import { generateTrialEmail } from "../../helpers/generateTrialEmail";
import { nodeServer } from "../../configs/site";

export default {
  props: ["leads", "classes", "currentUser", "location", "locations"],
  components: {
    TermDateSelector: () => import("../../components/TermDateSelector"),
    LeadsDialog: () => import("./LeadsDialog"),
  },
  data() {
    return {
      expanded: [],
      tableExpand: true,
      showReschedule: false,
      showAttendance: false,
      assignedClass: {},
      assignedLocation: {},
      assignedDate: {},
      attendedDate: {},
      searchText: "",
      parseCsv: null,
      confirm: false,
      selectedLead: null,
      lDialog: false,
      classOptions: [],
      locationOptions: [],

      pagination: {
        sortBy: "dateAdded",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },
        {
          name: "assignedClass",
          label: "Assigned Class",
          field: "className",
          sortable: true,
        },
        {
          name: "dob",
          required: true,
          label: "Age",
          field: (row) => row.dateOfBirth,
          format: (val) => {
            return val ? this.getAge(val) + " y.o." : "N.A.";
          },
          sortable: true,
        },
        {
          name: "dateOfTrial",
          required: true,
          label: "Date Of Trial",
          field: (row) => row,
          format: (val) => {
            return val.reschedule
              ? "Reschedule"
              : val.dateOfTrial
              ? this.$moment(val.dateOfTrial, "DD-MM-YYYY").format(
                  "DD MMM YYYY"
                )
              : "Not Set";
          },
          sortable: true,
        },
        {
          name: "dateAssigned",
          required: true,
          label: "Date Assigned",
          field: (row) => row.activities,
          format: (val) => {
            let assignedTrials = filter(
              val,
              (t) => t.purpose === "Assign Trial Class"
            );
            let dateAssigned = maxBy(assignedTrials, (o) =>
              this.$moment(o.date).format("YYYYMMDD")
            );
            return this.$moment(dateAssigned.date).format("DD MMM YYYY");
          },
          sortable: true,
        },
      ],
    };
  },
  computed: {
    filteredLeads() {
      let leads = this.leads;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        leads = filter(
          leads,
          (v) =>
            v.childName.toLowerCase().indexOf(needle) > -1 &&
            v.status === "Pending Trial"
        );
      } else {
        leads = filter(leads, (v) => v.status === "Pending Trial");
      }
      return leads;
    },
  },
  watch: {
    classes(newValue) {
      if (newValue) this.classOptions = newValue;
    },
  },
  methods: {
    openEditDialog(lead) {
      this.selectedLead = lead;
      this.lDialog = true;
    },
    closeEditDialog() {
      this.selectedLead = null;
      this.searchText = "";
      this.lDialog = false;
    },
    filterLocFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.locationOptions = this.locations.filter(
          (v) => v.name.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    updateExpand(props) {
      if (props.expand) {
        delete this.assignedLocation[props.row.key];
      } else {
        this.assignedLocation[props.row.key] = this.location;
      }

      props.expand = !props.expand;
    },

    checkConfirm(lead) {
      this.selectedLead = lead;
      this.confirm = true;
    },
    async deleteLead() {
      this.$q.loading.show();
      await this.$store.dispatch("leads/deleteLead", this.selectedLead.key);
      this.confirm = false;
      this.selectedLead = null;
      this.$q.loading.hide();
    },
    getAge(dob) {
      let age = this.$moment().diff(
        this.$moment(dob, "YYYY-MM-DD"),
        "years",
        true
      );

      return age.toFixed(1);
    },
    async unassignLead(key) {
      await this.$store.dispatch("leads/updateLead", {
        key,
        data: {
          status: null,
        },
      });
    },

    async updateAttendedDate(lead) {
      this.$q.loading.show();
      const leadKey = lead.key;
      const date = this.attendedDate[leadKey];
      await this.$store.dispatch("leads/updateLead", {
        key: leadKey,
        data: {
          dateAttended: date,
          status: "Attended Trial",
        },
      });
      await this.$store.dispatch("leads/addLeadActivity", {
        key: leadKey,
        data: {
          date: this.$moment().format(),
          description: "Attended on " + date,
          purpose: "Mark Attendance",
          type: "operation",
          performedBy: this.currentUser.email,
        },
      });
      this.showAttendance = false;
      this.$q.loading.hide();
    },

    async updateAssignedClass(lead) {
      this.$q.loading.show();
      const leadKey = lead.key;
      const location = this.assignedLocation[leadKey];
      const { name, key, startTime, endTime } = this.assignedClass[leadKey];
      const date = this.assignedDate[leadKey];

      await this.$store.dispatch("leads/updateLead", {
        key: leadKey,
        data: {
          className: name,
          classKey: key,
          dateOfTrial: date,
          reschedule: false,
          status: "Pending Trial",
        },
      });
      await this.$store.dispatch("leads/addLeadActivity", {
        key: leadKey,
        data: {
          date: this.$moment().format(),
          description: name + " on " + date,
          purpose: "Reschedule",
          type: "operation",
          performedBy: this.currentUser.email,
        },
      });

      const timeOfTrial = startTime + "-" + endTime;
      const html = generateTrialEmail(location, lead, date, timeOfTrial);
      const mailData = {
        method: "post",
        url: `${nodeServer}/email/send`,
        data: {
          to: lead.email,
          subject: `Rescheduled - Trial Confirmation for ${lead.childName.toUpperCase()} at ${
            location.name
          } on ${date}`,
          text: `Rescheduled - Trial Confirmation for ${lead.childName.toUpperCase()} at ${
            location.name
          } on ${date}`,
          html,
        },
      };

      await this.$axios(mailData);
      await this.$store.dispatch("leads/addLeadActivity", {
        key: leadKey,
        data: {
          date: this.$moment().format(),
          description: "Rescheduled Trial",
          purpose: "Trial Email",
          type: "email",
          performedBy: this.currentUser.email,
        },
      });
      this.$q.loading.hide();
    },
  },
};
</script>

<style lang="sass" scoped>
.inner-row > div
  padding: 10px 15px
  background: rgba(86,61,124,.15)
  border: 1px solid rgba(86,61,124,.2)
</style>
