<template>
  <q-card style="height: 150px">
    <q-card-section>
      <div class="text-caption text-blue-grey-9 q-mb-sm">
        Registered
      </div>
      <h3 class="q-mt-lg ">
        {{ registered }}
      </h3>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: ["leads"],
  computed: {
    registered() {
      if (this.leads) {
        return this.leads.filter(lead => lead.status === "Registered").length;
      }
      return 0;
    }
  }
};
</script>

<style></style>
