<template>
  <q-card style="height: 150px">
    <q-card-section>
      <div class="text-caption text-blue-grey-9 q-mb-sm">
        Trials (Attended/Pending)
      </div>
      <h3 class="q-mt-lg text-green">
        {{ attendedTrial }}<span class="text-orange">/{{ pendingTrial }}</span>
      </h3>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: ["leads"],
  computed: {
    pendingTrial() {
      if (this.leads) {
        return this.leads.filter(lead => lead.status === "Pending Trial")
          .length;
      }
      return 0;
    },
    attendedTrial() {
      if (this.leads) {
        return this.leads.filter(lead => lead.status === "Attended Trial")
          .length;
      }
      return 0;
    }
  }
};
</script>

<style></style>
