<template>
  <div class="q-mt-md">
    <!-- Dialog box for Lead Form -->
    <template v-if="lDialog">
      <leads-dialog
        :selectedLead="selectedLead"
        :dialog="lDialog"
        :closeDialog="closeEditDialog"
      ></leads-dialog>
    </template>

    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="pending_actions"
            color="red"
            text-color="white"
          />
          Unassigned Leads
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>

      <q-input
        dense
        outlined
        v-model="searchText"
        input-class="text-right"
        class="q-ml-md"
      >
        <template v-slot:append>
          <q-icon
            v-if="searchText === ''"
            name="search"
          />
          <q-icon
            v-else
            name="clear"
            class="cursor-pointer"
            @click="searchText = ''"
          />
        </template>
      </q-input>
    </div>

    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredLeads"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              size="sm"
              color="accent"
              round
              dense
              @click.prevent="updateExpand(props)"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="edit"
              @click.prevent="openEditDialog(props.row)"
            />

          </q-td>
        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <div class="row items-center">
              <div class="col-12 col-md-1">
                <q-icon
                  name="pending_actions"
                  style="font-size: 2em;"
                />

              </div>
              <div class="col-12 col-md-3 q-px-sm">
                <q-select
                  dense
                  v-model="assignedLocation[props.row.key]"
                  use-input
                  outlined
                  hide-selected
                  fill-input
                  placeholder="Select Location"
                  option-label="name"
                  :options="locationOptions"
                  @filter="filterLocFn"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-12 col-md-3 q-px-sm">
                <q-select
                  v-model="assignedClass[props.row.key]"
                  outlined
                  use-chips
                  dense
                  fill-input
                  :disable="!assignedLocation[props.row.key]"
                  placeholder="Select Class"
                  :option-label="
                    opt =>
                      Object(opt) === opt
                        ? `${opt.startTime} - ${
                            opt.name.split(' ')[0]
                          } (${opt.day.slice(0, 3)})`
                        : null
                  "
                  :options="
                    assignedLocation[props.row.key]
                      ? classes[assignedLocation[props.row.key].name]
                      : []
                  "
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-12 col-md-3">
                <term-date-selector v-model="assignedDate[props.row.key]" />
              </div>
              <div class="col-12 col-md-2 q-px-md">
                <q-btn
                  color="primary"
                  label="Submit"
                  icon="send"
                  :disable="
                    !assignedClass[props.row.key] ||
                      !assignedDate[props.row.key]
                  "
                  @click.prevent="updateAssignedClass(props.row)"
                />
                <q-btn
                  flat
                  round
                  icon="delete"
                  @click.prevent="deleteLead(props.row.key)"
                />
                <q-btn
                  flat
                  round
                  icon="archive"
                  @click.prevent="archiveLead(props.row.key)"
                />
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import { generateTrialEmail } from "../../helpers/generateTrialEmail";
import { nodeServer } from "../../configs/site";

export default {
  props: ["leads", "classes", "currentUser", "location", "locations"],
  components: {
    TermDateSelector: () => import("../../components/TermDateSelector"),
    LeadsDialog: () => import("./LeadsDialog"),
  },
  data() {
    return {
      expanded: [],
      tableExpand: true,
      assignedClass: {},
      assignedLocation: {},
      assignedDate: {},
      searchText: "",
      parseCsv: null,
      selectedLead: null,
      lDialog: false,
      classOptions: [],
      locationOptions: [],
      pagination: {
        sortBy: "dateAdded",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },
        {
          name: "timeOfDay",
          label: "Preferred Time",
          field: "preferredTimeOfDay",
          sortable: true,
        },
        {
          name: "dob",
          required: true,
          label: "Age",
          field: (row) => row.dateOfBirth,
          format: (val) => {
            return val ? this.getAge(val) + " y.o." : "N.A.";
          },
          sortable: true,
        },
        {
          name: "dateAdded",
          required: true,
          label: "Date Added",
          field: (row) => row.dateAdded,
          format: (val) => {
            return this.$moment(val).format("DD MMM YYYY");
          },
          sortable: true,
        },
      ],
    };
  },
  computed: {
    filteredLeads() {
      let leads = this.leads;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        leads = filter(
          leads,
          (v) =>
            v.childName.toLowerCase().indexOf(needle) > -1 &&
            v.status === undefined
        );
      } else {
        leads = filter(leads, (v) => v.status === undefined);
      }
      return leads;
    },
  },
  watch: {
    classes(newValue) {
      if (newValue) this.classOptions = newValue;
    },
    locations(newValue) {
      if (newValue) this.locationOptions = newValue;
    },
  },
  methods: {
    openEditDialog(lead) {
      this.selectedLead = lead;
      this.lDialog = true;
    },
    closeEditDialog() {
      this.selectedLead = null;
      this.searchText = "";
      this.lDialog = false;
    },
    filterLocFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.locationOptions = this.locations.filter(
          (v) => v.name.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    updateExpand(props) {
      if (props.expand) {
        delete this.assignedLocation[props.row.key];
      } else {
        this.assignedLocation[props.row.key] = this.location;
      }

      props.expand = !props.expand;
    },
    async deleteLead(key) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you like to delete this lead?",
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          await this.$store.dispatch("leads/deleteLead", key);
          this.confirm = false;
          this.selectedLead = null;
          this.$q.notify({
            type: "positive",
            message: `Lead Deleted!`,
          });
        });
    },
    async archiveLead(key) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you like to archive this lead?",
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          await this.$store.dispatch("leads/updateLead", {
            key,
            data: { status: "Archived" },
          });
          this.confirm = false;
          this.selectedLead = null;
          this.$q.notify({
            type: "positive",
            message: `Lead Archived!`,
          });
        });
    },
    getAge(dob) {
      let age = this.$moment().diff(
        this.$moment(dob, "YYYY-MM-DD"),
        "years",
        true
      );

      return age.toFixed(1);
    },

    async updateAssignedClass(lead) {
      this.$q.loading.show();
      const leadKey = lead.key;
      const location = this.assignedLocation[leadKey];
      const { name, key, startTime, endTime } = this.assignedClass[leadKey];
      const date = this.assignedDate[leadKey];

      await this.$store.dispatch("leads/updateLead", {
        key: leadKey,
        data: {
          location: location.name,
          className: name,
          classKey: key,
          dateOfTrial: date,
          status: "Pending Trial",
        },
      });
      await this.$store.dispatch("leads/addLeadActivity", {
        key: leadKey,
        data: {
          date: this.$moment().format(),
          description: location.name + " - " + name + " on " + date,
          purpose: "Assign Trial Class",
          type: "operation",
          performedBy: this.currentUser.email,
        },
      });

      const timeOfTrial = startTime + "-" + endTime;
      const html = generateTrialEmail(location, lead, date, timeOfTrial);
      const mailData = {
        method: "post",
        url: `${nodeServer}/email/send`,
        data: {
          to: lead.email,
          subject: `Trial Confirmation for ${lead.childName.toUpperCase()} at ${
            location.name
          } on ${date}`,
          text: `Trial Confirmation for ${lead.childName.toUpperCase()} at ${
            location.name
          } on ${date}`,
          html,
        },
      };

      await this.$axios(mailData);
      await this.$store.dispatch("leads/addLeadActivity", {
        key: leadKey,
        data: {
          date: this.$moment().format(),
          description: "Confirmation for Trial",
          purpose: "Trial Email",
          type: "email",
          performedBy: this.currentUser.email,
        },
      });
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
