<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ headerText }}</b></q-toolbar-title>
      </q-toolbar>
    </div>
    <div class="q-pa-md">
      <div class="q-gutter-md row">
        <q-select
          filled
          v-model="model"
          use-input
          hide-selected
          fill-input
          clearable
          :option-label="opt => `${opt.childName} (${opt.email})`"
          input-debounce="0"
          :options="options"
          @filter="filterFn"
          style="width: 350px; padding-bottom: 32px"
          placeholder="Key in Student Name"
        >
          <template v-slot:before>
            <q-icon name="search" />
          </template>
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>
      <q-card>
        <q-card-section>
          <q-skeleton v-if="!model" />
          <template v-else>
            <q-card>
              <q-card-section>
                <template v-for="payment in payments">
                  <div
                    :key="payment.key"
                    class="row"
                  >
                    <div class="col">
                      {{payment.month}} / {{payment.year}}
                    </div>

                    <div class="col">
                      ${{payment.amount}}
                    </div>
                    <div class="col">
                      {{payment.paymentStatus}}
                    </div>

                  </div>
                </template>
              </q-card-section>
            </q-card>
          </template>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      model: null,
      options: [],
      headerText: "Find Student Details",
    };
  },
  computed: {
    ...mapState({
      students: (state) => state.students.all,
      payments: (state) => state.payments.studentPayments,
    }),
  },
  watch: {
    students(newValue) {
      if (newValue) {
        this.options = newValue;
      }
    },
    model(newValue) {
      this.getStudentData(newValue.key);
    },
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await Promise.all([
        this.$store.dispatch("students/loadAllStudents"),
        this.$store.dispatch("classes/loadAllClasses"),
      ]);
      this.$q.loading.hide();
    },
    async getStudentData(studentKey) {
      this.$q.loading.show();
      await Promise.all([
        this.$store.dispatch("payments/loadStudentPayments", studentKey),
      ]);
      this.$q.loading.hide();
    },
    filterFn(val, update, abort) {
      if (val.length < 2) {
        abort();
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = this.students.filter(
          (v) => v.childName.toLowerCase().indexOf(needle) > -1
        );
      });
    },
  },
};
</script>