<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title
          ><b>{{ headerText }}s</b></q-toolbar-title
        >
      </q-toolbar>
    </div>
    <!-- Stats Card -->
    <div class="row items-center">
      <!-- <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <past-months :leads="leads"></past-months>
      </div> -->
      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <unassigned :students="$store.state.students.all"></unassigned>
      </div>

      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <q-card style="height: 150px">
          <q-card-section>
            <div class="text-caption text-blue-grey-9 q-mb-sm">
              Assigned Students
            </div>
            <h3 class="q-mt-lg ">
              {{ assignedStudents.length }}
            </h3>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <!-- End of Stats Card -->

    <!-- Unassigned Table -->
    <unassigned-table :students="unassignedStudents"></unassigned-table>

    <!-- Assigned Table -->
    <assigned-table :students="assignedStudents"></assigned-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      headerText: "Student"
    };
  },
  computed: {
    ...mapState({
      students: state => state.students.all
    }),
    unassignedStudents() {
      return filter(this.students, o => o.assignedClass === undefined);
    },
    assignedStudents() {
      return filter(this.students, o => o.assignedClass);
    }
  },

  components: {
    UnassignedTable: () => import("./UnassignedTable.vue"),
    AssignedTable: () => import("./AssignedTable.vue"),
    Unassigned: () => import("./Unassigned.vue")
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await Promise.all([
        this.$store.dispatch("students/loadAllStudents"),
        this.$store.dispatch("classes/loadAllClasses")
      ]);
      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
