<template>
  <Drawer
    :title="type === 'add' ? 'New Student' : `${selectedStudent.childName}`"
    :show="dialog"
    :onClose="close"
  >
    <FormGenerator
      :formConfig="formConfig"
      :data="type === 'add' ? null : selectedStudent"
      :onComplete="handleSubmit"
    />
  </Drawer>
</template>

<script>
import { formConfig } from "../../forms/student";

export default {
  props: ["selectedStudent", "type", "dialog", "closeDialog"],
  components: {
    Drawer: () => import("../../components/Drawer"),
    FormGenerator: () => import("../../components/FormGenerator")
  },
  data() {
    return {
      formConfig
    };
  },
  methods: {
    close() {
      this.closeDialog();
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      if (this.type === "add") {
        await this.$store.dispatch("students/addStudent", data);
        this.$q.notify({
          type: "positive",
          message: `Student Added!`
        });
      } else if (this.type === "edit") {
        await this.$store.dispatch("students/updateStudent", {
          key: this.selectedStudent.key,
          data
        });
        this.$q.notify({
          type: "positive",
          message: `Student Details Updated!`
        });
      }

      this.$q.loading.hide();
      this.closeDialog();
    }
  }
};
</script>

<style></style>
