<template>
  <q-card style="height: 150px">
    <q-card-section>
      <div class="text-caption text-blue-grey-9 q-mb-sm">
        Unassigned
      </div>
      <h3 class="q-mt-lg text-red">
        {{ unassigned }}<span class="text-black">/{{ total }}</span>
      </h3>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: ["students"],
  computed: {
    unassigned() {
      if (this.students) {
        return this.students.filter(s => s.assignedClass === undefined).length;
      }
      return 0;
    },
    total() {
      if (this.students) {
        return this.students.length;
      }
      return 0;
    }
  }
};
</script>

<style></style>
