<template>
  <div class="q-mt-md">
    <!-- Dialog box for Student Form -->
    <template v-if="sDialog">
      <student-dialog
        :selectedStudent="selectedStudent"
        :type="type"
        :dialog="sDialog"
        :closeDialog="closeEditDialog"
      ></student-dialog>
    </template>

    <!-- Dialog box for Archive Confirmation -->
    <q-dialog
      v-model="dialog"
      persistent
    >
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar
            icon="delete"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm">You are going to archive
            {{ selectedStudent ? selectedStudent.childName : null }}?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="Cancel"
            color="primary"
            v-close-popup
          />
          <q-btn
            flat
            label="Archive"
            color="primary"
            @click.prevent="archiveStudent"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End of Dialog Box -->
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="pending_actions"
            color="red"
            text-color="white"
          />
          Unassigned Students
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <q-btn
          unelevated
          color="primary"
          icon="add"
          class="q-ml-md"
          @click.prevent="openAddDialog"
          :label="$q.screen.xs ? '' : `Add Student`"
        />
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredStudents"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              size="sm"
              color="accent"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="edit"
              @click.prevent="openEditDialog(props.row)"
            />
            <q-btn
              flat
              color="black"
              icon="archive"
              @click.prevent="openArchiveDialog(props.row)"
            />
          </q-td>
        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <div class="row items-center">
              <div class="col-12 col-md-2">
                <q-icon
                  name="pending_actions"
                  style="font-size: 2em;"
                />
                <span class="text-subtitle2">Assign Class</span>
              </div>

              <div class="col-12 col-md-4">
                <q-select
                  v-model="assignedLocation[props.row.key]"
                  use-input
                  hide-selected
                  fill-input
                  placeholder="Select Location"
                  option-label="name"
                  :options="locationOptions"
                  @filter="filterFn"
                  style="width:300px"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-12 col-md-4">
                <q-select
                  v-model="assignedClass[props.row.key]"
                  use-input
                  hide-selected
                  fill-input
                  :disable="!assignedLocation[props.row.key]"
                  placeholder="Select Class"
                  :option-label="
                    opt =>
                      Object(opt) === opt
                        ? `${opt.startTime} - ${
                            opt.name.split(' ')[0]
                          } (${opt.day.slice(0, 3)})`
                        : null
                  "
                  :options="
                    assignedLocation[props.row.key]
                      ? classes[assignedLocation[props.row.key].name]
                      : []
                  "
                  style="width:300px"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>

              <div class="col-12 col-md-2 q-px-md">
                <q-btn
                  color="primary"
                  label="Submit"
                  icon="send"
                  :disable="
                    !assignedClass[props.row.key] ||
                      !assignedLocation[props.row.key]
                  "
                  @click.prevent="updateAssignedClass(props.row)"
                />
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import StudentDialog from "./StudentDialog.vue";
import filter from "lodash/filter";
export default {
  props: ["students"],
  components: { StudentDialog },
  data() {
    return {
      type: null,
      expanded: [],
      searchText: "",
      tableExpand: true,
      selectedStudent: null,
      locationOptions: [],
      assignedLocation: {},
      assignedClass: {},
      dialog: false,
      sDialog: false,
      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },
        {
          name: "dob",
          required: true,
          label: "Age",
          field: (row) => row.dateOfBirth,
          format: (val) => {
            return val ? this.getAge(val) + " y.o." : "N.A.";
          },
          sortable: true,
        },
      ],
    };
  },
  watch: {
    locations(newValue) {
      if (newValue) this.locationOptions = newValue.filter((o) => o.active);
    },
  },
  computed: {
    ...mapState({
      locations: (state) => state.locations.list,
      classes: (state) => state.classes.all,
    }),
    filteredStudents() {
      let students = this.students;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        students = filter(
          students,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      return students;
    },
  },
  methods: {
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.locationOptions = this.locations.filter(
          (v) => v.name.toLowerCase().indexOf(needle) > -1 && v.active
        );
      });
    },
    getAge(dob) {
      let age = this.$moment().diff(this.$moment(dob), "years", true);

      return age.toFixed(1);
    },
    openArchiveDialog(student) {
      this.selectedStudent = student;
      this.dialog = true;
    },
    openEditDialog(student) {
      this.selectedStudent = student;
      this.type = "edit";
      this.sDialog = true;
    },
    openAddDialog() {
      this.selectedStudent = {};
      this.type = "add";
      this.sDialog = true;
    },
    closeEditDialog() {
      this.selectedStudent = null;
      this.searchText = "";
      this.type = null;
      this.sDialog = false;
    },
    async archiveStudent() {
      await this.$store.dispatch("students/updateStudent", {
        key: this.selectedStudent.key,
        data: { status: "Not Active" },
      });
      this.selectedStudent = null;
      this.dialog = false;
    },
    async updateAssignedClass(student) {
      this.$q.loading.show();

      await this.$store.dispatch("students/updateStudent", {
        key: student.key,
        data: {
          assignedLocation: this.assignedLocation[student.key].name,
          assignedLocationKey: this.assignedLocation[student.key].key,
          assignedClass: this.assignedClass[student.key].name,
          assignedClassKey: this.assignedClass[student.key].key,
        },
      });

      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
