// app global css in Sass form
@font-face { font-family: rubik; src: url(./fonts/Rubik-Regular.woff); }
@font-face { font-family: karla; src: url(./fonts/karla-regular.woff); }

// declare a class which applies it
body { font-family: 'rubik'; }