<template>
  <q-list separator>
    <q-item class="bg-orange-5 text-white" style="min-height: 56px">
      <q-item-section>
        <q-item-label style="font-size: 15px; font-weight: 600" class="karla"
          >{{ location.name }} Calendars</q-item-label
        >
      </q-item-section>
      <q-item-section side>
        <q-icon name="add_circle" color="white" @click="openAdd" />
      </q-item-section>
    </q-item>
    <q-item v-if="type === 'add'">
      <q-card class="full-width">
        <q-toolbar class="bg-grey-9 text-white">
          <q-toolbar-title style="font-size: 14px;"
            >New Calendar Details</q-toolbar-title
          >
          <q-btn flat round dense icon="close" @click="type = null" />
        </q-toolbar>
        <calendar-form :onComplete="handleAdd" />
      </q-card>
    </q-item>
    <q-item v-else-if="type === 'edit'">
      <q-card class="full-width">
        <q-toolbar class="bg-grey-9 text-white">
          <q-toolbar-title style="font-size: 14px;"
            >{{ selectedCalendar.name }} Details</q-toolbar-title
          >
          <q-btn flat round dense icon="close" @click="type = null" />
        </q-toolbar>
        <calendar-form
          :onComplete="handleUpdate"
          :calendar="selectedCalendar"
        />
      </q-card>
    </q-item>
    <template v-else v-for="(cal, key, index) in calendars">
      <q-item :key="key">
        <q-item-section>
          <q-toolbar class="bg-grey-9 text-white">
            <q-toolbar-title style="font-size: 14px;">
              {{ cal.name }}
            </q-toolbar-title>
            <q-btn
              flat
              round
              dense
              icon="edit"
              @click="openEdit({ ...cal, key })"
            />
          </q-toolbar>
          <q-tabs
            dense
            v-model="tab[index]"
            class="bg-grey-2"
            :breakpoint="0"
            v-if="cal.terms"
          >
            <template v-for="year in Object.keys(cal.terms).reverse()">
              <q-tab :name="key + year" :key="year" :label="year"></q-tab>
            </template>
          </q-tabs>
          <q-tab-panels v-model="tab[index]" animated v-if="cal.terms">
            <template v-for="year in Object.keys(cal.terms).reverse()">
              <q-tab-panel :name="key + year" :key="year">
                <template v-for="(term, ind) in cal.terms[year]">
                  <q-list bordered separator :key="ind" v-if="term">
                    <q-item class="bg-grey-2">
                      <q-item-section>Term {{ ind }}</q-item-section>
                    </q-item>
                    <q-item>
                      <q-item-section>
                        <span>
                          {{
                            term
                              .map(date => $moment(date).format(" DD MMM "))
                              .toString()
                          }}
                        </span>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </template>
              </q-tab-panel>
            </template>
          </q-tab-panels>
        </q-item-section>
      </q-item>
    </template>
  </q-list>
</template>

<script>
export default {
  props: ["location"],
  data() {
    return {
      type: null,
      selectedCalendar: null,
      tab: {}
    };
  },
  components: {
    CalendarForm: () => import("./CalendarForm")
  },
  computed: {
    calendars() {
      return this.$store.state.calendars.calendars;
    }
  },
  methods: {
    openAdd() {
      this.type = "add";
    },
    openEdit(calendar) {
      this.selectedCalendar = calendar;
      this.type = "edit";
    },

    async handleAdd(data) {
      this.$q.loading.show();
      await this.$store.dispatch("calendars/addCalendar", {
        ...data,
        centreKey: this.location.key
      });
      this.$q.notify({
        type: "positive",
        message: `Calendar Added!`
      });
      this.innerType = null;
      this.$q.loading.hide();
    },
    async handleUpdate(data) {
      this.$q.loading.show();
      await this.$store.dispatch("calendars/updateCalendar", {
        data: {
          ...data,
          centreKey: this.location.key
        },
        calendarKey: this.selectedCalendar.key
      });
      this.$q.notify({
        type: "positive",
        message: `Calendar Updated!`
      });
      this.innerType = null;

      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
