<template>
  <div class="q-pa-md">
    <q-form
      @submit="onSubmit"
      class="q-gutter-md"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
    >
      <q-input
        outlined
        v-model="name"
        label="Calendar Name"
      />
      <q-select
        label="Year"
        :options="yearOptions"
        v-model="year"
        outlined
        @input="handleYearSelect"
      />
      <q-select
        label="No. of Terms"
        :options="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
        v-model="numberOfTerms"
        outlined
      />
      <template v-if="numberOfTerms">
        <q-tabs
          dense
          v-model="tab"
          class="bg-grey-2"
          :breakpoint="0"
        >
          <template v-for="term in numberOfTerms">
            <q-tab
              :name="term"
              :key="term"
              :label="term"
            ></q-tab>
          </template>
        </q-tabs>
        <q-tab-panels
          v-model="tab"
          animated
        >
          <template v-for="term in numberOfTerms">
            <q-tab-panel
              :name="term"
              :key="term"
            >
              <q-date
                v-model="terms[year][term]"
                multiple
              />
              <!-- <v-date-picker
                :ref="term+'calendar'"
                v-model="terms[year][term]"
                :min-Date="terms[year] && terms[year][term] && terms[year][term].length? terms[year][term][0] : null"
                mode="multiple"
                is-inline
                :columns="2"
                is-expanded
              /> -->
            </q-tab-panel>
          </template>
        </q-tab-panels>
      </template>

      <div>
        <q-btn
          label="Submit"
          type="submit"
          color="secondary"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  props: ["onComplete", "calendar"],
  mounted() {
    if (this.calendar) {
      this.name = this.calendar.name;
      this.year = this.$moment().format("YYYY");
      this.numberOfTerms =
        this.calendar.terms && this.calendar.terms[this.year]
          ? Object.keys(this.calendar.terms[this.year]).length
          : null;
      let terms = {};
      Object.keys(this.calendar.terms).forEach((year) => {
        terms[year] = {};
        if (this.calendar.terms[this.year]) {
          Object.keys(this.calendar.terms[year]).forEach((term) => {
            if (this.calendar.terms[year][term]) {
              terms[year][term] = this.calendar.terms[year][term].map((d) =>
                this.$moment(d).format("YYYY/MM/DD")
              );
            }
          });
        }
      });
      this.terms = this.calendar.terms
        ? terms
        : {
            [this.year]: {},
          };
    }
  },
  data() {
    return {
      name: null,
      year: null,
      numberOfTerms: null,
      terms: {},
      tab: 1,
    };
  },
  watch: {
    numberOfTerms(newValue) {
      let termsYear = { ...this.terms[this.year] };
      this.terms[this.year] = {};
      if (newValue !== 0) {
        for (let i = 0; i < newValue; i++) {
          this.$set(
            this.terms[this.year],
            i + 1,
            termsYear[i + 1] ? termsYear[i + 1] : []
          );
        }
      }
    },
  },
  computed: {
    yearOptions() {
      return [
        this.$moment().add(1, "year").format("YYYY"),
        this.$moment().format("YYYY"),
        this.$moment().subtract(1, "year").format("YYYY"),
      ];
    },
  },
  methods: {
    onSubmit() {
      let formattedDates = {};
      Object.keys(this.terms).forEach((year) => {
        if (Object.keys(this.terms[year]).length > 0) {
          formattedDates[year] = {};
          Object.keys(this.terms[year]).forEach((term) => {
            if (Object.keys(this.terms[year][term]).length > 0)
              formattedDates[year][term] = this.terms[year][term].map(
                (dates) => {
                  return this.$moment(dates).format();
                }
              );
          });
        }
      });
      this.onComplete({
        name: this.name,
        terms: formattedDates,
      });
    },
    async handleYearSelect(e) {
      this.numberOfTerms = null;
      if (this.calendar) {
        this.year = e;
        this.numberOfTerms = this.calendar.terms[this.year]
          ? Object.keys(this.calendar.terms[this.year]).length
          : null;
        this.$set(this.terms, e, this.terms[e] ? this.terms[e] : {});
        const calendar = this.$refs["1calendar"][0].$children[0];
        await calendar.move(this.terms[e][1][0]);
      } else {
        this.$set(this.terms, e, this.terms[e] ? this.terms[e] : {});
      }
    },
    handleSessions() {
      if (this.feesData.sessionsType === "Pro-rated") {
        let amount = [];
        for (var i = 0; i < parseInt(this.feesData.numberOfSessions); i++) {
          amount.push({
            numberOfSessions: i + 1,
            amount: null,
          });
        }
        this.$set(this.feesData, "amount", amount);
        console.log(amount);
      }
    },
  },
};
</script>
