<template>
  <q-list separator>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm">Do you want to delete class ?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Delete"
            color="primary"
            @click.prevent="handleDelete"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-item class="bg-orange-5 text-white">
      <q-item-section>
        <q-item-label style="font-weight: 600; font-size: 15px" class="karla"
          >{{ location.name }} Classes</q-item-label
        >
      </q-item-section>
      <q-item-section>
        <q-input
          bg-color="white"
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon v-if="searchText === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </q-item-section>
      <q-item-section side>
        <q-icon name="add_circle" color="white" @click="openAddClass" />
      </q-item-section>
    </q-item>
    <q-table
      v-show="innerType === null"
      title=""
      :data="classes"
      :columns="columns"
      :pagination="pagination"
      :filter="searchText"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn flat round icon="edit" @click="openEditClass(props.row)" />
            <q-btn
              flat
              round
              icon="delete"
              @click="openDeleteClass(props.row.key)"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-item v-if="innerType === 'add'">
      <q-card class="full-width">
        <q-toolbar class="bg-grey-9 text-white">
          <q-toolbar-title style="font-size: 14px;"
            >New Class Details</q-toolbar-title
          >
          <q-btn flat round dense icon="close" @click="innerType = null" />
        </q-toolbar>
        <FormGenerator
          :onComplete="handleAdd"
          :formConfig="formConfig"
          :customLists="customLists"
        />
      </q-card>
    </q-item>
    <q-item v-else-if="innerType === 'edit'">
      <q-card class="full-width">
        <q-toolbar class="bg-grey-9 text-white">
          <q-toolbar-title style="font-size: 14px;"
            >{{ selectedClass.name }} Class Details</q-toolbar-title
          >
          <q-btn flat round dense icon="close" @click="innerType = null" />
        </q-toolbar>
        <FormGenerator
          :onComplete="handleUpdate"
          :formConfig="formConfig"
          :data="selectedClass"
          :customLists="customLists"
        />
      </q-card>
    </q-item>
    <!-- <template v-else v-for="(cla, key) in classes">
      <q-item :key="key" v-if="cla.active">
        <q-item-section avatar>
          <q-toggle
            :value="cla.active"
            disable
            checked-icon="check"
            color="orange-4"
            unchecked-icon="clear"
          />
        </q-item-section>
        <q-item-section>{{ cla.name }}</q-item-section>
        <q-item-section>{{
          cla.feesKey ? feesByKey[cla.feesKey].name : "Not Set"
        }}</q-item-section>

        <q-item-section side>
          <q-btn flat round icon="edit" @click="openEditClass(cla, cla.key)" />
        </q-item-section>
        <q-item-section side>
          <q-btn flat round icon="delete" @click="openDeleteClass(cla.key)" />
        </q-item-section>
      </q-item>
    </template> -->
  </q-list>
</template>

<script>
import { formConfig } from "../../forms/class";
import { mapState } from "vuex";
export default {
  props: ["location", "type", "classes"],
  data() {
    return {
      formConfig,
      innerType: null,
      searchText: "",
      selectedClass: null,
      selectedClassKey: null,
      confirm: false,
      pagination: {
        sortBy: "startTime",
        descending: false,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name.split(" ")[0],
          sortable: true,
          sortOrder: "ad",
          sort: (a, b, rowA, rowB) => rowA.maxAge - rowB.maxAge
        },
        {
          name: "startTime",
          label: "Start",
          field: row => this.$moment(row.startTime, "H:mm").format("h:mma"),
          sortable: true,
          sort: (a, b) =>
            this.$moment(a, "h:mma").format("H") -
            this.$moment(b, "h:mma").format("H")
        },
        {
          name: "day",
          label: "Day",
          field: "day",
          sortable: true
        }
      ]
    };
  },
  components: {
    FormGenerator: () => import("../../components/FormGenerator")
  },
  computed: {
    ...mapState({
      feesByKey: state => state.fees.listByKey,
      fees: state => state.fees.list,
      calendars: state => state.calendars.calendars
    }),
    customLists() {
      let customLists = {};
      customLists["calendars"] = this.calendars
        ? Object.keys(this.calendars).map(key => {
            return {
              ...this.calendars[key],
              key
            };
          })
        : [];
      customLists["fees"] = this.fees;
      return customLists;
    }
  },
  methods: {
    async openAddClass() {
      await this.$store.dispatch("calendars/loadCalendar", this.location);
      this.innerType = "add";
    },

    async openEditClass(cla) {
      await this.$store.dispatch("calendars/loadCalendar", this.location);
      this.selectedClass = cla;
      this.selectedClassKey = cla.key;
      this.innerType = "edit";
    },
    openDeleteClass(key) {
      this.selectedClassKey = key;
      this.confirm = true;
    },
    async handleAdd(data) {
      this.$q.loading.show();
      let formattedData = {
        ...data,
        locationKey: this.location.key,
        locationName: this.location.name,
        year: this.$moment().format("YYYY"),
        venueId: this.location.id,
        startTime: data.startTime ? data.startTime : null,
        endTime: data.endTime ? data.endTime : null
      };
      await this.$store.dispatch("classes/addClass", formattedData);
      this.$q.notify({
        type: "positive",
        message: `Class Added!`
      });
      this.innerType = null;
      this.$q.loading.hide();
    },
    async handleUpdate(data) {
      this.$q.loading.show();
      let formattedData = {
        ...data,
        locationKey: this.location.key,
        locationName: this.location.name,
        year: this.$moment().format("YYYY"),
        venueId: this.location.id,
        startTime: data.startTime ? data.startTime : null,
        endTime: data.endTime ? data.endTime : null
      };
      await this.$store.dispatch("classes/updateClass", {
        data: formattedData,
        classKey: this.selectedClassKey
      });
      this.$q.notify({
        type: "positive",
        message: `Class updated!`
      });
      this.innerType = null;
      this.$q.loading.hide();
    },
    async handleDelete() {
      this.$q.loading.show();
      await this.$store.dispatch("classes/removeClass", this.selectedClassKey);
      this.$q.notify({
        type: "positive",
        message: `Class Deleted!`
      });
      this.confirm = false;
      this.innerType = null;
      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
