<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-4">
      <!-- Location List -->
      <q-list
        bordered
        separator
        style="min-height: 80vh"
      >
        <q-item
          class="bg-orange-5 text-white"
          style="min-height: 56px"
        >
          <q-item-section>
            <q-item-label
              style="font-size: 15px; font-weight: 600"
              class="karla"
            >Locations</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-icon
              name="add_circle"
              color="white"
              @click="openAddLocation"
            />
          </q-item-section>
        </q-item>
        <template v-for="loc in locations">
          <q-item
            v-ripple
            :key="loc.key"
          >
            <q-item-section avatar>
              <q-toggle
                v-model="loc.active"
                checked-icon="check"
                color="orange-4"
                unchecked-icon="clear"
                @input="e => handleUpdateLocationStatus(e, loc.key)"
              />
            </q-item-section>
            <q-item-section>{{ loc.name }}</q-item-section>
            <q-item-section side>
              <div class="row">
                <q-btn
                  flat
                  round
                  icon="edit"
                  @click="openEditLocation(loc)"
                />
                <q-btn
                  flat
                  round
                  icon="date_range"
                  @click="openCalendar(loc)"
                />
                <q-btn
                  flat
                  round
                  icon="sports_soccer"
                  @click="openClasses(loc)"
                />
              </div>
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </div>
    <div class="col-xs-12 col-sm-8">
      <q-card
        flat
        bordered
        style="min-height: 80vh"
      >
        <transition
          appear
          enter-active-class="animated slideInRight"
        >
          <!-- Calendar Card -->
          <template v-if="type === 'calendar'">
            <calendar-card :location="selectedLocation"></calendar-card>
          </template>

          <!-- Location Card -->
          <template v-if="type === 'location'">
            <location-card
              :type="innerType"
              :location="selectedLocation"
              :close="closeLocationCard"
            ></location-card>
          </template>

          <!-- Class Card -->
          <template v-if="type === 'classes' && selectedLocation">
            <classes-card
              :type="innerType"
              :location="selectedLocation"
              :close="closeClassesCard"
              :classes="classes[selectedLocation.name]"
            ></classes-card>
          </template>
          <q-card-section v-if="type === null">
            <div class="q-pa-md">
              <div class="q-gutter-sm">
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton height="150px" />
                <q-skeleton type="rect" />
              </div>
            </div>
          </q-card-section>
        </transition>
      </q-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  async mounted() {
    this.$q.loading.show();
    await this.initialiseData();
    this.$q.loading.hide();
  },
  data() {
    return {
      selectedLocation: {},
      tab: {},
      type: null,
      innerType: null,
    };
  },
  computed: {
    ...mapState({
      locations: (state) => state.locations.list,
      classes: (state) => state.classes.all,
    }),
  },
  methods: {
    initialiseData() {
      return Promise.all([
        this.$store.dispatch("fees/loadFees"),
        this.$store.dispatch("classes/loadAllClasses"),
      ]);
    },
    openAddLocation() {
      this.type = "location";
      this.innerType = "add";
    },
    openEditLocation(location) {
      this.type = null;
      this.selectedLocation = null;
      this.innerType = null;
      this.type = "location";
      this.innerType = "edit";
      this.selectedLocation = location;
    },
    async openCalendar(location) {
      await this.$store.dispatch("calendars/loadCalendar", location);
      this.innerType = null;
      this.type = "calendar";
      this.selectedLocation = location;
    },
    closeLocationCard() {
      this.type = null;
      this.innerType = null;
      this.selectedLocation = {};
    },

    async openClasses(location) {
      this.innerType = null;
      this.type = "classes";
      this.selectedLocation = location;
    },
    closeClassesCard() {
      this.type = null;
      this.innerType = null;
      this.selectedLocation = {};
    },

    async handleUpdateLocationStatus(e, locationKey) {
      this.$q.loading.show();
      await this.$store.dispatch("locations/updateLocationDetails", {
        key: locationKey,
        data: {
          active: e,
        },
      });
      this.$q.notify({
        type: "positive",
        message: `Location Status Updated to ${e ? "Active" : "Not Active"}!`,
      });
      this.$q.loading.hide();
    },
  },
  components: {
    FormGenerator: () => import("../../components/FormGenerator"),
    CalendarCard: () => import("./CalendarCard"),
    LocationCard: () => import("./LocationCard"),
    ClassesCard: () => import("./ClassesCard"),
  },
};
</script>
