<template>
  <q-list separator>
    <q-item class="bg-orange-5 text-white" style="min-height: 56px">
      <q-item-section>
        <q-item-label style="font-weight: 600; font-size: 15px" class="karla"
          >Location Details</q-item-label
        >
      </q-item-section>
    </q-item>
    <q-item>
      <q-card class="full-width">
        <q-toolbar class="bg-grey-9 text-white">
          <q-toolbar-title style="font-size: 14px;"
            >{{ location.name ? location.name + " " : null }}Location
            Details</q-toolbar-title
          >
          <q-btn flat round dense icon="close" @click="close" />
        </q-toolbar>

        <FormGenerator
          :formConfig="formConfig"
          :onComplete="handleAdd"
          v-if="type === 'add'"
        />
        <FormGenerator
          v-if="type === 'edit'"
          :formConfig="formConfig"
          :data="location"
          :onComplete="handleUpdate"
        />
      </q-card>
    </q-item>
  </q-list>
</template>

<script>
import { formConfig } from "../../forms/location";

export default {
  props: ["location", "type", "close"],
  data() {
    return {
      formConfig
    };
  },
  components: {
    FormGenerator: () => import("../../components/FormGenerator")
  },
  methods: {
    async handleAdd(data) {
      this.$q.loading.show();
      await this.$store.dispatch("locations/addLocationDetails", {
        ...data,
        active: true
      });
      this.$q.notify({
        type: "positive",
        message: `Location Added!`
      });
      this.$q.loading.hide();
      this.close();
    },
    async handleUpdate(data) {
      this.$q.loading.show();
      await this.$store.dispatch("locations/updateLocationDetails", {
        key: this.location.key,
        data
      });
      this.$q.notify({
        type: "positive",
        message: `Location Details Updated!`
      });

      this.$q.loading.hide();
      this.close();
    }
  }
};
</script>

<style></style>
