<template>
  <div class="q-mt-md">
    <!-- Dialog box for Student Form -->
    <template v-if="cDialog">
      <coach-dialog
        :selectedCoach="selectedCoach"
        :type="type"
        :dialog="cDialog"
        :closeDialog="closeEditDialog"
      ></coach-dialog>
    </template>

    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="pending_actions"
            color="green "
            text-color="white"
          />
          Active Coaches
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <q-btn
          unelevated
          color="primary"
          icon="add"
          class="q-ml-md"
          @click.prevent="openAddDialog"
          :label="$q.screen.xs ? '' : `Add Coach`"
        />
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredCoaches"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              size="sm"
              color="accent"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="edit"
              @click.prevent="openEditDialog(props.row)"
            />
            <q-btn
              flat
              color="black"
              icon="archive"
              @click.prevent="archiveCoach(props.row)"
            />
          </q-td>
        </q-tr>

      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
export default {
  props: ["coaches"],
  components: {
    CoachDialog: () => import("./CoachDialog.vue"),
  },
  data() {
    return {
      type: null,
      expanded: [],
      searchText: "",
      tableExpand: true,
      cDialog: false,
      pagination: {
        sortBy: "name",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.name,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },
        {
          name: "dob",
          required: true,
          label: "Age",
          field: (row) => row.dateOfBirth,
          format: (val) => {
            return val ? this.getAge(val) + " y.o." : "N.A.";
          },
          sortable: true,
        },
        {
          name: "paymentRate",
          required: true,
          label: "Payment Rate",
          field: "paymentRate",
          sortable: true,
        },
      ],
    };
  },

  computed: {
    filteredCoaches() {
      let coaches = this.coaches.filter((o) => o.status !== "Not Active");
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        coaches = filter(
          coaches,
          (v) =>
            v.name &&
            v.name.toLowerCase().indexOf(needle) > -1 &&
            v.status !== "Not Active"
        );
      }
      return coaches;
    },
  },
  methods: {
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.locationOptions = this.locations.filter(
          (v) => v.name.toLowerCase().indexOf(needle) > -1 && v.active
        );
      });
    },
    getAge(dob) {
      let age = this.$moment().diff(this.$moment(dob), "years", true);

      return age.toFixed(1);
    },

    openEditDialog(coach) {
      this.selectedCoach = coach;
      this.type = "edit";
      this.cDialog = true;
    },
    openAddDialog() {
      this.selectedCoach = {};
      this.type = "add";
      this.cDialog = true;
    },
    closeEditDialog() {
      this.selectedCoach = null;
      this.searchText = "";
      this.type = null;
      this.cDialog = false;
    },
    archiveCoach(coach) {
      this.$q
        .dialog({
          title: "Archive Coach",
          message: `Would you like to archive Coach ${coach.name}`,
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          await this.$store.dispatch("coaches/updateCoach", {
            key: coach.key,
            data: { status: "Not Active" },
          });
          this.$q.notify({
            type: "positive",
            message: `Coach Data is Archived!`,
          });
        });
    },
  },
};
</script>

<style></style>
