<template>
  <Drawer
    :title="type === 'add' ? 'New Coach' : `${selectedCoach.name}`"
    :show="dialog"
    :onClose="close"
  >
    <FormGenerator
      :formConfig="formConfig"
      :data="type === 'add' ? null : selectedCoach"
      :onComplete="handleSubmit"
    />
  </Drawer>
</template>

<script>
import { formConfig } from "../../forms/coach";

export default {
  props: ["selectedCoach", "type", "dialog", "closeDialog"],
  components: {
    Drawer: () => import("../../components/Drawer"),
    FormGenerator: () => import("../../components/FormGenerator"),
  },
  data() {
    return {
      formConfig,
    };
  },
  methods: {
    close() {
      this.closeDialog();
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      if (this.type === "add") {
        await this.$store.dispatch("coaches/addCoach", data);
        this.$q.notify({
          type: "positive",
          message: `Coach Added!`,
        });
      } else if (this.type === "edit") {
        await this.$store.dispatch("coaches/updateCoach", {
          key: this.selectedCoach.key,
          data,
        });
        this.$q.notify({
          type: "positive",
          message: `Coach Details Updated!`,
        });
      }

      this.$q.loading.hide();
      this.closeDialog();
    },
  },
};
</script>

<style></style>
