<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ headerText }}s</b></q-toolbar-title>
      </q-toolbar>
    </div>

    <!-- Active Table -->
    <template v-if="coaches">
      <active-table :coaches="coaches"></active-table>

    </template>

    <!-- Assigned Table -->
    <!-- <assigned-table :students="assignedStudents"></assigned-table> -->
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      headerText: "Coache",
    };
  },
  computed: {
    ...mapState({
      coaches: (state) => state.coaches.list,
    }),
  },

  components: {
    ActiveTable: () => import("./ActiveTable.vue"),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await this.$store.dispatch("coaches/loadCoaches");
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
