<template>
  <div>
    <template v-if="data.length > 0">
      <div class="q-ma-md">
        <q-btn-toggle
          style="border: 1px solid #ffa726"
          :value="value"
          toggle-color="orange-5"
          :options="data"
          color="white"
          unelevated
          text-color="orange-5"
          @input="updateSelected"
        />
      </div>
    </template>
    <template v-else>
      <div class="q-ma-md">
        <h6 class="q-ma-none text-red">No Term Dates</h6>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: ["value", "data"],

  methods: {
    updateSelected(val) {
      this.$emit("input", val);
    }
  }
};
</script>

<style></style>
