<template>
  <q-list bordered separator style="min-height: 80vh">
    <q-item class="bg-orange-5 text-white">
      <q-item-section>
        <q-item-label style="font-weight: 600; font-size: 15px" class="karla"
          >Monthly Classes</q-item-label
        >
      </q-item-section>
    </q-item>

    <template v-for="(cla, index) in monthlyClasses">
      <q-item v-ripple :key="cla.key">
        <q-item-section avatar>
          <q-chip
            >{{ cla.students.length }} /
            {{ cla.classSize ? cla.classSize : "Not Set" }}</q-chip
          >
        </q-item-section>
        <q-item-section>{{ cla.name }}</q-item-section>
        <q-item-section side>
          <q-btn flat round icon="edit" @click="selectClass(cla, index)" />
        </q-item-section>
      </q-item>
    </template>
  </q-list>
</template>

<script>
import orderBy from "lodash/orderBy";
export default {
  props: ["updateSelected"],
  async mounted() {
    this.$q.loading.show();
    await this.initialiseData();
    this.$store.subscribe(async mutation => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.$q.loading.show();
        await this.initialiseData();
        this.$q.loading.hide();
      }
    });
    this.$q.loading.hide();
  },
  watch: {
    async selectedLocation(newValue) {
      this.$q.loading.show();
      await this.initialiseData();
      this.$q.loading.hide();
    }
  },
  computed: {
    monthlyClasses() {
      return this.$store.state.classgroup.monthlyClasses;
    }
  },
  methods: {
    async initialiseData() {
      return new Promise(async (resolve, reject) => {
        const {
          classes,
          id,
          name
        } = this.$store.state.locations.selectedLocation;
        let monthly = [];
        let promises = [];
        
        if (classes) {
          Object.keys(classes).forEach(key => {
            const { active, feesKey } = classes[key];
            if (active && feesKey === "-MD31BmFwanplg-qsU41") {
              let a = new Promise(async (resolve, reject) => {
                const students = await this.$store.dispatch(
                  "classgroup/loadStudentsClass",
                  key
                );
                promises.push(students);
                const trials = await this.$store.dispatch(
                  "classgroup/loadTrialsClass",
                  key
                );
                monthly.push({
                  ...classes[key],
                  students: students ? students : [],
                  trials: trials ? trials : [],
                  key
                });
                resolve();
              });

              promises.push(a);
            }
          });
        }
        await Promise.all(promises);
        monthly = orderBy(monthly, ["minAge", "startTime"]);
        this.$store.commit("classgroup/ADD_MONTHLY", monthly);

        await this.$store.dispatch("students/loadAllStudents");
        await this.$store.dispatch("leads/loadAllLeads");

        resolve();
      });
    },
    selectClass(cla, index) {
      this.updateSelected(cla, index);
    }
  }
};
</script>

<style></style>
