<template>
  <q-card flat bordered style="min-height: 80vh">
    <transition appear enter-active-class="animated slideInRight">
      <div>
        <!-- Display Class Name -->
        <template v-if="cla">
          <q-list separator>
            <q-item class="bg-orange-5 text-white">
              <q-item-section>
                <q-item-label
                  style="font-weight: 600; font-size: 15px"
                  class="karla"
                  >{{ cla.name }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </q-list>
          <class-term-dates
            v-model="selectedDate"
            :data="classTermDates"
          ></class-term-dates>
          <student-list
            :studentsInClass="studentsInClass"
            :classKey="cla.key"
            :updateStudentsInClass="updateStudentsInClass"
            :date="selectedDate"
          ></student-list>
        </template>

        <!-- Display Skeleton if no class is selected -->
        <q-card-section v-if="cla === null">
          <skeleton />
        </q-card-section>
      </div>
    </transition>
  </q-card>
</template>

<script>
import { mapState } from "vuex";
import find from "lodash/find";
export default {
  props: ["cla", "claIndex"],
  mounted() {
    this.initialiseData();
  },
  data() {
    return {
      studentsInClass: [],
      selectedDate: null
    };
  },
  watch: {
    cla() {
      this.initialiseData();
    },
    selectedDate() {
      this.initialiseData();
    }
  },
  components: {
    Skeleton: () => import("../../components/Skeleton"),
    ClassTermDates: () => import("./ClassTermDates"),
    StudentList: () => import("./StudentList")
  },
  computed: {
    ...mapState({
      calendar: state => state.calendars.selectedCalendarDetails
    }),
    classTermDates() {
      let termDates = [];
      if (this.calendar && this.calendar.termDates) {
        let count = 0;
        this.calendar.termDates.forEach(date => {
          let weekBefore = this.$moment().subtract(5, "weeks");
          if (
            this.$moment(date, "DD-MM-YYYYY").isSameOrAfter(weekBefore) &&
            count < 8
          ) {
            termDates.push({
              label: this.$moment(date, "DD-MM-YYYY").format("DD-MMM"),
              value: date
            });
            count++;
          }
        });
        termDates.sort(
          (a, b) =>
            new this.$moment(a.value, "DD-MM-YYYY").format("YYYYMMDD") -
            new this.$moment(b.value, "DD-MM-YYYY").format("YYYYMMDD")
        );
      }
      return termDates;
    }
  },
  methods: {
    async updateTrials() {
      const { trials } = this.cla;
      if (trials) {
        let filteredTrials = trials.filter(
          trial => trial.dateOfTrial === this.selectedDate
        );

        console.log(filteredTrials);
      }
    },
    async initialiseData() {
      this.studentsInClass = [];
      if (this.cla) {
        const { students, trials, classSize } = this.cla;
        if (this.selectedDate === null) {
          this.selectedDate =
            this.classTermDates.length > 0
              ? this.classTermDates[0].value
              : null;
        }

        if (classSize) {
          let classgroup = [];
          if (students) {
            students.forEach(student => {
              classgroup.push({
                ...student,
                type: "Student"
              });
            });
          }
          if (trials) {
            let filteredTrials = trials.filter(
              trial => trial.dateOfTrial === this.selectedDate
            );
            filteredTrials.forEach(trial => {
              classgroup.push({
                ...trial,
                type: "Trial"
              });
            });
          }
          Array(classSize)
            .fill()
            .map((_, i) => {
              if (classgroup && classgroup[i]) {
                this.studentsInClass.push(classgroup[i]);
              } else {
                this.studentsInClass.push({
                  studentKey: "",
                  key: ""
                });
              }
            });
        }
      }
    },
    updateStudentsInClass(studentIndex, data) {
      this.$set(this.studentsInClass, studentIndex, data);
    }
  }
};
</script>
