<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-5">
      <class-list :updateSelected="updateSelected"></class-list>
    </div>

    <div class="col-xs-12 col-sm-7">
      <class-card
        :cla="selectedClass"
        :claIndex="selectedClassIndex"
      ></class-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedClass: null,
      selectedClassIndex: null
    };
  },
  components: {
    ClassList: () => import("./ClassList"),
    StudentList: () => import("./StudentList"),
    ClassCard: () => import("./ClassCard")
  },
  methods: {
    async updateSelected(cla, index) {
      this.$q.loading.show();
      console.log(cla);
      await this.$store.dispatch("calendars/getCalendar", cla.calendarKey);
      this.selectedClass = cla;
      this.selectedClassIndex = index;

      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
