<template>
  <div class="q-pa-sm">
    <q-dialog v-model="confirm">
      <q-card v-if="confirm">
        <q-card-section class="row items-center">
          <q-avatar icon="how_to_reg" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >You are registering {{ this.selectedStudent.childName }} as a
            student.<br />
            Choose which option to proceed.</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn label="Cancel" color="accent" v-close-popup />
          <q-btn
            label="Register"
            color="accent"
            v-close-popup
            @click.native="register"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-list bordered separator>
      <template v-for="(student, index) in studentsInClass">
        <q-item :key="index" style>
          <template v-if="student.studentKey === ''">
            <template v-if="selectedSlot === index">
              <!-- Selection to Add Student -->
              <template v-if="type === 'student'">
                <q-item-section>
                  <div class="row items-center">
                    <div class="col-8">
                      <q-select
                        outlined
                        dense
                        v-model="selectedStudent"
                        use-input
                        input-debounce="0"
                        :options="studentsList"
                        label="Select Student"
                        @filter="filterStudent"
                        emit-value
                        map-options
                      />
                    </div>
                    <div class="col-4 q-pl-xs">
                      <q-btn
                        rounded
                        color="amber-5"
                        @click.native="submitAddStudent(index)"
                        >Submit</q-btn
                      >
                    </div>
                  </div>
                </q-item-section>
              </template>

              <!-- Selection to Trial -->
              <template v-if="type === 'trial'">
                <q-item-section>
                  <div class="row items-center">
                    <div class="col-8">
                      <q-select
                        outlined
                        dense
                        v-model="selectedTrial"
                        use-input
                        input-debounce="0"
                        :options="trialsList"
                        label="Select Trial"
                        @filter="filterTrial"
                        emit-value
                        map-options
                      />
                    </div>
                    <div class="col-4 q-pl-xs">
                      <q-btn
                        rounded
                        color="amber-5"
                        @click.native="submitAddTrial(index)"
                        >Submit</q-btn
                      >
                    </div>
                  </div>
                </q-item-section>
              </template>
            </template>

            <!-- Display Available Slot -->
            <q-item-section v-else>Available Slot</q-item-section>
            <q-item-section side>
              <div>
                <q-btn
                  outline
                  color="amber-9"
                  rounded
                  @click="updateSelectedSlot(index, 'student')"
                  class="q-mx-xs bg-amber-2"
                  >Add Student</q-btn
                >
                <q-btn
                  outline
                  color="amber-9"
                  rounded
                  @click="updateSelectedSlot(index, 'trial')"
                  >Add Trial</q-btn
                >
              </div>
            </q-item-section>
          </template>

          <!-- Display Registered Student -->
          <template v-else>
            <template v-if="student.type === 'Student'">
              <!-- <q-item-section avatar>
                            <q-toggle color="green" />
                          </q-item-section> -->
              <q-item-section>
                <div>
                  <div>
                    {{
                      students[student.studentKey]
                        ? students[student.studentKey].childName.toUpperCase()
                        : student.studentKey
                    }}
                  </div>

                  <!-- <q-chip
                                size="sm"
                                removable
                                color="red"
                                text-color="white"
                              >
                                Registration Not Paid
                              </q-chip>
                              <q-chip
                                size="sm"
                                removable
                                color="pink"
                                text-color="white"
                              >
                                Jersey Email Not Sent
                              </q-chip> -->
                </div>
              </q-item-section>
              <q-item-section side>
                <div>
                  <template
                    v-if="
                      students[student.studentKey] &&
                        students[student.studentKey].account
                    "
                  >
                    <q-icon name="link" size="md" class="q-mr-md" />
                  </template>
                  <template v-else>
                    <q-btn
                      outline
                      color="amber-9"
                      rounded
                      @click="createAccount(student, index)"
                      class="q-mx-xs bg-amber-2"
                      >Create Account</q-btn
                    >
                  </template>

                  <q-btn
                    color="orange-5"
                    @click="onSelectStudent(student)"
                    outline
                    rounded
                    class="q-mx-xs"
                    icon="monetization_on"
                  />
                  <q-btn color="orange-5" flat dense round icon="more_vert">
                    <q-menu
                      transition-show="jump-down"
                      transition-hide="jump-up"
                    >
                      <q-list style="min-width: 100px">
                        <q-item clickable>
                          <q-item-section
                            @click="
                              removeStudent(
                                student.key,
                                index,
                                student.studentKey
                              )
                            "
                            >Stop Class</q-item-section
                          >
                        </q-item>
                        <q-item clickable>
                          <q-item-section
                            @click.native="
                              deleteStudent(
                                student.key,
                                index,
                                student.studentKey
                              )
                            "
                            >Delete</q-item-section
                          >
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>

                  <!-- <q-btn
                                color="accent"
                                @click="
                                  removeStudent(
                                    student.key,
                                    index,
                                    student.studentKey
                                  )
                                "
                                class="q-mx-xs"
                                >Stop Class</q-btn
                              >
                              <q-btn
                                color="secondary"
                                icon="delete"
                                @click.native="
                                  deleteStudent(
                                    student.key,
                                    index,
                                    student.studentKey
                                  )
                                "
                              ></q-btn> -->
                </div>
              </q-item-section>
            </template>

            <!-- Display Registered Trial -->
            <template v-if="student.type === 'Trial'">
              <!-- <q-item-section avatar>
                            <q-toggle color="green" />
                          </q-item-section> -->
              <q-item-section>
                <div>
                  {{
                    leads[student.trialKey]
                      ? leads[student.trialKey].childName
                      : student.trialKey
                  }}
                  <q-badge align="top">Trial</q-badge>
                </div>
              </q-item-section>
              <q-item-section side>
                <div>
                  <q-btn
                    color="accent"
                    @click.native="showConfirmDialog(student, index)"
                    class="q-mx-xs"
                    >Register</q-btn
                  >
                  <q-btn
                    color="secondary"
                    icon="delete"
                    @click.native="
                      deleteTrial(student.key, index, student.trialKey)
                    "
                  ></q-btn>
                </div>
              </q-item-section>
            </template>
          </template>
        </q-item>
      </template>
    </q-list>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
export default {
  props: ["studentsInClass", "classKey", "updateStudentsInClass", "date"],
  data() {
    return {
      selectedSlot: null,
      selectedStudent: null,
      selectedClassIndex: null,
      studentsList: [],
      type: null,
      selectedTrial: null,
      trialsList: [],
      confirm: false
    };
  },

  computed: {
    ...mapState({
      students: state => state.students.studentsByKey,
      studentList: state => state.students.students,
      leads: state => state.leads.leadsByKey,
      selectedLocation: state => state.locations.selectedLocation
    }),
    studentOptions() {
      let students = [];
      Object.keys(this.students).forEach(key => {
        const { childName } = this.students[key];
        students.push({
          label: childName,
          value: key
        });
      });
      return students;
    },
    trialOptions() {
      let trials = [];
      Object.keys(this.leads).forEach(key => {
        const { childName } = this.leads[key];
        trials.push({
          label: childName,
          value: key
        });
      });
      return trials;
    }
  },
  methods: {
    showConfirmDialog(student, index) {
      this.selectedStudent = {
        ...student,
        ...this.leads[student.trialKey]
      };
      this.selectedClassIndex = index;
      this.confirm = true;
    },
    updateSelectedSlot(index, type) {
      this.selectedStudent = null;
      this.selectedSlot = index;
      this.type = type;
    },
    filterStudent(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.studentOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.studentsList = filter(
          this.studentOptions,
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    filterTrial(val, update) {
      if (val === "") {
        update(() => {
          this.options = this.trialOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.trialsList = filter(
          this.trialOptions,
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    async submitAddTrial(index) {
      this.$q.loading.show();
      if (this.selectedTrial) {
        const trial = await this.$store.dispatch("classgroup/addTrialToClass", {
          data: {
            classKey: this.classKey,
            trialKey: this.selectedTrial,
            dateAdded: this.$moment().format(),
            dateOfTrial: this.date,
            active: true
          },
          classIndex: index
        });
        this.selectedSlot = null;
        this.updateStudentsInClass(index, { ...trial, type: "Trial" });
      }
      this.$q.loading.hide();
    },
    async submitAddStudent(index) {
      this.$q.loading.show();
      if (this.selectedStudent) {
        const student = await this.$store.dispatch(
          "classgroup/addStudentToClass",
          {
            data: {
              classKey: this.classKey,
              studentKey: this.selectedStudent,
              dateAdded: this.$moment().format(),
              active: true
            },
            classIndex: index
          }
        );
        this.selectedSlot = null;
        this.updateStudentsInClass(index, { ...student, type: "Student" });
      }

      this.$q.loading.hide();
    },
    async removeStudent(key, index) {
      this.$q.loading.show();
      await this.$store.dispatch("classgroup/removeStudentFromClass", {
        key,
        data: { active: false, dateStopped: this.$moment().format() },
        classIndex: index
      });
      this.updateStudentsInClass(index, {
        studentKey: "",
        key: ""
      });

      this.$q.loading.hide();
    },

    async deleteStudent(key, index) {
      this.$q.loading.show();
      await this.$store.dispatch("classgroup/deleteStudentFromClass", {
        key,
        classIndex: index
      });
      this.updateStudentsInClass(index, {
        studentKey: "",
        key: ""
      });
      this.$q.loading.hide();
    },
    async deleteTrial(key, index, trialKey) {
      this.$q.loading.show();
      await this.$store.dispatch("classgroup/deleteTrialFromClass", {
        key,
        classIndex: index,
        trialKey
      });
      this.updateStudentsInClass(index, {
        studentKey: "",
        key: ""
      });
      this.$q.loading.hide();
    },
    async register() {
      this.$q.loading.show();
      let data = {
        ...this.leads[this.selectedStudent.trialKey],
        trialKey: this.selectedStudent.trialKey,
        dateAdded: this.$moment().format(),
        status: "Active",
        venueId: this.selectedLocation.id
      };
      delete data.source;
      delete data.preferredTimeOfDay;
      console.log(data);
      const studentKey = await this.$store.dispatch(
        "students/addStudent",
        data
      );
      await this.$store.dispatch("classgroup/deleteTrialFromClass", {
        key: this.selectedStudent.key,
        classIndex: this.selectedClassIndex,
        trialKey: data.trialKey
      });

      const student = await this.$store.dispatch(
        "classgroup/addStudentToClass",
        {
          data: {
            classKey: this.classKey,
            studentKey,
            dateAdded: this.$moment().format(),
            active: true
          },
          classIndex: this.selectedClassIndex
        }
      );
      this.updateStudentsInClass(this.selectedStudentIndex, {
        ...student,
        type: "Student"
      });

      this.$q.loading.hide();
    },
    async createAccount(student, index) {
      this.$q.loading.show();
      const { studentKey } = student;
      if (this.students[studentKey].email) {
        let results = await this.$store.dispatch(
          "accounts/createAccount",
          this.students[studentKey]
        );
        console.log(results);
      } else {
        this.$q.notify("Student do not have email!");
      }

      this.$q.loading.hide();
    }
  }
};
</script>

<style></style>
