<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ headerText }}s</b></q-toolbar-title>
      </q-toolbar>
    </div>
    <template v-if="unpaid">
      <unpaid-table :payments="unpaid"></unpaid-table>
    </template>
    <template v-if="paid">
      <paid-table :payments="paid"></paid-table>
    </template>

  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async created() {
    await this.$store.dispatch("payments/loadAllPayments");
  },
  data() {
    return {
      headerText: "Payment Advice",
    };
  },
  components: {
    UnpaidTable: () => import("./UnpaidTable.vue"),
    PaidTable: () => import("./PaidTable.vue"),
  },
  computed: {
    ...mapState({
      paid: (state) => state.payments.paid,
      unpaid: (state) => state.payments.unpaid,
    }),
  },
};
</script>


