<template>
  <div class="q-mt-md">
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="pending_actions"
            color="green"
            text-color="white"
          />
          {{ cla.name }}
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <q-btn
          icon="event_busy"
          class="q-ml-xs"
          color="red"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Cancel Class
          </q-tooltip>
        </q-btn>
        <q-btn
          icon="mail"
          class="q-ml-xs"
          color="primary"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Send Reminder Email
          </q-tooltip>
        </q-btn>
        <q-btn
          icon="manage_accounts"
          class="q-ml-xs"
          color="black"
          @click.prevent="createAccounts"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Create Accounts
          </q-tooltip>
        </q-btn>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredStudents"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      selection="multiple"
      :selected.sync="selectedStudents"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width>
            <q-checkbox v-model="props.selected" />
          </q-th>

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Account</b></q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-checkbox v-model="props.selected" />
          </q-td>

          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td auto-width>
            <template v-if="accountLoading[props.row.key]">
              <q-spinner-pie
                color="blue"
                size="2em"
              />
            </template>
            <template v-else>
              <template v-if="checkAccount(props.row.email)">
                <q-icon
                  name="check_circle"
                  style="font-size: 24px"
                  color='green'
                />
              </template>
              <template v-else>
                <q-icon
                  name="cancel"
                  style="font-size: 24px"
                  color='grey'
                />
              </template>
            </template>

          </q-td>
          <q-td>
            <q-btn
              flat
              @click.prevent="removeFromClass(props)"
              icon="delete"
            />
            <q-btn
              size="sm"
              color="accent"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <div class="row items-center">
              <div class="col-12 col-md-2">
                <q-icon
                  name="pending_actions"
                  style="font-size: 2em;"
                />
                <span class="text-subtitle2">Assign Class</span>
              </div>

              <div class="col-12 col-md-4">
                <q-select
                  v-model="assignedLocation[props.row.key]"
                  use-input
                  hide-selected
                  fill-input
                  placeholder="Select Location"
                  option-label="name"
                  :options="locationOptions"
                  @filter="filterFn"
                  style="width:300px"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-12 col-md-4">
                <q-select
                  v-model="assignedClass[props.row.key]"
                  use-input
                  hide-selected
                  fill-input
                  :disable="!assignedLocation[props.row.key]"
                  placeholder="Select Class"
                  :option-label="
                    opt =>
                      Object(opt) === opt
                        ? `${opt.startTime} - ${
                            opt.name.split(' ')[0]
                          } (${opt.day.slice(0, 3)})`
                        : null
                  "
                  :options="
                    assignedLocation[props.row.key]
                      ? classes[assignedLocation[props.row.key].name]
                      : []
                  "
                  style="width:300px"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No results
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>

              <div class="col-12 col-md-2 q-px-md">

                <q-btn
                  color="primary"
                  label="Submit"
                  icon="send"
                  :disable="
                    !assignedClass[props.row.key] ||
                      !assignedLocation[props.row.key]
                  "
                  @click.prevent="updateAssignedClass(props.row)"
                />
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import find from "lodash/find";
import { mapState } from "vuex";
import { generateAccountEmail } from "../../helpers/generateAccountEmail";
import { nodeServer } from "../../configs/site";

export default {
  async mounted() {
    await this.$store.dispatch("calendars/getCalendar", this.cla.calendarKey);
    this.tableExpand = !this.collapse;
  },
  props: ["students", "cla", "location", "collapse"],
  components: {
    MonthPicker: () => import("src/components/MonthPicker.vue"),
    YearPicker: () => import("src/components/YearPicker.vue"),
  },
  data() {
    return {
      type: null,
      selectedMonth: this.$moment().format("MMM"),
      selectedYear: this.$moment().format("YYYY"),
      expanded: [],
      locationOptions: [],
      assignedLocation: {},
      assignedClass: {},
      accountLoading: {},
      searchText: "",
      tableExpand: true,
      selectedStudents: [],
      dialog: false,

      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
        },
        { name: "contact", label: "Contact", field: "contact", sortable: true },
      ],
    };
  },
  watch: {
    locations(newValue) {
      if (newValue) this.locationOptions = newValue.filter((o) => o.active);
    },

    collapse(newValue) {
      this.tableExpand = !newValue;
    },
  },
  computed: {
    ...mapState({
      payments: (state) => state.payments.list,
      fees: (state) => state.fees.listByKey,
      calendar: (state) => state.calendars.selectedCalendarDetails,
      locations: (state) => state.locations.list,
      classes: (state) => state.classes.all,
      accounts: (state) => state.accounts.list,
      users: (state) => state.accounts.users,
    }),
    filteredStudents() {
      let students = this.students;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        students = filter(
          students,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      return students;
    },
    termDates() {
      let dates = [];
      if (this.calendar && this.calendar.termDates) {
        dates = filter(
          this.calendar.termDates,
          (d) =>
            this.$moment(d, "DD-MM-YYYY").format("MMM") === this.selectedMonth
        );
      }
      return dates;
    },
    total() {
      let total = 0;
      if (this.termDates) {
        let fee = this.fees[this.cla.feesKey];
        if (fee.type === "Sessions") {
          total = parseFloat(fee.perSessionRate) * this.termDates.length;
        }
      }
      return total.toFixed(2);
    },
    tableMonths() {
      return [
        this.$moment(this.selectedMonth, "MMMM")
          .subtract(1, "month")
          .format("MMM"),
        this.$moment(this.selectedMonth, "MMMM").format("MMM"),
        this.$moment(this.selectedMonth, "MMMM").add(1, "month").format("MMM"),
      ];
    },
  },
  methods: {
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.locationOptions = this.locations.filter(
          (v) => v.name.toLowerCase().indexOf(needle) > -1 && v.active
        );
      });
    },

    checkStatus(studentKey, month) {
      let status = "-";
      if (this.payments) {
        let found = find(
          this.payments,
          (p) =>
            p.studentKey === studentKey &&
            p.month === month &&
            p.year === this.selectedYear
        );
        if (found) {
          return found.paymentStatus;
        }
      }
      return status;
    },
    showPaymentDialog() {
      if (this.selectedStudents.length === 0) {
        this.$q.notify({
          position: "center",
          message: "No student selected",
          color: "red",
        });
      } else {
        this.dialog = true;
      }
    },
    async removeFromClass(props) {
      this.$q.loading.show();
      console.log(props.row);
      let students = [...this.students];
      students.splice(props.rowIndex, 1);
      students = students.map((s) => {
        return {
          childName: s.childName,
          studentKey: s.key,
        };
      });
      await this.$store.dispatch("students/updateStudent", {
        key: props.row.key,
        data: {
          assignedLocation: null,
          assignedLocationKey: null,
          assignedClass: null,
          assignedClassKey: null,
        },
      });
      this.$q.loading.hide();
    },
    async updateAssignedClass(student) {
      this.$q.loading.show();

      await this.$store.dispatch("students/updateStudent", {
        key: student.key,
        data: {
          assignedLocation: this.assignedLocation[student.key].name,
          assignedLocationKey: this.assignedLocation[student.key].key,
          assignedClass: this.assignedClass[student.key].name,
          assignedClassKey: this.assignedClass[student.key].key,
        },
      });

      this.$q.loading.hide();
    },
    checkAccountExist(email) {
      let exist = false;
      if (this.accounts) {
        this.accounts.forEach((account) => {
          if (account.email === email) {
            exist = true;
          }
        });
      }
      return exist;
    },
    checkAccount(email) {
      return find(
        this.users,
        (u) => u.email.toLowerCase().trim() === email.toLowerCase().trim()
      )
        ? true
        : false;
    },
    async createAccounts() {
      this.selectedStudents.reduce(async (previousPromise, student) => {
        await previousPromise;
        return new Promise(async (resolve, reject) => {
          if (!this.checkAccount(student.email)) {
            this.$set(this.accountLoading, student.key, true);
            const accountExist = this.checkAccountExist(student.email);
            console.log(accountExist);
            let accountKey;
            if (accountExist) {
              let found = find(this.accounts, { email: student.email });
              accountKey = found.key;
              await this.$store.dispatch("accounts/updateAccount", {
                key: accountKey,
                data: {
                  child: student.key,
                },
              });
            } else {
              const { account } = await this.$store.dispatch(
                "accounts/createAccount",
                {
                  email: student.email.toLowerCase().trim(),
                  data: {
                    email: student.email.toLowerCase().trim(),
                    contact: student.contact,
                    children: [student.key],
                  },
                  studentKey: student.key,
                }
              );
              accountKey = account;
            }
            await this.$store.dispatch("students/updateStudent", {
              key: student.key,
              data: {
                account: accountKey,
              },
            });
            const html = generateAccountEmail(student.childName, student.email);
            const mailData = {
              method: "post",
              url: `${nodeServer}/email/send`,
              data: {
                to: student.email,
                subject: `Start Managing your Child's Journey at First Kick Academy`,
                text: `Start Managing your Child's Journey at First Kick Academy`,
                html,
              },
            };

            await this.$axios(mailData);
            this.selectedStudents = [];
            resolve();

            this.$set(this.accountLoading, student.key, false);
          } else {
            this.$set(this.accountLoading, student.key, false);

            resolve();
          }
        });
      }, Promise.resolve());
    },
  },
};
</script>

<style></style>
