<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ location.name }} {{ headerText }}s</b></q-toolbar-title>
        <q-select
          v-model="selectedAgeGroup"
          :options="ageGroups"
          outlined
          dense
          class="q-mr-xs"
        />
        <q-btn @click.prevent="collapseAll = !collapseAll">{{ collapseAll ? "Expand" : "Collapse" }} All</q-btn>
      </q-toolbar>
    </div>
    <!-- Stats Card -->
    <div class="row items-center">
      <!-- <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <past-months :leads="leads"></past-months>
      </div> -->
      <!-- <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <unassigned :students="$store.state.students.all"></unassigned>
      </div>

      <div class="col-6 col-md-3 q-pr-md q-pb-xs">
        <q-card style="height: 150px">
          <q-card-section>
            <div class="text-caption text-blue-grey-9 q-mb-sm">
              Assigned Students
            </div>
            <h3 class="q-mt-lg ">
              {{ assignedStudents.length }}
            </h3>
          </q-card-section>
        </q-card>
      </div> -->
    </div>
    <!-- End of Stats Card -->
    <template v-for="(students, key) in studentsByClass">
      <class-table
        :key="key"
        :students="students"
        :cla="classes[key]"
        :location="location"
        :collapse="collapseAll"
      ></class-table>
    </template>
  </div>
</template>

<script>
import { mapState } from "vuex";
import groupBy from "lodash/groupBy";
export default {
  async created() {
    await this.$store.dispatch("fees/loadFees");
    await this.initialiseData();
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  data() {
    return {
      headerText: "Classe",
      collapseAll: false,
      selectedAgeGroup: "All",
    };
  },
  computed: {
    ...mapState({
      location: (state) => state.locations.selectedLocation,
      students: (state) => state.students.list,
      classes: (state) => state.classes.listByKey,
    }),
    studentsByClass() {
      let studentsClasses = {};

      if (!this.$q.loading.isActive) {
        let classes = {};
        if (this.students) {
          let students = [...this.students];
          if (this.selectedAgeGroup !== "All") {
            classes = Object.keys(this.classes)
              .filter(
                (key) => this.classes[key].ageGroup === this.selectedAgeGroup
              )
              .reduce((res, key) => ((res[key] = this.classes[key]), res), {});
          } else {
            classes = { ...this.classes };
          }
          classes = Object.keys(classes)
            .sort((a, b) => {
              let timeA = parseInt(
                this.$moment(classes[a].startTime, "h:mm").format("H")
              );
              let timeB = parseInt(
                this.$moment(classes[b].startTime, "h:mm").format("H")
              );
              let setA =
                parseInt(classes[a].ageGroup.split("U")[1]) * 100 + timeA;
              let setB =
                parseInt(classes[b].ageGroup.split("U")[1]) * 100 + timeB;
              return setA < setB ? -1 : 1;
            })
            .reduce((res, key) => ((res[key] = classes[key]), res), {});
          Object.keys(classes).forEach((key) => {
            let studentsInClass = students.filter(
              (s) => s.assignedClassKey === key
            );
            studentsClasses[key] = studentsInClass;
          });
        }
      }

      return studentsClasses;
    },
    ageGroups() {
      let ageGroups = [];
      if (this.classes)
        ageGroups = Object.keys(groupBy(this.classes, "ageGroup")).sort(
          (a, b) =>
            parseInt(a.split("U")[1]) <= parseInt(b.split("U")[1]) ? -1 : 1
        );
      return ["All", ...ageGroups];
    },
  },

  components: {
    ClassTable: () => import("./ClassTable.vue"),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;
      await Promise.all([
        this.$store.dispatch("calendars/loadCalendar", selectedLocation),
        this.$store.dispatch("students/loadStudents", selectedLocation.name),
        this.$store.dispatch("classes/loadClasses", selectedLocation.name),
        this.$store.dispatch("classes/loadAllClasses"),
        this.$store.dispatch("accounts/loadAllUsers"),
      ]);
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
