<template>
  <div class="full-width ">
    <div class="row no-wrap  ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title
          ><b>{{ selectedLocation.name }} {{ headerText }}</b></q-toolbar-title
        >

        <q-input
          dense
          outlined
          rounded
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon v-if="searchText === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <!-- <download-csv :data="classes" v-if="!$q.screen.xs">
          <q-btn color="primary" icon="get_app" class="q-ml-md"> </q-btn>
        </download-csv> -->
      </q-toolbar>
    </div>
    <q-list bordered class="rounded-borders bg-white">
      <q-item class="bg-primary">
        <q-item-section avatar>
          <q-icon name="filter_list" />
        </q-item-section>
        <q-item-section> </q-item-section>
        <q-item-section side
          ><q-select
            outlined
            rounded
            dense
            v-model="timeOfDay"
            :options="['AM', 'PM', 'ALL']"
        /></q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-btn-toggle
            dense
            v-model="selectedAgeGroup"
            spread
            color="secondary"
            text-color="white"
            toggle-color="orange"
            :options="ageGroups"
          />
        </q-item-section>
      </q-item>
      <template v-for="(cla, index) in filteredClasses">
        <q-expansion-item
          :key="index"
          expand-separator
          icon="sports_soccer"
          :label="cla.name"
          caption="John Doe"
        >
          <q-card>
            <q-card-section>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
              eius reprehenderit eos corrupti commodi magni quaerat ex numquam,
              dolorum officiis modi facere maiores architecto suscipit iste
              eveniet doloribus ullam aliquid.
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </template>
    </q-list>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
import orderBy from "lodash/orderBy";
import groupBy from "lodash/groupBy";

//import { VueCsvImport } from "vue-csv-import";
export default {
  async created() {
    await this.initialiseData();

    await this.$store.subscribe((mutation, state) => {
      if (mutation.type === "locations/UPDATE_SELECTED_LOCATION") {
        this.initialiseData();
      }
    });
  },
  data() {
    return {
      headerText: "Classes",
      searchText: "",
      selectedAgeGroup: "All",
      timeOfDay: this.$moment().format("A")
    };
  },

  computed: {
    ...mapState({
      classes: state => state.classes.list,
      selectedLocation: state => state.locations.selectedLocation
    }),
    ageGroups() {
      let ag = [{ value: "All", label: "All" }];
      if (this.classes) {
        const ags = groupBy(this.classes, "ageGroup");
        Object.keys(ags).forEach(key => {
          ag.push({
            label: key,
            value: key
          });
        });
      }
      return ag;
    },
    filteredClasses() {
      let classes = this.classes;
      classes = orderBy(classes, v => v.startTime.split(":")[0], "asc");
      if (this.timeOfDay !== "ALL") {
        classes = filter(classes, v =>
          v.name.includes(this.timeOfDay.toLowerCase())
        );
      }
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        classes = filter(
          classes,
          v => v.name.toLowerCase().indexOf(needle) > -1
        );
      }
      return classes;
    }
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      const selectedLocation = this.$store.state.locations.selectedLocation;
      await this.$store.dispatch("classes/loadClasses", selectedLocation.name);
      this.$q.loading.hide();
    }
  }
};
</script>
