<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-4">
      <q-list
        bordered
        separator
        style="min-height: 80vh"
      >
        <q-item class="bg-orange-5 text-white">
          <q-item-section>
            <q-item-label
              style="font-size: 15px; font-weight: 600"
              class="karla"
            >Locations</q-item-label>
          </q-item-section>
        </q-item>
        <template v-for="loc in locations">
          <template v-if="loc.active">
            <q-item
              v-ripple
              :key="loc.key"
            >
              <q-item-section>{{ loc.name }}</q-item-section>
              <q-item-section side>
                <div class="row">
                  <q-btn
                    flat
                    round
                    icon="edit"
                    @click="openEdit(loc)"
                  />
                </div>
              </q-item-section>
            </q-item>
          </template>
        </template>
      </q-list>
    </div>
    <div class="col-xs-12 col-sm-8">
      <q-card
        flat
        bordered
        style="min-height: 80vh"
      >
        <transition
          appear
          enter-active-class="animated slideInRight"
        >
          <template v-if="type === 'location' && selectedLocation">
            <q-list separator>
              <q-item class="bg-orange-5 text-white">
                <q-item-section>
                  <q-item-label
                    style="font-weight: 600; font-size: 15px"
                    class="karla"
                  >Edit Location Details</q-item-label>
                </q-item-section>
              </q-item>
              <q-item>
                <q-card class="full-width">
                  <q-toolbar class="bg-grey-9 text-white">
                    <q-toolbar-title style="font-size: 14px;">{{ selectedLocation.name }} Location
                      Details</q-toolbar-title>
                    <q-btn
                      flat
                      round
                      dense
                      icon="close"
                      @click="
                        () => {
                          innerType = null;
                          type = null;
                        }
                      "
                    />
                  </q-toolbar>
                  <div class="q-pa-md">
                    <q-form
                      @submit="handleSubmit"
                      class="q-gutter-md"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="off"
                      spellcheck="false"
                    >
                      <q-input
                        outlined
                        v-model="selectedLocation.name"
                        label="Location Name"
                      />
                      <q-input
                        outlined
                        v-model="selectedLocation.address"
                        label="Address"
                      />

                      <div class="row">
                        <template v-for="(ag, index) in ageGroups">
                          <div
                            class="col q-pa-sm text-center"
                            :key="index"
                          >
                            <q-input
                              :key="'name' + index"
                              outlined
                              v-model="ag.name"
                              label="Name"
                              class="q-mb-sm"
                            />

                            <q-input
                              :key="'timeslot' + index + ind"
                              v-for="(ts, ind) in ag.timeSlots"
                              outlined
                              v-model="ag.timeSlots[ind]"
                              label="Time Range"
                            >
                              <template
                                v-slot:append
                                v-if="ind !== 0"
                              >
                                <q-icon
                                  name="close"
                                  @click.prevent="removeTimeSlot(index, ind)"
                                />
                              </template>
                            </q-input>

                            <q-btn
                              round
                              size="sm"
                              icon="add"
                              class="bg-amber-2 q-mt-sm"
                              outline
                              color="amber-9"
                              @click.prevent="addTimeSlot(index)"
                            />
                          </div>
                        </template>
                      </div>
                      <div class="q-mt-xl">
                        <q-btn
                          class="bg-amber-2"
                          outline
                          color="amber-9"
                          rounded
                          label="Submit"
                          type="submit"
                        />
                      </div>
                    </q-form>
                  </div>
                </q-card>
              </q-item>
            </q-list>
          </template>
          <q-card-section v-if="type === null">
            <div class="q-pa-md">
              <div class="q-gutter-sm">
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton type="rect" />
                <q-skeleton height="150px" />
                <q-skeleton type="rect" />
              </div>
            </div>
          </q-card-section>
        </transition>
      </q-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async mounted() {
    this.$q.loading.show();
    await this.$store.dispatch("cms/loadLocations");
    this.$q.loading.hide();
  },
  data() {
    return {
      type: null,
      selectedLocation: null,
      ageGroups: [
        {
          name: "4-6 y.o.",
          timeSlots: [""],
        },
        {
          name: "7-14 y.o.",
          timeSlots: [""],
        },
      ],
    };
  },
  computed: {
    ...mapState({
      locations: (state) => state.locations.list,
      cmsLocations: (state) => state.cms.locations,
    }),
  },
  methods: {
    openEdit(location) {
      this.selectedLocation = { ...location };

      if (this.selectedLocation.ageGroups) {
        this.ageGroups = this.selectedLocation.ageGroups;
      } else if (this.cmsLocations[location.key]) {
        this.selectedLocation = {
          ...this.selectedLocation,
          ...this.cmsLocations[location.key],
        };
        this.ageGroups = this.cmsLocations[location.key].ageGroups;
      } else {
        this.ageGroups = [
          {
            name: "4-6 y.o.",
            timeSlots: [""],
          },
          {
            name: "7-12 y.o.",
            timeSlots: [""],
          },
        ];
      }

      this.type = "location";
    },
    addTimeSlot(index) {
      this.ageGroups[index].timeSlots.push("");
    },
    removeTimeSlot(agIndex, tsIndex) {
      this.ageGroups[agIndex].timeSlots.splice(tsIndex, 1);
    },
    async handleSubmit() {
      this.$q.loading.show();
      const { address, key, logoURL, name } = this.selectedLocation;
      let data = {
        active: true,
        address,
        logoURL,
        name,
        ageGroups: this.ageGroups,
      };
      console.log(data);
      await this.$store.dispatch("locations/updateLocationDetails", {
        key,
        data,
      });
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
