<template>
  <div class="q-mt-md">
    <!-- End of Dialog Box -->
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="store"
            color="orange"
            text-color="white"
          />
          Collected
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredOrders"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
export default {
  props: ["orders"],
  data() {
    return {
      type: null,
      expanded: [],
      searchText: "",
      tableExpand: true,
      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "jerseySize",
          label: "Jersey Size",
          field: "jerseySize",
          sortable: true,
        },
        {
          name: "shortSize",
          label: "Short Size",
          field: "shortSize",
          sortable: true,
        },
        {
          name: "printText",
          label: "Print Text",
          field: "printText",
          sortable: false,
        },
        {
          name: "issuedBy",
          label: "Issued By",
          field: "issuedBy",
          sortable: false,
        },
        {
          name: "dateCollected",
          label: "Collection Date",
          field: (row) => row.dateCollected,
          format: (val) => `${this.$moment(val).format("DD MMM YYYY")}`,
          sortable: false,
        },
      ],
    };
  },

  computed: {
    filteredOrders() {
      let orders = this.orders;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        orders = filter(
          orders,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      return orders;
    },
  },
};
</script>

<style></style>
