<template>
  <div class="full-width">
    <div class="row no-wrap ">
      <q-toolbar class="col-12  text-grey-9">
        <q-toolbar-title><b>{{ headerText }}s</b></q-toolbar-title>
      </q-toolbar>
    </div>

    <!-- Unpaid Table -->
    <unpaid-orders-table
      :orders="unpaidOrders"
      v-if="showUnpaid"
    ></unpaid-orders-table>
    <!-- Paid Table -->
    <paid-orders-table :orders="paidOrders"></paid-orders-table>
    <!-- Ready for Collection Table -->
    <ready-table :orders="readyOrders"></ready-table>
    <!-- Collected Table -->
    <collected-table :orders="collectedOrders"></collected-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
export default {
  async created() {
    await this.initialiseData();
  },
  data() {
    return {
      headerText: "Order",
    };
  },
  computed: {
    ...mapState({
      orders: (state) => state.orders.list,
    }),
    showUnpaid() {
      return ["Manager", "Superadmin"].includes(
        this.$store.state.auth.user.assignedRoles
      );
    },
    unpaidOrders() {
      return filter(this.orders, (o) => o.paymentStatus === "Not Paid");
    },
    paidOrders() {
      return filter(
        this.orders,
        (o) =>
          o.paymentStatus === "Paid" &&
          ["Ready", "Collected"].includes(o.status) === false
      );
    },
    readyOrders() {
      return filter(this.orders, (o) => o.status === "Ready");
    },
    collectedOrders() {
      return filter(this.orders, (o) => o.status === "Collected");
    },
  },

  components: {
    PaidOrdersTable: () => import("./PaidOrdersTable.vue"),
    UnpaidOrdersTable: () => import("./UnpaidOrdersTable.vue"),
    ReadyTable: () => import("./ReadyTable.vue"),
    CollectedTable: () => import("./CollectedTable.vue"),
  },
  methods: {
    async initialiseData() {
      this.$q.loading.show();
      await Promise.all([
        this.$store.dispatch("students/loadAllStudents"),
        this.$store.dispatch("orders/loadOrders"),
      ]);
      this.$q.loading.hide();
    },
  },
};
</script>

<style></style>
