<template>
  <Drawer
    title="New Order"
    :show="dialog"
    :onClose="close"
  >
    <FormGenerator
      :formConfig="formConfig"
      :onComplete="handleSubmit"
      :customLists="customLists"
      :data="order"
    />
  </Drawer>
</template>

<script>
import { formConfig } from "../../forms/order";
import { mapState } from "vuex";
export default {
  props: ["dialog", "closeDialog", "order", "type"],
  components: {
    Drawer: () => import("../../components/Drawer"),
    FormGenerator: () => import("../../components/FormGenerator"),
  },

  data() {
    return {
      formConfig,
    };
  },
  computed: {
    ...mapState({
      students: (state) => state.students.all,
    }),
    customLists() {
      let customLists = {};
      customLists["students"] = this.students;
      return customLists;
    },
  },
  methods: {
    close() {
      this.closeDialog();
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      let found = this.students.find((s) => s.key === data["studentKey"]);
      let orderDetails = {
        studentKey: found.key,
        childName: found.childName,
        email: found.email,
        jerseySize: data.jerseySize,
        shortSize: data.shortSize,
        printText: data.printText,
        paymentStatus: data.paymentStatus ? "Paid" : "Not Paid",
        paymentReceived: data.paymentReceived,
        registrationKit: data.registrationKit,
        siblingDiscount: data.siblingDiscount,
      };
      if (data.registrationKit === "" || data.registrationKit === false) {
        orderDetails = {
          ...orderDetails,
          amount: "55",
          type: "Order Kit",
          date: this.$moment().format("YYYY-MM-DD"),
        };
      } else {
        orderDetails = {
          ...orderDetails,
          amount: data.siblingDiscount ? "60" : "80",
          type: "Registration Fee",
          date: this.$moment().format("YYYY-MM-DD"),
        };
      }
      if (this.type === "add") {
        await this.$store.dispatch("payments/addPayment", orderDetails);
        this.$q.notify({
          type: "positive",
          message: `Order Added!`,
        });
      } else if (this.type === "edit") {
        await this.$store.dispatch("payments/updatePayment", {
          key: this.order.key,
          data: orderDetails,
        });
        this.$q.notify({
          type: "positive",
          message: `Order Updated!`,
        });
      }

      this.$q.loading.hide();
      this.closeDialog();
    },
  },
};
</script>

<style></style>
