<template>
  <div class="q-mt-md">
    <!-- Dialog box for Order Form -->
    <template v-if="oDialog">
      <order-dialog
        :dialog="oDialog"
        :closeDialog="closeDialog"
        :type="selectedType"
        :order="selectedStudent"
      ></order-dialog>
    </template>
    <!-- Dialog box for Ready Confirmation -->
    <q-dialog
      v-model="confirm"
      persistent
    >
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <q-avatar
            icon="check"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm">Collection Details</span>
          <q-space></q-space>
          <q-btn
            icon="close"
            flat
            round
            dense
            v-close-popup
          />
        </q-card-section>
        <q-card-section class="row items-center">

          <FormGenerator
            :formConfig="formConfig"
            :onComplete="handleSubmit"
          />
        </q-card-section>

      </q-card>
    </q-dialog>
    <!-- End of Dialog Box -->
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="price_check"
            class="bg-light-green-4"
            text-color="white"
          />
          To Print
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
        <q-btn
          icon="add"
          class="q-ml-xs"
          color="primary"
          @click.prevent="addOrder"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Add Order
          </q-tooltip>
        </q-btn>
        <q-btn
          icon="check"
          class="q-ml-xs"
          color="primary"
          @click.prevent="openConfirmMultiple"
        >
          <q-tooltip
            class="bg-indigo"
            :offset="[10, 10]"
          >
            Ready For Collection
          </q-tooltip>
        </q-btn>
      </div>

    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredOrders"
      :columns="columns"
      :pagination="pagination"
      selection="multiple"
      :selected.sync="selectedStudents"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width>
            <q-checkbox v-model="props.selected" />
          </q-th>

          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-checkbox v-model="props.selected" />
          </q-td>

          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <template v-if="col.name === 'printText'">
              <q-chip
                outline
                color="orange"
                text-color="white"
                icon-right="star"
              >{{ col.value }}
              </q-chip>
            </template>
            <template v-else>
              {{ col.value }}
            </template>
          </q-td>
          <q-td>

            <q-btn
              size="12px"
              flat
              dense
              round
              icon="more_vert"
            >
              <q-menu>
                <q-list style="min-width: 100px">
                  <q-item
                    clickable
                    @click.prevent="editOrder(props.row)"
                  >
                    <q-item-section>Edit</q-item-section>
                  </q-item>
                  <q-item
                    clickable
                    @click.prevent="deleteOrder(props.row.key)"
                  >
                    <q-item-section>Delete</q-item-section>
                  </q-item>

                </q-list>
              </q-menu>
            </q-btn>

            <q-btn
              flat
              color="black"
              icon="check_circle"
              @click.prevent="openConfirm(props.row)"
            >
              <q-tooltip>
                Ready for Collection
              </q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import { formConfig } from "../../forms/collection";
export default {
  props: ["orders"],
  components: {
    OrderDialog: () => import("./OrderDialog"),
    FormGenerator: () => import("../../components/FormGenerator"),
  },
  data() {
    return {
      formConfig,
      type: null,
      searchText: "",
      confirm: false,
      tableExpand: true,
      selectedStudents: [],
      selectedStudent: null,
      selectedType: null,
      oDialog: false,
      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "jerseySize",
          label: "Jersey Size",
          field: "jerseySize",
          sortable: true,
        },
        {
          name: "shortSize",
          label: "Short Size",
          field: "shortSize",
          sortable: true,
        },
        {
          name: "sockSize",
          label: "Socks Size",
          field: "jerseySize",
          format: (val) => {
            if (val) {
              if (val.includes("U6")) {
                return "27 - 30";
              } else if (val.includes("U8") || val.includes("U10")) {
                return "31 - 34";
              } else if (val.includes("U12")) {
                return "35 - 38";
              } else if (
                ["14-15 (161-172cm)", "Adult S", "Adult M", "Adult L"].includes(
                  val
                )
              ) {
                return "35-38";
              }
            }

            return "-";
          },
          sortable: true,
        },
        {
          name: "printText",
          label: "Print Text",
          field: "printText",
          sortable: false,
        },
        {
          name: "date",
          label: "Date",
          field: "date",
          field: (row) => row.date,
          format: (val) => `${this.$moment(val).format("ddd DD-MM-YYYY")}`,
          sortable: true,
        },
      ],
    };
  },

  computed: {
    filteredOrders() {
      let orders = this.orders;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        orders = filter(
          orders,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      return orders;
    },
  },
  methods: {
    addOrder() {
      this.selectedType = "add";
      this.oDialog = true;
    },
    editOrder(student) {
      this.selectedStudent = student;
      this.selectedType = "edit";
      this.oDialog = true;
    },
    closeDialog() {
      this.oDialog = false;
    },
    openConfirm(order) {
      this.selectedStudents.push(order);
      this.confirm = true;
    },
    openConfirmMultiple() {
      this.confirm = true;
    },
    generateCode(n) {
      let add = 1,
        max = 12 - add; // 12 is the min safe number Math.random() can generate without it starting to pad the end with zeros.

      if (n > max) {
        return generate(max) + generate(n - max);
      }

      max = Math.pow(10, n + add);
      let min = max / 10; // Math.pow(10, n) basically
      let number = Math.floor(Math.random() * (max - min + 1)) + min;

      return ("" + number).substring(add);
    },
    deleteOrder(key) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you like to delete this order?",
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          await this.$store.dispatch("payments/deletePayment", key);
          this.$q.notify({
            type: "positive",
            message: `Orders Deleted!`,
          });
        });
    },
    async handleSubmit(data) {
      this.$q.loading.show();
      this.selectedStudents
        .reduce(async (chain, student) => {
          await chain;
          return new Promise(async (resolve, reject) => {
            const verificationCode = this.generateCode(6);
            const { dateOfCollection, collectionTime } = data;
            await this.$store.dispatch("orders/updateOrder", {
              key: student.key,
              data: {
                status: "Ready",
                dateReady: this.$moment().format(),
                verificationCode,
                dateOfCollection: this.$moment(
                  dateOfCollection,
                  "YYYY-MM-DD"
                ).format("Do MMM YYYY (ddd)"),
                collectionTime,
              },
            });

            resolve();
          });
        }, Promise.resolve())
        .then((res) => {
          this.selectedStudents = [];
          this.confirm = false;
          this.$q.loading.hide();
        });
    },
  },
};
</script>

<style></style>
