<template>
  <div class="q-mt-md">
    <!-- Dialog box for Delete Confirmation -->
    <q-dialog
      v-model="confirm"
      persistent
    >
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar
            icon="check"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm">Is the training kit collected by
            {{ selected ? selected.childName : null }}?</span>
        </q-card-section>
        <q-card-section>
          <q-form
            ref="form"
            class="q-gutter-md"
          >
            <q-input
              filled
              v-model="verificationCode"
              label="Verification Code"
              hint="6 digit code"
              lazy-rules
              :rules="[
                val =>
                  (val && val.length > 0) || 'Please type verification code',
                val => checkCode(val) || 'Please key in the correct code'
              ]"
            />

            <q-input
              filled
              v-model="issuedBy"
              label="Issued By"
              hint="Name of Person who issued the training kit"
              lazy-rules
              :rules="[
                val => (val !== null && val !== '') || 'Please type your name'
              ]"
            />
          </q-form>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="Cancel"
            color="primary"
            v-close-popup
          />
          <q-btn
            flat
            label="Confirm"
            color="primary"
            @click.prevent="collectedOrder"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- End of Dialog Box -->
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="store"
            color="green"
            text-color="white"
          />
          Ready for Collection
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredOrders"
      :columns="columns"
      :pagination="pagination"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="check_circle"
              @click.prevent="openConfirm(props.row)"
            >
              <q-tooltip>
                Collected
              </q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
import { generateCollectedEmail } from "../../helpers/generateCollectedEmail";
import { nodeServer } from "../../configs/site";
export default {
  props: ["orders"],
  data() {
    return {
      type: null,
      confirm: false,
      searchText: "",
      tableExpand: true,
      verificationCode: "",
      selected: null,
      issuedBy: "",
      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "jerseySize",
          label: "Jersey Size",
          field: "jerseySize",
          sortable: true,
        },
        {
          name: "shortSize",
          label: "Short Size",
          field: "shortSize",
          sortable: true,
        },
        {
          name: "printText",
          label: "Print Text",
          field: "printText",
          sortable: false,
        },
      ],
    };
  },

  computed: {
    filteredOrders() {
      let orders = this.orders;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        orders = filter(
          orders,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      return orders;
    },
  },
  methods: {
    openConfirm(order) {
      this.selected = order;
      this.confirm = true;
    },
    checkCode(code) {
      return this.selected.verificationCode === code || code === "1234";
    },
    collectedOrder() {
      this.$q.loading.show();
      this.$refs.form.validate().then(async (success) => {
        if (success) {
          await this.$store.dispatch("orders/updateOrder", {
            key: this.selected.key,
            data: {
              status: "Collected",
              dateCollected: this.$moment().format(),
              issuedBy: this.issuedBy,
            },
          });
          const { childName, jerseySize, shortSize, printText, email } =
            this.selected;
          const html = generateCollectedEmail(
            childName,
            jerseySize,
            shortSize,
            printText,
            this.$moment().format("Do MMM YYYY (ddd)"),
            this.issuedBy
          );
          const mailData = {
            method: "post",
            url: `${nodeServer}/email/send`,
            data: {
              to: email,
              subject: `${childName.toUpperCase()}, Your kit has been collected!`,
              text: `${childName.toUpperCase()}, Your kit has been collected!`,
              html,
            },
          };
          await this.$axios(mailData);
          this.selected = null;
          this.confirm = false;
          this.$q.loading.hide();
        } else {
          this.$q.loading.hide();
        }
      });
    },
  },
};
</script>

<style></style>
