<template>
  <div class="q-mt-md">
    <!-- Dialog box for Order Form -->
    <template v-if="oDialog">
      <order-dialog
        :dialog="oDialog"
        :closeDialog="closeDialog"
        :order="selectedOrder"
        type="edit"
      ></order-dialog>
    </template>
    <!-- End of Dialog Box -->
    <div class="flex items-center justify-between">
      <div>
        <q-chip
          square
          size="18px"
        >
          <q-avatar
            icon="add_shopping_cart"
            color="red"
            text-color="white"
          />
          Unpaid
        </q-chip>
        <q-btn
          round
          color="black"
          :icon="tableExpand ? 'arrow_drop_down' : 'arrow_right'"
          size="sm"
          @click.prevent="tableExpand = !tableExpand"
        />
      </div>
      <div class="flex">
        <q-input
          dense
          outlined
          v-model="searchText"
          input-class="text-right"
          class="q-ml-md"
        >
          <template v-slot:append>
            <q-icon
              v-if="searchText === ''"
              name="search"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchText = ''"
            />
          </template>
        </q-input>
      </div>
    </div>
    <q-table
      v-show="tableExpand"
      title=""
      :data="filteredOrders"
      :columns="columns"
      :pagination="pagination"
      :expanded.sync="expanded"
      row-key="key"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <b>{{ col.label }}</b>
          </q-th>
          <q-th auto-width><b>Actions</b></q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td>
            <q-btn
              flat
              color="black"
              icon="create"
              @click.prevent="openDialog(props.row)"
            >
              <q-tooltip>
                Edit Order Details
              </q-tooltip>
            </q-btn>
            <q-btn
              flat
              color="black"
              icon="delete"
              @click.prevent="deleteOrder(props.row.key)"
            >
              <q-tooltip>
                Delete Order
              </q-tooltip>
            </q-btn>
          </q-td>
        </q-tr>
        <q-tr
          v-show="props.expand"
          :props="props"
          class="bg-yellow-1"
        >
          <q-td colspan="100%">
            <div class="row items-center">
              <div class="col-12 col-md-2">
                <q-icon
                  name="pending_actions"
                  style="font-size: 2em;"
                />
                <span class="text-subtitle2">Assign Class</span>
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import filter from "lodash/filter";
export default {
  props: ["orders"],
  components: {
    OrderDialog: () => import("./OrderDialog"),
  },
  data() {
    return {
      type: null,
      expanded: [],
      searchText: "",
      tableExpand: true,
      selectedOrder: null,
      oDialog: false,

      pagination: {
        sortBy: "childName",
        descending: true,
        rowsPerPage: 10,
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "desc",
          required: true,
          label: "Name",
          align: "left",
          field: (row) => row.childName,
          format: (val) => `${val.toUpperCase()}`,
          sortable: true,
        },
        {
          name: "jerseySize",
          label: "Jersey Size",
          field: "jerseySize",
          sortable: true,
        },
        {
          name: "shortSize",
          label: "Short Size",
          field: "shortSize",
          sortable: true,
        },
        {
          name: "printText",
          label: "Print Text",
          field: "printText",
          sortable: false,
        },
        {
          name: "date",
          label: "Date Ordered",
          field: (row) => row.date,
          format: (val) => `${this.$moment(val).format("DD MMM YYYY")}`,
          sortable: false,
        },
      ],
    };
  },

  computed: {
    filteredOrders() {
      let orders = this.orders;
      if (this.searchText !== "") {
        const needle = this.searchText.toLowerCase();
        orders = filter(
          orders,
          (v) => v.childName && v.childName.toLowerCase().indexOf(needle) > -1
        );
      }
      return orders;
    },
  },
  methods: {
    closeDialog() {
      this.oDialog = false;
    },
    openDialog(order) {
      this.selectedOrder = { ...order };
      this.oDialog = true;
    },
    deleteOrder(key) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you like to delete this order?",
          cancel: true,
          persistent: true,
        })
        .onOk(async () => {
          await this.$store.dispatch("payments/deletePayment", key);
          this.$q.notify({
            type: "positive",
            message: `Orders Deleted!`,
          });
        });
    },
  },
};
</script>

<style></style>
