<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg-white text-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          <div class="toolbar-title" @click="$router.push('/')">
            <img
              src="~/assets/logo.png"
              alt="First Kick Academy Logo"
              width="40px"
            />
          </div>
        </q-toolbar-title>
        <q-select
          :options="userLocations"
          v-model="selectedLocation"
          option-label="name"
          style="width: 120px"
          borderless
          @input="updateSelectedLocation"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-orange-1"
      :width="250"
    >
      <q-toolbar></q-toolbar>
      <q-list>
        <template v-for="link in essentialLinks">
          <template
            v-if="
              $store.state.auth.user &&
                link.roles.includes($store.state.auth.user.assignedRoles)
            "
          >
            <template v-if="link.type === 'parent'">
              <q-expansion-item
                :key="link.title"
                expand-separator
                :icon="link.icon"
                :label="link.title"
              >
                <EssentialLink
                  v-bind="child"
                  v-for="child in link.children"
                  :key="child.title"
                />
              </q-expansion-item>
            </template>
            <template v-else>
              <EssentialLink :key="link.title" v-bind="link" />
            </template>
          </template>
        </template>

        <q-separator spaced />
        <q-item>
          <q-btn @click="logout" color="primary" unelevated>Logout</q-btn>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="bg-grey-2">
      <div class="q-ma-md">
        <template v-if="!selectedLocation">
          <q-page class="flex flex-center">
            <q-spinner-ball color="accent" size="5em" />
          </q-page>
        </template>
        <template v-else-if="!authRoute">
          <q-page class="flex flex-center" :style-fn="myTweak">
            <q-card flat>
              <q-card-section>
                <div class="text-center">
                  <q-icon
                    name="sentiment_satisfied"
                    size="100px"
                    color="blue"
                  />
                  <h4>Sorry, you are not authorised to view this page</h4>
                </div>
              </q-card-section>
            </q-card>
          </q-page>
        </template>
        <template v-else>
          <q-page :style-fn="myTweak">
            <router-view />
          </q-page>
        </template>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import { links } from "../configs/site";
export default {
  components: {
    EssentialLink: () => import("components/EssentialLink"),
    Breadcrumbs: () => import("components/Breadcrumbs")
  },
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: links,
      selectedLocation: null
    };
  },
  computed: {
    userLocations() {
      let userLocations = this.$store.state.locations.userLocations;
      if (userLocations) {
        userLocations = userLocations.filter(loc => loc.active);
        this.selectedLocation = this.$store.state.locations.selectedLocation;
        return Object.keys(userLocations).map(key => userLocations[key]);
      } else return [];
    },
    authRoute() {
      let auth = false;
      if (this.$store.state.auth.user) {
        let route = null;
        let found = false;
        links.forEach(l => {
          if (!found) {
            if (l.type === "parent") {
              const link = l.children.find(cl => cl.link === this.$route.path);
              route = link ? link : null;
            } else {
              if (l.link === this.$route.path) {
                route = l;
              }
            }
            found = route ? true : false;
          }
        });
        return route
          ? route.roles.includes(this.$store.state.auth.user.assignedRoles)
          : false;
      }
      return auth;
    }
  },
  methods: {
    async logout() {
      await this.$firebase.auth().signOut();
      this.$router.push("/login").catch(err => {});
    },
    myTweak(offset) {
      return { minHeight: offset ? `calc(100vh - ${offset}px)` : "100vh" };
    },
    updateSelectedLocation(location) {
      this.$store.commit("locations/UPDATE_SELECTED_LOCATION", location);
    }
  }
};
</script>

<style>
.toolbar-title {
  padding-top: 8px;
  cursor: pointer;
}
</style>
