<template>
  <div class="row full-width">
    <div class="col-xs-12 col-sm-4">
      <blog-list :updateSelected="updateSelected"></blog-list>
    </div>

    <div class="col-xs-12 col-sm-8">
      <blog-form
        :type="type"
        :blog="blog"
        :blogKey="blogKey"
        :updateSelected="updateSelected"
      ></blog-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      type: null,
      blog: null,
      blogKey: null,
    };
  },
  components: {
    BlogList: () => import("./BlogList"),
    BlogForm: () => import("./BlogForm"),
  },
  methods: {
    updateSelected(type, blog, key) {
      this.type = type;
      this.blog = blog;
      this.blogKey = key;
    },
  },
};
</script>
